@import models.project.Project
@import models.user.User
@import ore.permission.EditSettings
@(model: Project, editable: Boolean = false)(implicit messages: Messages, session: play.api.mvc.Session)

@if(model.members.nonEmpty) {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@messages("project.settings.members")</h3>
            @if(editable && User.current.isDefined && (User.current.get can EditSettings in model)) {
                <a href="#"><i class="fa fa-plus pull-right new-page"></i></a>
            }
        </div>
        <ul class="list-members list-group">
        @model.members.map { member =>
            <li class="list-group-item">

                @if(member.user.isDefined) {
                    <a href="@routes.Application.showUser(member.name)">@member.name</a>

                    @if(editable) {
                        <a href="#"><i class="fa fa-trash"></i></a>
                        <a href="#"><i class="fa fa-edit"></i></a>
                    }

                    <span class="minor pull-right">@member.roles.head.roleType.title</span>
                } else {
                    <span class="minor">@member.name</span>
                }

            </li>
        }
        </ul>
    </div>
}
