@import controllers.project.{routes => projectRoutes}
@import models.project.Project
@import models.user.User
@import ore.permission.EditSettings
@import ore.permission.role.RoleTypes
@import views.html.helper.form
@(model: Project, editable: Boolean = false)(implicit messages: Messages, session: play.api.mvc.Session)

@canEdit = @{
    editable && User.current.isDefined && (User.current.get can EditSettings in model)
}

@if(model.members.nonEmpty) {

    @if(canEdit) {
        <script type="text/javascript" src="@routes.Assets.at("javascripts/userSearch.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/memberList.js")"></script>
        @projects.members.util.roleSelect("", "select-role", "pull-right", hidden = true)
        <!-- Row template -->
        <ul style="display: none;">
            <li id="row-user" class="list-group-item">
                <input type="hidden" />
                <i class="fa fa-times user-cancel user-cancel2"></i>
                <a></a>
                @projects.members.util.roleSelect("", classes="pull-right")
            </li>
        </ul>
        <!-- Delete modal -->
        <div class="modal fade" id="modal-user-delete" tabindex="-1" role="dialog" aria-labelledby="label-user-delete">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="label-user-delete">Modal title</h4>
                    </div>
                    <div class="modal-body">Are you sure you want to remove this user?</div>
                    <div class="modal-footer">
                        @form(action = projectRoutes.Projects.removeMember(model.ownerName, model.slug),
                            'class -> "form-inline") {
                            <input type="hidden" name="username" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Remove</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@messages("project.settings.members")</h3>
        </div>
        <ul class="list-members list-group">
            <!-- Member list -->
            @model.members.map { member =>
                <li class="list-group-item">

                    <a class="username" href="@routes.Users.show(member.name)">@member.name</a>

                    @if(canEdit && !member.headRole.roleType.equals(RoleTypes.ProjectOwner)) {
                        <a href="#">
                            <i class="fa fa-trash" data-toggle="modal" data-target="#modal-user-delete"></i>
                        </a>
                        <a href="#"><i class="fa fa-edit"></i></a>
                    }

                    <span class="minor pull-right">@member.headRole.roleType.title</span>

                </li>
            }

            <!-- User search -->
            @if(canEdit) {
                <li class="list-group-item">
                    @projects.members.util.userSearch()
                </li>
            }

        </ul>
    </div>
}
