@import models.user.User
@(user: User, call: Call = null, clazz: String = "", attr: Map[String, String] = Map(), href: String = null)

@src = @{
    if (call == null) {
        if (user != null)
            user.avatarUrl.getOrElse("")
        else
            ""
    } else
        call.url
}

@url = @{
    if (href != null)
        href
    else if (user == null)
        "#"
    else
        routes.Users.showProjects(user.name, None).url
}

@name = @{
    if (user == null)
        ""
    else
        user.name
}

<a href="@url" @for((k, v) <- attr) { @(s"$k=$v") }>
    <img class="user-avatar @clazz" title="@name" src="@src" />
</a>
