@(userName: Option[String], avatarUrl: String = "", call: Call = null, clazz: String = "", attr: Map[String, String] = Map(), href: String = null)

@src = @{
    if (call == null) {
        if (userName.nonEmpty)
            avatarUrl
        else
            ""
    } else
        call.url
}

@url = @{
    if (href != null)
        href
    else if (userName.isEmpty)
        "#"
    else
        routes.Users.showProjects(userName.get, None).url
}

@name = @{
    if (userName.isEmpty)
        ""
    else
        userName
}

<a href="@url" @for((k, v) <- attr) { @(s"$k=$v") }>
    <img class="user-avatar @clazz" title="@name" src="@src" />
</a>
