@()

<div class="alert-file file-project pull-right" style="display: none;">
    <div class="alert alert-info pull-left">
        <i class="fa fa-file-archive-o"></i>
        <strong class="file-name"></strong>
        <span class="file-size pull-right"></span>
    </div>
    <div class="file-upload pull-right">
        <button data-toggle="tooltip" data-placement="right" title="Upload plugin" type="submit" name="submit"
                form="form-upload"
                class="btn btn-success btn-block">
            <i class="fa fa-upload"></i>
        </button>
    </div>
</div>
