@import _root_.util.OreConfig
@import controllers.project.{routes => projectRoutes}
@import db.ModelService
@import forums.DiscourseApi
@import models.project.Flag
@(flags: Seq[Flag])(implicit messages: Messages, session: Session, request: RequestHeader,
        service: ModelService, forums: DiscourseApi, config: OreConfig)

@core.layout("Flags") {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/flags.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/hideProject.js")"></script>

    <div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col-md-12 header-flags">
                <h2 class="minor no-flags" @if(flags.nonEmpty) { style="display: none;" }>
                    <i class="fa fa-thumbs-o-up"></i> There are no flags to review.
                </h2>
                
                @if(flags.nonEmpty) {
                    <button class="btn-resolve-all btn btn-primary pull-right">
                        <i class="fa fa-check"></i> <strong>Mark all resolved</strong>
                    </button>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group list-flags-admin">
                    @flags.map { flag =>
                        <li data-flag-id="@flag.id.get" class="list-group-item">
                            <span class="description">
                                <a href="@routes.Users.show(flag.user.username)">
                                    <img class="user-avatar" width="32" height="32" src="@flag.user.avatarUrl()" />
                                    <strong>@flag.user.username</strong>
                                </a>
                                <span class="minor"> reported </span>
                                <a href="@projectRoutes.Projects.show(flag.project.ownerName, flag.project.slug)">
                                    @flag.project.ownerName/<strong>@flag.project.slug</strong>
                                </a>
                                <span class="minor"> for </span>
                                <strong>@flag.reason.title</strong>
                            </span>
                            <span class="pull-right btn-group-sm">
                                <a target="_blank" href="https://forums.spongepowered.org/users/@flag.user.username" class="btn btn-default">
                                    <i class="fa fa-reply"></i> Message user
                                </a>
                                <a target="_blank" href="https://forums.spongepowered.org/users/@flag.project.ownerName" class="btn btn-default">
                                    <i class="fa fa-reply"></i> Message project owner
                                </a>
                                @projects.util.btnHide(flag.project)
                                <button type="submit" class="btn btn-primary btn-resolve">
                                    <i class="fa fa-check"></i> <strong>Mark resolved</strong>
                                </button>
                            </span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

}
