@import db.ModelService
@import ore.OreConfig
@import db.impl.access.UserBase
@()(implicit messages: Messages, request: Request[_], service: ModelService, config: OreConfig, users: UserBase)

@bootstrap.layout(messages("project.competition.title")) {

    <div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col-md-12">
                <h1>@messages("project.competition.active")</h1>

                <div class="list-group-item">
                    <p>@messages("project.competition.active.none")</p>
                    <a href="@controllers.project.routes.Competitions.showCreator()">
                    @messages("project.competition.active.create")
                    </a>
                </div>
            </div>
        </div>
    </div>

}
