@import db.ModelService
@import db.impl.access.UserBase
@import models.project.Competition
@import ore.OreConfig
@import java.sql.Timestamp
@import java.time.ZoneId
@import java.time.format.DateTimeFormatter
@import java.time.ZonedDateTime
@import scala.collection.JavaConverters._
@import views.html.helper.form
@()(implicit messages: Messages, request: Request[_], service: ModelService, config: OreConfig, users: UserBase,
        flash: Flash)

@competitions = @{
    service.access[Competition](classOf[Competition])
}

@formatTime(competition: Competition) = @{
    val seconds = competition.timeRemaining.toSeconds
    "%dd %d:%02d:%02d".format(seconds / 86400, (seconds % 86400) / 3600, (seconds % 3600) / 60, seconds % 60)
}

@formatDate(ts: Timestamp, timeZone: String) = @{
    DateTimeFormatter.ofPattern(config.competitions.getString("date.format").get)
            .format(ZonedDateTime.ofInstant(ts.toInstant, ZoneId.of(timeZone)))
}

@maybeChecked(b: Boolean) = @{
    if (b) "checked" else ""
}

@bootstrap.layout(messages("project.competition.title")) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/competitionManage.js")"></script>

    <div class="container" style="margin-top: 90px;">
        <div class="row header-competitions">
            <div class="col-md-6">
                <h1>@messages("project.competition.active")</h1>
            </div>
            <div class="col-md-6">
                <a href="@controllers.project.routes.Competitions.showCreator()" class="pull-right btn btn-success">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                @utils.alert("error")
                @utils.alert("success")

                @if(competitions.isEmpty) {
                    <div class="list-group-item">
                        <p>@messages("project.competition.active.none")</p>
                        <a href="@controllers.project.routes.Competitions.showCreator()">
                        @messages("project.competition.active.create")
                        </a>
                    </div>
                } else {
                    <div class="list-competitions">
                        @competitions.all.map { competition =>
                          <li class="list-group-item">
                              <h4 class="pull-left">
                                  @competition.name
                                  <a class="competition-expand" href="#"><i class="fa fa-chevron-right"></i></a>
                              </h4>
                              <h4 class="counter pull-right">@formatTime(competition)</h4>
                              <div class="clearfix"></div>

                              <div class="competition-drawer">
                                  @form(action = controllers.project.routes.Competitions.save(competition.id.get)) {
                                      <a href="#" class="competition-delete"><i class="fa fa-trash"></i></a>

                                      <div class="row">
                                          <div class="col-md-4">
                                              <div class="setting setting-no-border">
                                                  <h4>@messages("project.competition.create.startDate")</h4>
                                                  <input type="datetime-local" name="start-date"
                                                         value="@formatDate(
                                                             competition.startDate,
                                                             competition.timeZone)"
                                                         required />
                                              </div>

                                              <div class="setting setting-no-border">
                                                  <h4>@messages("project.competition.create.endDate")</h4>
                                                  <input type="datetime-local" name="end-date"
                                                         value="@formatDate(
                                                             competition.endDate,
                                                             competition.timeZone)"
                                                         required />

                                                  <select name="time-zone" required>
                                                  @for(id <- ZoneId.getAvailableZoneIds.asScala.toList.sorted) {
                                                      <option value="@id" @if(id.equals(competition.timeZone)) {
                                                          selected
                                                      }>
                                                        @id
                                                      </option>
                                                  }
                                                  </select>
                                              </div>
                                          </div>
                                          <div class="col-md-4 col-drawer">
                                              <table>
                                                  <tr>
                                                      <td>
                                                          <label for="enable-voting">
                                                          @messages("project.competition.create.enableVoting")
                                                          </label>
                                                      </td>
                                                      <td>
                                                          <input name="enable-voting" type="checkbox" @maybeChecked(competition.isVotingEnabled) value="true" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <label for="staff-only">
                                                          @messages("project.competition.create.staffOnly")
                                                          </label>
                                                      </td>
                                                      <td>
                                                          <input name="staff-only" type="checkbox" @maybeChecked(competition.isStaffVotingOnly) value="true" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <label for="show-vote-count">
                                                          @messages("project.competition.create.showVoteCount")
                                                          </label>
                                                      </td>
                                                      <td>
                                                          <input name="show-vote-count" type="checkbox" @maybeChecked(competition.shouldShowVoteCount) value="true" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <label for="source-required">
                                                          @messages("project.competition.create.sourceRequired")
                                                          </label>
                                                      </td>
                                                      <td>
                                                          <input name="source-required" type="checkbox" @maybeChecked(competition.isSourceRequired) value="true" />
                                                      </td>
                                                  </tr>
                                              </table>
                                          </div>
                                          <div class="col-md-4 col-drawer">
                                              <table>
                                                  <tr>
                                                      <td>
                                                          <label for="default-votes">
                                                            @messages("project.competition.create.defaultVotes")
                                                          </label>
                                                      </td>
                                                      <td>
                                                          <input name="default-votes" type="number" min="0" value="@competition.defaultVotes" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <label for="staff-votes">
                                                          @messages("project.competition.create.staffVotes")
                                                          </label>
                                                      </td>
                                                      <td>
                                                          <input name="staff-votes" type="number" min="0" value="@competition.staffVotes" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <label for="default-entries">
                                                          @messages("project.competition.create.defaultEntries")
                                                          </label>
                                                      </td>
                                                      <td>
                                                          <input name="default-entries" type="number" min="0" value="@competition.allowedEntries">
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <label for="max-entries-total">
                                                          @messages("project.competition.create.maxEntriesTotal")
                                                          </label>
                                                      </td>
                                                      <td>
                                                          <input name="max-entries-total" type="number" min="0" value="@competition.maxEntryTotal">
                                                      </td>
                                                  </tr>
                                              </table>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <button type="submit" class="pull-right btn btn-success">
                                            @messages("general.save")
                                          </button>
                                      </div>
                                  }
                              </div>
                          </li>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

}
