@import db.impl.access.CompetitionBase
@import db.impl.access.UserBase
@import ore.OreConfig
@import db.ModelService
@import models.competition.Competition
@import _root_.views.html.projects.{list => projectList}
@import db.impl.access.ProjectBase
@import ore.permission.EditCompetitions
@import ore.permission.scope.GlobalScope
@(competition: Competition, page: Int = 1, pageSize: Int)(implicit messages: Messages, request: Request[_],
        service: ModelService, config: OreConfig, users: UserBase, competitions: CompetitionBase,
        projectBase: ProjectBase, flash: Flash)

@compRoutes = @{
    controllers.project.routes.Competitions
}

@hasBanner = @{
    competitions.getBannerPath(competition).isDefined
}

@entries = @{
    competition.entries.all
}

@bootstrap.layout(messages("competition.title")) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/competition.js")"></script>
    <script>competitionId = '@competition.id.get';</script>

    <div class="container comp-container" style="margin-top: 90px;">
        <div class="row">
            @utils.alert("error")
        </div>
        <div class="row">
            <div class="comp-header">
                @if(users.current.isDefined && (users.current.get can EditCompetitions in GlobalScope)) {
                    <div class="sponsor banner @if(hasBanner) { banner-some }">
                        <input type="file" name="banner" style="display: none;"/>
                        <div class="banner-edit">
                            <a href="#" class="banner-upload">
                                <i class="fa fa-edit"></i>
                                @messages("competition.editBanner")
                            </a>
                        </div>

                        @if(hasBanner) {
                            <img class="banner-image" src="@compRoutes.showBanner(competition.id.get)" />
                        } else {
                            <div class="banner-none">
                                <a href="#" class="banner-upload">
                                    <i class="fa fa-plus"></i>
                                    @messages("competition.addBanner")
                                </a>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                } else {
                    <h1>@competition.name</h1>
                }
            </div>
        </div>
        <div class="row">
            <div class="pull-right form-inline">
                @helper.form(action = compRoutes.submitProject(competition.id.get)) {
                    @if(users.current.isDefined && users.current.get.projects.nonEmpty) {
                        <select class="form-control" name="project">
                            <option selected value="-1">@Html(messages("competition.submit.selectProject"))</option>
                            @users.current.get.projects.all.map { project =>
                                <option value="@project.id.get">@project.name</option>
                            }
                        </select>
                    }
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-plus"></i> @messages("competition.submit")
                    </button>
                }
            </div>
        </div>
        <div class="row">
            @if(entries.nonEmpty) {
                @projectList(
                    models = entries.map(_.project).toSeq,
                    page = page,
                    pageSize = pageSize,
                    call = i => compRoutes.showProjects(competition.id.get, Some(i)))
            } else {
                <div class="list-group-item">
                    <p>@messages("competition.entries.empty")</p>
                    <a href="#">@messages("competition.entries.empty.new")</a>
                </div>
            }
        </div>
    </div>

}
