@import views.html.helper.form
@(saveCall: Call, deleteCall: Call = null, deletable: Boolean = false, enabled: Boolean,
        raw: String, cooked: Html, subject: String)(implicit messages: Messages)

@if(enabled) {
    @form(action = saveCall) {
        <button type="button" class="btn btn-sm btn-edit btn-page btn-default">
            <i class="fa fa-edit"></i> @messages("page.edit")
        </button>

        <div class="btn-edit-container btn-preview-container">
            <button type="button" class="btn btn-sm btn-preview btn-page btn-default">
                <i class="fa fa-eye"></i>
            </button>
        </div>

        <div class="btn-edit-container btn-save-container">
            <button type="submit" class="btn btn-sm btn-save btn-page btn-default">
                <i class="fa fa-save"></i>
            </button>
        </div>

        <div class="btn-edit-container btn-cancel-container">
            <button type="button" class="btn btn-sm btn-cancel btn-page btn-default">
                <i class="fa fa-times"></i>
            </button>
        </div>

        @if(deletable) {
            <div class="btn-edit-container btn-delete-container">
                <button type="button" class="btn btn-sm btn-page-delete btn-page btn-default"
                data-toggle="modal" data-target="#modal-page-delete">
                    <i class="fa fa-trash"></i>
                </button>
            </div>

            <div class="modal fade" id="modal-page-delete" tabindex="-1" role="dialog"
                 aria-labelledby="label-page-delete">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="label-page-delete">Delete @subject.toLowerCase</h4>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this @subject.toLowerCase? This cannot be undone.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <a href="@deleteCall"
                            type="button" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="page-edit" style="display: none ;">
            <textarea name="content" class="form-control">@raw</textarea>
        </div>

        <div class="page-preview page-rendered" style="display: none ;"></div>

    }
}

<div class="page-content page-rendered">@cooked</div>
