.nav-pills>li.active>a, .nav-pills>li>a.active {
    color: black; !important;
}

.nav-pills>li>a:hover, .nav-pills>li.active>a:hover {
    color: black; !important;
    background-color: #dfbe58; !important;
}

.btn, .btn-primary[href], .btn:hover {
    color: black; !important;
}

.btn-version {
    width: 100%;
}

.project-header {
    font-size: 20px;
    font-weight: normal;
    margin-right: 15px;
    margin-top: 10px;
}

.project-navbar {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
}

.project-navbar, .project-navbar:hover, .project-navbar > .navbar-inner > .navbar-nav > .active > a {
    background: none; !important;
}

.project-navbar > .navbar-inner li.active > a {
    border-bottom: 1px solid black;
}

.project-header-container {
    margin-top: 90px;
    border-bottom: 1px solid #ddd;
}

.project-controls {
    margin-top: 10px;
}

.project-wiki {
    margin-top: 15px;
}

.badge-category:hover, .title:hover, .btn:hover {
    text-decoration: none;
}

.version-container {
    padding: 20px;
}

.channel {
    border-radius: 6px;
    padding: 4px 6px;
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.channels {
    margin-top: 15px;
}

.list-group {
    margin: 0;
    width: 100%;
}
