.logo {
    height: 40px;
}

.navbar-main {
    padding-top: 1px;
    min-height: 63px; !important;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.navbar-main > .container > .collapse > ul > li > a, .navbar-main > .container > .collapse > .navbar-nav {
    padding-top: 5px; !important;
    height: 57px;
}

.navbar-main > .container > .collapse > ul.navbar-right {
    padding-top: 10px;
}

.navbar-main > .container > .collapse > ul.navbar-right > li > a {
    height: 51px;
}

.navbar-main li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.navbar-main > .container > .collapse > div.navbar-right {
    padding-top: 14px;
}

.navbar-main > .container > .collapse > div.navbar-right > a {
    margin: 0 auto;
}

.main-dropdown {
    width: 100%;
}

.main-dropdown  li .fa {
    margin-right: 10px;
    min-width: 18px;
}

.main-dropdown > li > a {
    padding: 10px 20px;
}

.user-dropdown > li > a {
    overflow: hidden;
}

.user-dropdown > li > a > i {
    transform: translateY(4px);
}

.table-controls {
    padding-bottom: 50px;
}

.project-table > tbody > tr > td {
    font-size: 18px;
}

.project-table > thead > tr > th:first-child {
    width: 25px;
}

.project-header-container {
    margin-top: 60px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    height: 60px;
}

.project-header-container > div {
    height: 60px;
}

.project-controls {
    margin-top: 15px;
}

.btn-version {
    margin-bottom: 15px;
}

.project-header {
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    margin-right: 15px;
}

.project-navbar {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    height: 60px;
}

.project-navbar, .project-navbar:hover, .project-navbar > .navbar-inner > .navbar-nav > .active > a {
    background: none; !important;
}

.project-navbar > .navbar-inner li.active > a {
    border-bottom: 1px solid black;
}

.project-navbar > .navbar-inner > ul > li > a {
    padding-top: 22px; !important;
    height: 60px; !important;
}

.channel {
    border-radius: 6px;
    padding: 4px 6px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.channel-head {
    font-size: 20px;
    display: inline-block;
    margin-top: 23px;
    margin-left: 15px;
}

.channel-flat {
    border-radius: 0; !important;
}

.white > * {
    color: white;
}

.no-border > tbody > tr > td {
    border: none;
}

.user-avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.date {
    color: gray;
    margin-right: 10px;
}

.date > a {
    color: gray;
}

form {
    margin-bottom: 10px;
    margin-top: 10px;
}

.fa-check-circle {
    color: green;
}

.fa-times-circle {
    color: red;
}

.version-header {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.version-description {
    margin-bottom: 15px;
}

.minor {
    color: gray;
}

.version-buttons {
    margin-top: -15px;
}

.version-string {
    color: gray;
    font-size: 10px;
    margin-bottom: 0;
}

.color-input {
    width: 34px;
    height: 34px;
}

.cat-icon {
    width: 10px; !important;
}

.index-header {
    margin-bottom: 15px;
}

.index-header .alert {
    margin-top: 20px;
    margin-bottom: 0;
}

.btn-create {
    margin-top: 15px;
}

.btn-more {
    width: 100%;
}

.plugin-meta-table {
    border-collapse: separate;
    border-spacing: 10px;
}

.plugin-meta {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.page-editor-tabs {
    margin-bottom: 15px;
}

.new-page {
    margin-top: -13px;
}

.category-reset {
    margin-top: -15px;
    margin-right: -4px;
}

.channel-reset {
    margin-top: -15px;
}

.create-blurb {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.form-rename {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 10px; !important;
}

#form-publish {
    margin-bottom: 5px;
    position: relative;
}

.tos {
    font-size: 11px;
    color: gray;
    margin-bottom: 5px;
}

.create-body {
    padding-bottom: 3px; !important;
}

.project-body {
    padding-bottom: 10px; !important;
    padding-top: 10px; !important;
}

#continue {
    position: relative;
    margin-bottom: 0; !important;
}

.slug {
    font-size: 11px;
    color: gray;
    position: absolute;
    bottom: 0;
    right: 0;
}

.version-edit-tabs {
    position: absolute;
    margin-left: -45px;
    margin-top: 20px;
    border-bottom: none; !important;
}

.version-edit-tabs > li.active > a, .version-edit-tabs > li.active > a:hover,
.version-edit-tabs > li.active > a:focus {
    border-bottom-color: #ddd; !important;
    border-right-color: transparent; !important;
}

.version-edit-tabs > li > a {
    border: none; !important;
}

.version-preview {
    padding-left: 15px;
}
