.logo {
    height: 45px;
}

.main-dropdown  li .fa {
    margin-right: 10px;
}

.main-dropdown > li > a {
    padding: 10px 20px;
}

.table-controls {
    padding-bottom: 50px;
}

.project-table > tbody > tr > td {
    font-size: 18px;
}

.project-header-container {
    margin-top: 75px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.project-controls {
    margin-top: 23px;
}

.btn-version {
    margin-bottom: 15px;
}

.project-header {
    font-size: 20px;
    font-weight: normal;
    margin-top: 25px;
    margin-right: 15px;
}

.project-navbar {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
}

.project-navbar, .project-navbar:hover, .project-navbar > .navbar-inner > .navbar-nav > .active > a {
    background: none; !important;
}

.project-navbar > .navbar-inner li.active > a {
    border-bottom: 1px solid black;
}

.channel {
    border-radius: 6px;
    padding: 4px 6px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.channel-head {
    font-size: 20px;
    display: inline-block;
    margin-top: 23px;
    margin-left: 15px;
}

.channel-flat {
    border-radius: 0; !important;
}

.white > * {
    color: white;
}

.no-border > tbody > tr > td {
    border: none;
}

.user-avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    -webkit-background-size: 45px;
    background-size: 45px;
    background-position: right;
}

.date {
    color: gray;
    margin-right: 10px;
}

.date > a {
    color: gray;
}

form {
    margin-bottom: 10px;
    margin-top: 10px;
}

.fa-check-circle {
    color: green;
}

.fa-times-circle {
    color: red;
}

.version-header {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.version-description {
    margin-bottom: 15px;
}

.minor {
    color: gray;
}

.version-buttons {
    margin-top: -15px;
}

.version-string {
    color: gray;
    font-size: 10px;
    margin-bottom: 0;
}

.color-input {
    width: 34px;
    height: 34px;
}

.cat-icon {
    width: 10px; !important;
}

.index-header {
    margin-bottom: 15px;
}

.btn-create {
    margin-top: 15px;
}

.plugin-meta-table {
    border-collapse: separate;
    border-spacing: 10px;
}

.plugin-meta {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.page-editor-tabs {
    margin-bottom: 15px;
}

.new-page {
    margin-top: -13px;
}

.category-reset {
    margin-top: -15px;
    margin-right: -4px;
}

.channel-reset {
    margin-top: -15px;
}

.create-blurb {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.tos {
    font-size: 11px;
    color: gray;
}

.form-rename {
    margin-bottom: 10px;
}

.version-edit-tabs {
    position: absolute;
    margin-left: -45px;
    margin-top: 20px;
    border-bottom: none; !important;
}

.version-edit-tabs > li.active > a, .version-edit-tabs > li.active > a:hover,
.version-edit-tabs > li.active > a:focus {
    border-bottom-color: #ddd; !important;
    border-right-color: transparent; !important;
}

.version-edit-tabs > li > a {
    border: none; !important;
}

.version-preview {
    padding-left: 15px;
}
