@import db.ModelService
@import db.impl.access.ProjectBase
@import forums.DiscourseApi
@import util.OreConfig
@import util.OreEnv
@import models.user.Notification
@import db.impl.access.UserBase
@import models.user.role.ProjectRole
@import ore.notification.NotificationFilters
@import ore.notification.NotificationFilters.NotificationFilter
@import ore.notification.InviteFilters.InviteFilter
@import ore.notification.InviteFilters
@import models.user.role.RoleModel
@(notifications: Seq[Notification], invites: Seq[RoleModel], notificationFilter: NotificationFilter,
        inviteFilter: InviteFilter)(implicit messages: Messages, session: Session, request: RequestHeader,
        service: ModelService, forums: DiscourseApi, config: OreConfig, users: UserBase, env: OreEnv,
        projects: ProjectBase)

@notificationFilterOption(option: NotificationFilter) = @{
    if (option.equals(notificationFilter)) {
        Html("selected")
    }
}

@inviteFilterOption(option: InviteFilter) = @{
    if (option.equals(inviteFilter)) {
        Html("selected")
    }
}

@subjectType(model: RoleModel) = @{ model.subject.getClass.getSimpleName }

@bootstrap.layout("Notifications") {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/notifications.js")"></script>

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <!-- Notifications header -->
            <div class="col-md-8 header-flags">
                <div class="pull-left">
                    <h2>Notifications</h2>
                </div>
                <div class="pull-right form-inline notification-controls">
                    <select class="form-control select-notifications">
                        <option @notificationFilterOption(NotificationFilters.Unread)>Unread</option>
                        <option @notificationFilterOption(NotificationFilters.Read)>Read</option>
                        <option @notificationFilterOption(NotificationFilters.All)>All</option>
                    </select>

                    @if(notifications.nonEmpty && notificationFilter.equals(NotificationFilters.Unread)) {
                        <button class="btn-mark-all-read btn btn-primary">
                            <i class="fa fa-check"></i> <strong>Mark all as read</strong>
                        </button>
                    }
                </div>
            </div>
            <div class="col-md-4 form-inline">
                <!-- Invites header -->
                <h2 class="pull-left">Invites</h2>
                <select class="pull-right form-control notification-controls select-invites">
                    <option @inviteFilterOption(InviteFilters.All)>All</option>
                    <option @inviteFilterOption(InviteFilters.Projects)>Projects</option>
                    <option @inviteFilterOption(InviteFilters.Organizations)>Organizations</option>
                </select>
            </div>
        </div>

        <div class="row">
            <!-- Notifications content -->
            <div class="col-md-8">
                <div class="list-group-item no-notifications" @if(notifications.nonEmpty) { style="display: none; }">
                    <h3 class="minor">
                        <i class="fa fa-thumbs-o-up"></i> @messages(notificationFilter.emptyMessage)
                    </h3>
                </div>

                <ul class="list-group">
                    @notifications.map { notification =>
                      <li class="list-group-item notification" data-action="@notification.action.getOrElse("none")"
                          data-id="@notification.id.get">

                          @defining(notification.origin) { origin =>
                              <img src="@origin.avatarUrl(100)" class="user-avatar" width="40" height="40"
                                   alt="@origin.username" title="@origin.username"/>
                          }

                          @notification.message

                          @if(!notification.isRead) {
                              <i class="btn-mark-read minor pull-right fa fa-lg fa-check"></i>
                          }
                      </li>
                    }
                </ul>
            </div>

            <!-- Invites content -->
            <div class="col-md-4">

                @for((invite, i) <- invites.zipWithIndex) {
                    @if(i % 2 == 0) {
                        <div class="row">
                    }

                    <div class="invite col-md-6">
                        <div class="invite-content" data-id="@invite.id.get">
                            @defining(invite.subject) { subject =>
                                <span class="minor">
                                    <i class="dismiss pull-left fa fa-times" style="display: none;"></i>
                                    <span class="pull-right"><i class="fa fa-tag"></i> @subjectType(invite)</span>
                                </span>
                                <br/>

                                <div class="invite-message invite-choice" style="display: auto;">
                                    <p>
                                        You have been invited to join the @subjectType(invite).toLowerCase
                                        <a href="@subject.url">@subject.name</a>.
                                    </p>
                                    <button class="btn btn-invite btn-accept btn-sm btn-success">Accept</button>
                                    <button class="btn btn-invite btn-decline btn-sm btn-danger">Decline</button>
                                </div>

                                <div class="invite-message invite-accepted" style="display: none;">
                                    <i class="minor fa fa-3x fa-birthday-cake"></i>
                                    <p>You have joined <strong>@subject.name</strong>!</p>
                                    <a href="@subject.url" class="btn btn-sm btn-primary">Visit now</a>
                                    <button class="btn btn-undo btn-sm btn-info">Undo</button>
                                </div>

                                <div class="invite-message invite-declined" style="display: none;">
                                    <i class="minor fa fa-3x fa-times"></i>
                                    <p>You have declined an invite from <strong>@subject.name</strong>.</p>
                                </div>

                                <i class="minor invite-loading fa fa-5x fa-spinner fa-spin"
                                style="display: none;"></i>
                            }
                        </div>
                    </div>

                    @if((i + 1) % 2 == 0) {
                        </div>
                    }
                }
            </div>
        </div>
    </div>

}
