@import controllers.project.{routes => projectRoutes}
@import db.ModelService
@import db.impl.access.UserBase
@import models.project.Project
@import models.user.User
@import ore.OreConfig
@import views.html.projects.{list => projectList}
@(user: User, models: Seq[Project], page: Int)(implicit messages: Messages, flash: Flash, request: Request[_],
        service: ModelService, config: OreConfig, userBase: UserBase)

@users.view(user) {

    <div class="row">
        <div class="col-md-8">
        @projectList(
            models = models,
            page = page,
            pageSize = config.users.getInt("project-page-size").get,
            call = page => routes.Users.showProjects(user.username, Some(page))
        )
        </div>

        <div class="col-md-4">
            @if(!user.isOrganization) {
                <div class="panel-stars panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-star"></i> @messages("project.starred")</h3>
                    </div>
                    <table class="table panel-body">
                        <tbody>
                        @defining(user.starred(1)) { stars =>
                            @if(stars.isEmpty) {
                                <tr><td><i class="minor">@messages("user.noStars", user.username)</i></td></tr>
                            } else {
                                @stars.map { star =>
                                    <tr>
                                        <td>
                                            <a href="@projectRoutes.Projects.show(star.ownerName, star.slug)"
                                               class="pull-left">
                                                @star.ownerName/<strong>@star.name</strong>
                                            </a>
                                            <div class="pull-right">
                                                <span class="minor">@star.recommendedVersion.versionString</span>
                                                @defining(star.category) { category =>
                                                    <i title="@category.title" class="fa fa-fw @category.icon"></i>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                        </tbody>
                    </table>

                    <div class="panel-footer">
                        <div class="pull-right">
                            <a class="prev" href="#" style="display: none;">&laquo;</a>
                            <a class="next" href="#" >&raquo;</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            } else {
                @defining(user.toOrganization) { organization =>
                    @users.memberList(
                        model = organization,
                        editable = true,
                        saveCall = routes.Organizations.updateMembers(organization.name),
                        removeCall = routes.Organizations.removeMember(organization.name)
                    )
                }
            }
        </div>
    </div>

}
