@import controllers.project.{routes => projectRoutes}
@import db.ModelService
@import db.impl.access.UserBase
@import forums.DiscourseApi
@import models.user.User
@import ore.{OreConfig, OreEnv}
@import util.StringUtils.prettifyDate
@import views.html.helper.form
@import ore.permission.EditSettings
@(user: User)(content: Html)(implicit messages: Messages, session: Session, flash: Flash,
        request: RequestHeader, service: ModelService, forums: DiscourseApi, config: OreConfig, users: UserBase,
        env: OreEnv)

@canEditOrganization = @{
    user.isOrganization && users.current.isDefined && (users.current.get can EditSettings in user.toOrganization)
}

@bootstrap.layout(user.username) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/userPage.js")"></script>
    <script>USERNAME = '@user.username';</script>

    <div class="container" style="margin-top: 90px">

        @if(flash.get("error").isDefined) {
            <div class="alert alert-danger alert-dismissable" role="alert" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="@messages("aria.close")">
                    <span aria-hidden="true">&times;</span>
                </button>
                @flash.get("error").get
            </div>
        }

        <div class="alert alert-success alert-dismissable" role="alert" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-label="@messages("aria.close")">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> <span class="success"></span>
        </div>

        <!-- Header -->
        <div class="user-header">
            <div class="header-body">
                <div class="pull-left user-badge">
                    <img title="@user.username" alt="@user.username" height="100" width="100"
                         class="user-avatar @if(canEditOrganization) { organization-avatar }"
                         @if(canEditOrganization) { data-toggle="modal" data-target="#modal-avatar" }
                         src="@user.avatarUrl(200)" />

                    @if(canEditOrganization) {
                        <div class="edit-avatar" style="display: none;">
                            <i class="fa fa-edit"></i> Edit avatar
                        </div>

                        <div class="modal fade" id="modal-avatar" tabindex="-1" role="dialog"
                        aria-labelledby="modal-avatar-label">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="modal-avatar-label">Edit avatar</h4>
                                    </div>

                                    @form(action = routes.Organizations.updateAvatar(user.name),
                                        'id -> "form-avatar", 'enctype -> "multipart/form-data") {
                                        <div class="modal-body">
                                            <div class="alert alert-danger">
                                                <strong>Whoops!</strong> <span class="error"></span>
                                            </div>

                                            <div class="setting">
                                                <div class="setting-description">
                                                    <h4>
                                                        <input checked type="radio" name="avatar-method"
                                                        value="by-url" />
                                                        Update by URL
                                                    </h4>
                                                </div>
                                                <input name="avatar-url" type="url" class="form-control" />
                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="setting setting-no-border">
                                                <div class="setting-description">
                                                    <h4>
                                                        <input type="radio" name="avatar-method" value="by-file" />
                                                        Update by file
                                                    </h4>
                                                </div>
                                                <input name="avatar-file" type="file" disabled />
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Cancel
                                            </button>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-spinner fa-spin" style="display: none;"></i> Update
                                            </button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    <div class="user-title">
                        <h1>@user.username</h1>

                        <div class="user-tag">
                            <i class="minor">
                                @if(user.tagline.isDefined) {
                                    @user.tagline.get
                                } else { @if(user.isCurrent) {
                                    Add a tagline
                                }}
                            </i>

                            @if(user.isCurrent) {
                                <a href="#" data-toggle="modal" data-target="#modal-tagline">
                                    <i class="fa fa-edit"></i>
                                </a>
                            }
                        </div>

                        <div class="modal fade" id="modal-tagline" tabindex="-1" role="dialog"
                             aria-labelledby="label-tagline">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="@messages("aria.cancel")">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">@messages("user.tagline.edit")</h4>
                                    </div>
                                    @form(action = routes.Users.saveTagline(user.username)) {
                                        <div class="modal-body">
                                            <label for="tagline">Tagline</label>
                                            <input class="form-control" type="text" value="@user.tagline.getOrElse("")"
                                                   id="tagline" name="tagline"
                                                   maxlength="@config.users.getInt("max-tagline-len").get" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                @messages("aria.close")
                                            </button>
                                            <input type="submit" value="@messages("aria.save")" class="btn btn-primary" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <ul class="user-roles">
                        @user.organizations.all.map { organization =>
                            <li class="organization-role" data-toggle="tooltip" data-placement="top"
                                data-title="@organization.name">
                                <a href="@organization.url">
                                    <img class="user-avatar" src="@organization.toUser.avatarUrl(50)" width="26"
                                         height="26" />
                                </a>
                            </li>
                        }

                        @defining(user.globalRoles.toList.sortBy(_.trust).lastOption) { roleOpt =>
                          @roleOpt.map { role =>
                            <li class="user-role channel" style="background-color: @role.color.hex">@role.title</li>
                          }
                        }
                    </ul>

                    <div class="user-info">
                        @defining(user.projects.size) { size =>
                          <i class="minor">@size @if(size == 1) { project } else { projects }</i><br/>
                        }
                        <i class="minor">
                            A member since @user.joinDate.map(prettifyDate).getOrElse(prettifyDate(user.createdAt.get))
                        </i><br/>
                        <a href="https://forums.spongepowered.org/users/@user.username">
                            View on forums <i class="fa fa-external-link"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        @content

    </div>

}
