@import controllers.project.{routes => projectRoutes}
@import db.ModelService
@import db.impl.access.UserBase
@import models.user.User
@import ore.OreConfig
@import ore.permission.{ViewActivity, ReviewFlags, ReviewProjects, EditSettings, UserAdmin}
@import ore.permission.scope.GlobalScope
@import ore.user.Prompts
@import security.NonceFilter._
@import util.StringUtils._
@import views.html.helper.{CSRF, form}
@(user: User)(content: Html)(implicit messages: Messages, flash: Flash, request: Request[_], service: ModelService,
        config: OreConfig, users: UserBase)

@canEditOrganization = @{
    user.isOrganization && users.current.isDefined && (users.current.get can EditSettings in user.toOrganization)
}

@pgpFormClass = @{
    user.pgpPubKey.map(key => "pgp-delete").getOrElse("")
}

@pgpFormCall = @{
    user.pgpPubKey.map { key =>
        routes.Users.verify(Some(routes.Users.deletePgpPublicKey(user.name, None, None).path()))
    } getOrElse {
        routes.Users.savePgpPublicKey(user.name)
    }
}

@lockIcon = @{
    if (user.isLocked) "fa-lock" else "fa-unlock-alt"
}

@bootstrap.layout(user.username) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/userPage.js")"></script>
    <script nonce="@nonce">USERNAME = '@user.username';</script>

    <div class="container" style="margin-top: 90px">

        @utils.alert("error")

        @flash.get("pgp-updated").map { updated =>
          <script nonce="@nonce">
              $(function() {
                  $('#modal-pgp').modal('show');
              });
          </script>
        }

        <!-- Updated by JS -->
        <div class="alert alert-success alert-dismissable" role="alert" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-label="@messages("general.close")">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!</strong> <span class="success"></span>
        </div>

        <!-- Header -->
        <div class="row user-header">
            <div class="header-body">
                <!-- Title -->
                <span class="user-badge">
                    @utils.userAvatar(
                        user = user,
                        clazz = "user-avatar-md" + (if (canEditOrganization) " organization-avatar" else ""),
                        href = "#",
                        attr = if (canEditOrganization) Map(
                            "data-toggle" -> "modal",
                            "data-target" -> "#modal-avatar") else Map())

                    @if(canEditOrganization) {
                        <div class="edit-avatar" style="display: none;">
                            <i class="fa fa-edit"></i> @messages("user.editAvatar")
                        </div>

                        @if(!users.current.get.readPrompts.contains(Prompts.ChangeAvatar)) {
                            @utils.prompt(Prompts.ChangeAvatar, "popover-avatar")
                        }
                    }

                    <span class="user-title">
                        <h1 class="username">
                            @user.username

                            @if(user.isCurrent && !user.isOrganization) {
                                <a class="user-settings" href="@config.security.get[String]("api.url")/accounts/settings">
                                    <i class="fa fa-cog" data-toggle="tooltip"
                                        data-placement="top" title="Settings"></i>
                                </a>

                                <span data-toggle="modal" data-target="#modal-lock">
                                    <i class="fa @lockIcon action-lock-account" data-toggle="tooltip"
                                        data-placement="top" title="@messages("user.lock")"></i>
                                </span>

                                <span data-toggle="modal" data-target="#modal-pgp-edit">
                                    <i class="fa fa-key action-pgp" data-toggle="tooltip"
                                        data-placement="top" title="@messages("user.pgp.pubKey")"></i>
                                </span>

                                @if(!users.current.get.readPrompts.contains(Prompts.PGP)) {
                                    @utils.prompt(Prompts.PGP, "popover-pgp")
                                }
                            }

                            @if(!user.isCurrent && user.pgpPubKey.isDefined) {
                                <span data-toggle="modal" data-target="#modal-pgp-show">
                                    <i class="fa fa-key action-pgp" data-toggle="tooltip"
                                        data-placement="top" title="@messages("user.pgp.pubKey")"></i>
                                </span>
                            }

                            @if(users.current.isDefined && (users.current.get can ViewActivity in user)) {
                                @if((user can ReviewFlags in user) || (user can ReviewProjects in user)) {
                                    <a class="user-settings" href="@routes.Application.showActivities(user.name)">
                                        <i class="fa fa-calendar" data-toggle="tooltip"
                                        data-placement="top" title="Activity"></i>
                                    </a>
                                }
                            }

                            @if(users.current.isDefined && (users.current.get can UserAdmin in GlobalScope)) {
                                <a class="user-settings" href="@routes.Application.userAdmin(user.username)">
                                    <i class="fa fa-wrench" data-toggle="tooltip"
                                        data-placement="top" title="User Admin"></i>
                                </a>
                            }
                        </h1>

                        <div class="user-tag">
                            <i class="minor">
                                @if(user.tagline.isDefined) {
                                    @user.tagline.get
                                } else { @if(user.isCurrent) {
                                    Add a tagline
                                }}
                            </i>

                            @if(user.isCurrent) {
                                <a href="#" data-toggle="modal" data-target="#modal-tagline">
                                    <i class="fa fa-edit"></i>
                                </a>
                            }
                        </div>
                    </span>
                </span>

                <!-- Roles -->
                <ul class="user-roles">
                    @user.organizations.all.map { organization =>
                        <li class="organization-role" data-toggle="tooltip" data-placement="top"
                            data-title="@organization.name">
                            @utils.userAvatar(organization.toUser, clazz = "user-avatar-xxs")
                        </li>
                    }

                    @defining(user.globalRoles.toList.sortBy(_.trust).lastOption) { roleOpt =>
                        @roleOpt.map { role =>
                            <li class="user-role channel" style="background-color: @role.color.hex">@role.title</li>
                        }
                    }
                </ul>

                <div class="user-info">
                    @defining(user.projects.size) { size =>
                        <i class="minor">@size&nbsp;@if(size == 1){project}else{projects}</i><br/>
                    }
                    <i class="minor">
                    @messages(
                        "user.memberSince",
                        user.joinDate.map(prettifyDate).getOrElse(prettifyDate(user.createdAt.get)))
                    </i><br/>
                    <a href="https://forums.spongepowered.org/users/@user.username">
                        @messages("user.viewOnForums") <i class="fa fa-external-link"></i>
                    </a>
                </div>
            </div>
        </div>

        @content

    </div>

    <div class="modal fade" id="modal-pgp-edit" tabindex="-1" role="dialog" aria-labelledby="label-pgp">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="@messages("general.close")">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">
                        @messages("user.pgp.pubKey")
                        <a href="https://docs.spongepowered.org/ore/publish" data-toggle="tooltip"
                           data-placement="right" title="@messages("general.learnMore")">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </h4>
                </div>

                @form(action = pgpFormCall, 'id -> "form-pgp", 'class -> pgpFormClass) {
                    @CSRF.formField
                    <div class="modal-body">
                        <div class="alert alert-danger" style="display: none;">
                            <span class="error"></span>
                        </div>

                        <div class="setting setting-no-border setting-pgp">
                            <div class="row pgp-header">
                                <h4>@messages("user.pgp.pubKey")</h4>
                                @user.pgpPubKeyInfo.map { keyInfo =>
                                    <div class="dates minor">
                                        <i>Created on @prettifyDate(keyInfo.createdAt)</i><br/>
                                        @keyInfo.expirationDate.map { expirationDate =>
                                            <i>Expires on @prettifyDate(expirationDate)</i>
                                        }
                                    </div>
                                }
                            </div>

                            <div class="row">
                                @user.pgpPubKeyInfo.map { keyInfo =>
                                    <table width="100%">
                                        <tr>
                                            <td><strong>ID</strong></td>
                                            <td><pre>@keyInfo.id</pre></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Name</strong></td>
                                            <td>@keyInfo.userName</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Email</strong></td>
                                            <td><a href="mailto:@keyInfo.email">@keyInfo.email</a></td>
                                        </tr>
                                    </table>
                                }

                                @if(user.pgpPubKey.isEmpty) {
                                    <p>@messages("user.pgp.pubKey.info")</p>
                                }

                                @if(user.pgpPubKey.isEmpty) {
                                    <textarea class="form-control" name="pgp-pub-key" rows="10"></textarea>
                                    <i class="pull-right"><a href="#TODO">@messages("user.pgp.help")</a></i>
                                }
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        @messages("general.close")
                        </button>
                        @if(user.pgpPubKey.isEmpty) {
                            <button type="submit" class="btn btn-primary">
                            @messages("general.save")
                            </button>
                        } else {
                            <button type="submit" class="btn btn-danger">
                            @messages("general.delete")
                            </button>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    @utils.modal("modal-pgp-show", "label-pgp-show", "user.pgp.pubKey") {
        @if(user.pgpPubKey.isDefined) {
            <pre style="text-align: center">@user.pgpPubKey.get</pre>
        }
    }

    @utils.modal("modal-lock", "label-lock", if (user.isLocked) "user.unlock" else "user.lock") {
        <div class="modal-body">
            <p class="minor">
                @if(user.isLocked) {
                    @messages("user.unlock.confirm")
                } else {
                    @messages("user.lock.confirm")
                }
            </p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">@messages("general.close")</button>
            @form(action = routes.Users.verify(Some(routes.Users.setLocked(
                user = user.username,
                locked = !user.isLocked,
                sso = None,
                sig = None
            ).path())), 'class -> "form-inline") {
                @CSRF.formField
                <button type="submit" class="btn btn-primary">@messages("general.continue")</button>
            }
        </div>
    }

    @utils.modal("modal-tagline", "label-tagline", "user.tagline.edit") {
        @form(action = routes.Users.saveTagline(user.username)) {
            @CSRF.formField
            <div class="modal-body">
                <div class="setting setting-no-border">
                    <div class="setting-description">
                        <h4>@messages("user.tagline")</h4>
                        <p>@messages("user.tagline.info")</p>
                    </div>
                    <input class="form-control" type="text" value="@user.tagline.getOrElse("")" id="tagline"
                           name="tagline" maxlength="@config.users.get[Int]("max-tagline-len")" />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    @messages("general.close")
                </button>
                <input type="submit" value="@messages("general.save")" class="btn btn-primary" />
            </div>
        }
    }

    @utils.modal("modal-avatar", "label-avatar", "user.editAvatar") {
        @form(action = routes.Organizations.updateAvatar(user.name), 'id -> "form-avatar",
            'enctype -> "multipart/form-data") {
            @CSRF.formField
            <div class="modal-body">
                <div class="alert alert-danger">
                    <span class="error"></span>
                </div>

                <div class="setting">
                    <div class="setting-description">
                        <h4>
                            <input checked type="radio" name="avatar-method" value="by-url" />
                            @messages("user.avatar.byUrl")
                        </h4>
                    </div>
                    <input name="avatar-url" type="url" class="form-control" />
                    <div class="clearfix"></div>
                </div>

                <div class="setting setting-no-border">
                    <div class="setting-description">
                        <h4>
                            <input type="radio" name="avatar-method" value="by-file" />
                            @messages("user.avatar.byFile")
                        </h4>
                    </div>
                    <input name="avatar-file" type="file" disabled />
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                @messages("general.cancel")
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                    @messages("general.update")
                </button>
            </div>
        }
    }
}
