@import controllers.project.{routes => projectRoutes}
@import views.html.helper.form
@import models.user.User
@import db.ModelService
@import forums.DiscourseApi
@import _root_.util.OreConfig
@import db.impl.service.UserBase
@import util.StringUtils.prettifyDate
@(user: User)(content: Html)(implicit messages: Messages, session: Session, flash: Flash, request: RequestHeader,
        service: ModelService, forums: DiscourseApi, config: OreConfig, users: UserBase)

@isThisUser = @{ users.current.isDefined && users.current.get.equals(user) }

@bootstrap.layout(user.username) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/userPage.js")"></script>
    <script>USERNAME = '@user.username';</script>

    <div class="container" style="margin-top: 90px">

        @if(flash.get("error").isDefined) {
            <div class="alert alert-danger alert-dismissable" role="alert" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="@messages("aria.close")">
                    <span aria-hidden="true">&times;</span>
                </button>
                @flash.get("error").get
            </div>
        }

        <div class="user-header">
            <div class="header-body">
                <div class="pull-left user-badge">
                    <img title="@user.username" alt="@user.username" height="100" width="100"
                    class="user-avatar" src="@user.avatarUrl(200)" />
                    <div class="user-title">
                        <h1>@user.username</h1>
                        <div class="user-tag">
                            <i class="minor">
                                @if(user.tagline.isDefined) {
                                    @user.tagline.get
                                } else { @if(isThisUser) {
                                    Add a tagline
                                }}
                            </i>

                            @if(isThisUser) {
                                <a href="#" data-toggle="modal" data-target="#modal-tagline"><i class="fa fa-edit"></i></a>
                            }
                        </div>
                        <div class="modal fade" id="modal-tagline" tabindex="-1" role="dialog" aria-labelledby="label-tagline">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="@messages("aria.cancel")">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">@messages("user.tagline.edit")</h4>
                                    </div>
                                    @form(action = routes.Users.saveTagline(user.username)) {
                                        <div class="modal-body">
                                            <label for="tagline">Tagline</label>
                                            <input class="form-control" type="text" value="@user.tagline.getOrElse("")" id="tagline"
                                                   name="tagline" maxlength="@config.users.getInt("max-tagline-len").get" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                @messages("aria.close")
                                            </button>
                                            <input type="submit" value="@messages("aria.save")" class="btn btn-primary" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <ul class="user-roles">
                        @user.globalRoles.map { role =>
                          <li class="user-role channel" style="background-color: @role.color.hex;">@role.title</li>
                        }
                    </ul>
                    <div class="user-info">
                        <i class="minor">@user.projects.size projects</i><br/>
                        <i class="minor">
                            A member since @user.joinDate.map(prettifyDate).getOrElse(prettifyDate(user.createdAt.get))
                        </i>
                    </div>
                </div>
            </div>
        </div>

        @content

    </div>

}
