@import controllers.project.{routes => projectRoutes}
@import db.ModelService
@import db.impl.access.UserBase
@import models.project.{Channel, Project}
@import ore.project.factory.PendingVersion
@import ore.{OreConfig, OreEnv}
@import util.StringUtils
@import views.html.helper.form
@(project: Project, pending: Option[PendingVersion],
  channels: Option[Seq[Channel]], showFileControls: Boolean)(implicit messages: Messages, session: Session,
        flash: Flash, request: RequestHeader, service: ModelService, config: OreConfig, users: UserBase, env: OreEnv)

@mainWidth = {
    @pending.map(_ => "col-md-10").getOrElse("col-md-12")
}

@bootstrap.layout(messages("version.create.page-title")) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/channelManage.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/pluginUpload.js")"></script>

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="@mainWidth">
                <div class="panel panel-default panel-create">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            @messages("version.create.title")
                        </h3>
                    </div>

                    <div class="create-body panel-body">
                        <p class="minor create-blurb">
                            Release a new version for <strong>@project.name</strong>.
                        </p>

                        @if(flash.get("error").isDefined) {
                            <div class="alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="@messages("aria.close")">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>@messages("project.create.error")</strong> @flash.get("error").get
                            </div>
                        }

                        @if(pending.isDefined) {
                            @* Show plugin meta *@
                            @defining(pending.get.underlying) { version =>
                                <div class="plugin-meta">
                                    <table class="plugin-meta-table">
                                        <tr>
                                            <td><strong>@messages("version")</strong></td>
                                            <td>@version.versionString</td>
                                        </tr>
                                        <tr>
                                            <td><strong>@messages("version.description")</strong></td>
                                            <td>
                                                @version.description.map { description =>
                                                  @description
                                                }.getOrElse {
                                                  <i class="minor">@messages("version.create.no-description")</i>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Channel</strong></td>
                                            <td class="form-inline">
                                                @* Show channel selector if old project, editor if new project *@
                                                @if(showFileControls) {
                                                    <select id="select-channel" form="form-publish" name="channel-input" class="form-control">
                                                        @channels.get.map { channel =>
                                                          <option value="@channel.name" data-color="@channel.color.hex"
                                                            @if(pending.isDefined && channel.name.equals(pending.get.channelName)) {
                                                              selected
                                                            }
                                                          >
                                                              @channel.name
                                                          </option>
                                                        }
                                                    </select>
                                                    <a href="#">
                                                        <i id="channel-new" class="fa fa-plus" data-toggle="modal" data-target="#channel-settings"></i>
                                                    </a>
                                                    <script type="text/javascript"
                                                            src="@routes.Assets.at("javascripts/versionCreateChannelNew.js")"></script>
                                                    <script>DEFAULT_COLOR = '@config.defaultChannelColor.hex';</script>
                                                } else {
                                                    <span id="channel-name" class="channel" style="background-color: @pending.get.channelColor;">
                                                        @pending.get.channelName
                                                    </span>
                                                    <a href="#">
                                                        <i id="channel-edit" class="fa fa-edit"
                                                           data-toggle="modal" data-target="#channel-settings"></i>
                                                    </a>
                                                    <script>
                                                        $(function() {
                                                            // Setup editor
                                                            initChannelManager(
                                                                    "#channel-edit", "@pending.get.channelName", "@pending.get.channelColor",
                                                                    "Edit channel", null, null, "Save changes"
                                                            );
                                                        });
                                                    </script>
                                                }
                                            </td>
                                        </tr>

                                        @if(showFileControls) {
                                            <tr>
                                                <td><strong>Recommended</strong></td>
                                                <td class="rv">
                                                    <div class="checkbox-inline">
                                                        <input form="form-publish" name="recommended" type="checkbox" checked
                                                        value="true"/>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            }
                        }

                        @if(showFileControls) {
                            @form(action = projectRoutes.Versions.upload(project.ownerName, project.slug),
                                'enctype -> "multipart/form-data", 'id -> "form-upload", 'class -> "pull-left") {
                                <label class="btn btn-default" for="pluginFile">
                                    <input id="pluginFile" name="pluginFile" type="file" style="display: none;">
                                    @messages("version.create.select-file")
                                </label>

                                @projects.utils.alertFile()
                            }
                        }

                        @if(pending.isDefined) {
                            @* Ready to go! *@
                            @defining(pending.get.underlying) { version =>
                                @form(action = projectRoutes.Versions.publish(
                                    project.ownerName, project.slug, version.versionString),
                                    'id -> "form-publish", 'class -> "pull-right") {
                                    @if(!showFileControls) {
                                        <input type="hidden" class="channel-input" name="channel-input" value="@pending.get.channelName" />
                                    }
                                    <input type="hidden" class="channel-color-input" name="channel-color-input"
                                           value="@config.defaultChannelColor.hex" />

                                    <div @if(!showFileControls) { class="btn-group" } >
                                        @if(!showFileControls) {
                                            <a href="@projectRoutes.Projects.showCreatorWithMeta(project.ownerName, project.name)" title="Back"
                                               class="btn btn-default">
                                                <i class="fa fa-arrow-left"></i>
                                            </a>
                                        }
                                        <input type="submit" name="create" value="@messages("version.create.publish")" class="btn btn-primary" />
                                    </div>
                                }
                            }
                        }

                    </div>
                </div>
                <span class="pull-left tos"><i>@Html(messages("version.create.tos", "#"))</i></span>
                @if(!showFileControls) {
                    <span class="pull-right tos">
                        <i>@Html(messages("project.create.destination", "<strong>" + project.ownerName + "/" + StringUtils.slugify(project.name)
                                + "</strong>"))
                        </i>
                    </span>
                }
            </div>
            @if(pending.isDefined) {
                @projects.utils.createSteps(4)
            }
        </div>
    </div>

    @projects.channels.utils.modalManage()

}
