@import java.sql.Timestamp
@import java.time.Instant

@import controllers.project.{routes => projectRoutes}
@import controllers.sugar.Requests.OreRequest
@import db.{ObjId, ObjTimestamp}
@import models.project.Channel
@import ore.OreConfig
@import ore.project.factory.PendingVersion
@import util.StringUtils
@import views.html.helper.{CSRF, form}
@import views.html.utils.editor
@import views.html.helper.CSPNonce
@(projectName: String, projectSlug: String, ownerName: String, projectDescription: Option[String], isProjectPending: Boolean, forumSync: Boolean, pending: Option[PendingVersion],
  channels: Option[Seq[Channel]], showFileControls: Boolean)(implicit messages: Messages, flash: Flash, request: OreRequest[_], config: OreConfig)

@mainWidth = {
    @pending.map(_ => "col-md-10").getOrElse("col-md-12")
}

@scripts = {
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/channelManage.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/pluginUpload.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/projectDetail.js")"></script>
}

@bootstrap.layout(messages("version.create.pageTitle"), scripts) {

    <div class="row">
        <div class="@mainWidth">
            <div class="panel panel-default panel-create">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    @messages("version.create.title")
                    </h3>
                </div>

                <div class="create-body panel-body">
                    <div class="minor create-blurb">
                        <p>@Html(messages("version.create.info", projectName))</p>
                        <p>@Html(messages("project.create.infoText.pgp"))</p>
                    </div>

                    @if(pending.isDefined) {
                        @* Show plugin meta *@
                        @defining(pending.get) { version: PendingVersion =>
                            <div class="plugin-meta">
                                <table class="plugin-meta-table">
                                    <tr>
                                        <td><strong>@messages("version")</strong></td>
                                        <td>@version.versionString</td>
                                    </tr>
                                    <tr>
                                        <td><strong>@messages("version.description")</strong></td>
                                        <td>
                                        @version.description.map { description =>
                                            @description
                                        }.getOrElse {
                                            @projectDescription.getOrElse(messages("version.create.noDescription"))
                                        }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Channel</strong></td>
                                        <td class="form-inline">
                                            @* Show channel selector if old project, editor if new project *@
                                            @if(showFileControls) {
                                                <select id="select-channel" form="form-publish" name="channel-input"
                                                class="form-control">
                                                @channels.get.map { channel =>
                                                    <option value="@channel.name" data-color="@channel.color.hex"
                                                @if(channel.name.equals(version.channelName)) {
                                                    selected
                                                }
                                                >
                                                @channel.name
                                                </option>
                                                }
                                                </select>
                                                <a href="#">
                                                    <i id="channel-new" class="fas fa-plus" data-toggle="modal"
                                                    data-target="#channel-settings"></i>
                                                </a>
                                                <script type="text/javascript"
                                                src="@routes.Assets.versioned("javascripts/versionCreateChannelNew.js")"></script>
                                                <script @CSPNonce.attr>DEFAULT_COLOR = '@config.defaultChannelColor.hex';</script>
                                            } else {
                                                <span id="channel-name" class="channel" style="background-color: @version.channelColor;">
                                                @version.channelName
                                                </span>
                                                <a href="#">
                                                    <i id="channel-edit" class="fas fa-edit"
                                                    data-toggle="modal" data-target="#channel-settings"></i>
                                                </a>
                                                <script @CSPNonce.attr>
                                                        $(function() {
                                                            // Setup editor
                                                            initChannelManager(
                                                                    "#channel-edit",
                                                                    "@version.channelName",
                                                                    "@version.channelColor",
                                                                    "Edit channel", null, null,
                                                                    "Save changes", false
                                                            );
                                                        });
                                                </script>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Platform</strong></td>
                                        <td>
                                            <div class="pull-right" id="upload-platform-tags">
                                            @for(t <- version.dependenciesAsGhostTags) {
                                                @projects.tag(t.asViewTag)
                                            }
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>@messages("version.create.unstable")</strong></td>
                                        <td class="rv">
                                            <div class="checkbox-inline">
                                                <input form="form-publish" name="unstable" type="checkbox" value="true"/>
                                            </div>
                                            <div class="clearfix"></div>
                                        </td>
                                    </tr>

                                    @if(showFileControls) {
                                        <tr>
                                            <td><strong>Recommended</strong></td>
                                            <td class="rv">
                                                <div class="checkbox-inline">
                                                    <input form="form-publish" name="recommended" type="checkbox" checked
                                                    value="true"/>
                                                </div>
                                                <div class="clearfix"></div>
                                            </td>
                                        </tr>
                                    }

                                    <tr>
                                        <td><strong>Create forum post</strong></td>
                                        <td class="rv">
                                            <div class="checkbox-inline">
                                                <input form="form-publish" name="forum-post" type="checkbox"
                                                @if(isProjectPending || forumSync) { checked } value="true"/>
                                            </div>
                                            <div class="clearfix"></div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        @if(showFileControls) {
                            <div class="release-bulletin">
                                <div>
                                    <h3>@messages("version.releaseBulletin")</h3>
                                    <p>@messages("version.releaseBulletin.info")</p>

                                    @editor(
                                        savable = false,
                                        enabled = true,
                                        raw = version.description.getOrElse(""),
                                        cancellable = false,
                                        targetForm = "form-publish"
                                    )
                                </div>
                            </div>
                            <script @CSPNonce.attr>$(function () { $('.btn-edit').click() });</script>
                        }
                        }
                    }

                    @if(showFileControls) {
                        @form(action = projectRoutes.Versions.upload(ownerName, projectSlug),
                            'enctype -> "multipart/form-data", 'id -> "form-upload") {
                            @CSRF.formField
                            <label class="btn btn-default pull-left" for="pluginFile">
                                <input id="pluginFile" name="pluginFile" type="file" style="display: none;">
                                <input id="pluginSig" name="pluginSig" type="file" style="display: none;">
                                @messages("version.create.selectFile")
                            </label>

                            @projects.helper.alertFile()
                        }
                    }

                    @if(pending.isDefined) {
                        @* Ready to go! *@
                        @defining(pending.get) { version: PendingVersion =>
                            @form(action = projectRoutes.Versions.publish(
                                ownerName, projectSlug, version.versionString),
                                'id -> "form-publish", 'class -> "pull-right") {
                                @CSRF.formField
                                @if(!showFileControls) {
                                    <input type="hidden" class="channel-input" name="channel-input"
                                    value="@pending.get.channelName" />
                                }
                                <input type="hidden" class="channel-color-input" name="channel-color-input"
                                value="@config.defaultChannelColor.hex" />

                                <div @if(!showFileControls) { class="btn-group" } >
                                    @if(!showFileControls) {
                                        <a href="@projectRoutes.Projects.showCreatorWithMeta(
                                            ownerName, projectName)" title="Back"
                                        class="btn btn-default">
                                            <i class="fas fa-arrow-left"></i>
                                        </a>
                                    }
                                    <input type="submit" name="create" value="@messages("version.create.publish")"
                                    class="btn btn-primary" />
                                </div>
                            }
                        }
                    }

                </div>
            </div>
            <span class="pull-left tos"><i>@Html(messages("version.create.tos", "#"))</i></span>
            @if(!showFileControls) {
                <span class="pull-right tos">
                    <i>@Html(messages(
                        "project.create.destination",
                        "<strong>" + ownerName + "/" + StringUtils.slugify(projectName) + "</strong>"))
                    </i>
                </span>
            }
        </div>
        @if(pending.isDefined) {
            @projects.helper.createSteps(4)
        }
    </div>

    @projects.channels.helper.modalManage()

}
