@import models.project.Version.PendingVersion
@import models.project.{Channel, Project}
@import views.html.helper.form
@(project: Project, pending: Option[PendingVersion],
  channels: Option[Seq[Channel]], showFileControls: Boolean)(implicit messages: Messages, session: Session, flash: Flash)

@core.layout(messages("version.create.page-title")) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/channelManage.js")"></script>

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            @messages("version.create.title")
                            @if(!showFileControls) {
                                <span class="pull-right minor">@messages("version.create.step", 2, 2)</span>
                            }
                        </h3>
                    </div>

                    <div class="create-body panel-body">
                        <p class="minor create-blurb">
                            Release a new version for <strong>@project.name</strong>.
                        </p>

                        @if(flash.get("error").isDefined) {
                            <div class="alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="@messages("aria.close")">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>@messages("version.create.error")</strong> @flash.get("error").get
                            </div>
                        }

                        @if(pending.isDefined) {
                            @* Show plugin meta *@
                            @defining(pending.get.version) { version =>
                                <div class="plugin-meta">
                                    <table class="plugin-meta-table">
                                        <tr>
                                            <td><strong>@messages("version")</strong></td>
                                            <td>@version.versionString</td>
                                        </tr>
                                        <tr>
                                            <td><strong>@messages("version.description")</strong></td>
                                            <td>
                                                @version.description.map { description =>
                                                  @description
                                                }.getOrElse {
                                                  <i class="minor">@messages("version.create.no-description")</i>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Channel</strong></td>
                                            <td class="form-inline">
                                                @* Show channel selector if old project, editor if new project *@
                                                @if(showFileControls) {
                                                    <select id="select-channel" form="form-publish" name="channel-input" class="form-control">
                                                        @channels.get.map { channel =>
                                                          <option value="@channel.name" data-color="@channel.color.hex"
                                                            @if(pending.isDefined && channel.name.equals(pending.get.channelName)) {
                                                              selected
                                                            }
                                                          >
                                                              @channel.name
                                                          </option>
                                                        }
                                                    </select>
                                                    <a href="#">
                                                        <i id="channel-new" class="fa fa-plus" data-toggle="modal" data-target="#channel-manage"></i>
                                                    </a>
                                                    <script type="text/javascript"
                                                            src="@routes.Assets.at("javascripts/versionCreateChannelNew.js")"></script>
                                                    <script>DEFAULT_COLOR = '@Channel.DEFAULT_COLOR.hex';</script>
                                                } else {
                                                    <span id="channel-name" class="channel" style="background-color: @pending.get.channelColor;">
                                                        @pending.get.channelName
                                                    </span>
                                                    <a href="#">
                                                        <i id="channel-edit" class="fa fa-edit"
                                                           data-toggle="modal" data-target="#channel-manage"></i>
                                                    </a>
                                                    <script>
                                                        $(function() {
                                                            // Setup editor
                                                            initChannelManager(
                                                                    "#channel-edit", "@pending.get.channelName", "@pending.get.channelColor",
                                                                    "Edit channel", null, null, "Save changes"
                                                            );
                                                        });
                                                    </script>
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            }
                        }

                        @if(showFileControls) {
                            @form(action = routes.Versions.upload(project.ownerName, project.slug), 'enctype -> "multipart/form-data") {
                                <label class="btn btn-primary" for="pluginFile">
                                    <input id="pluginFile" name="pluginFile" type="file" style="display: none;">
                                    @messages("version.create.select-file")
                                </label>
                                <input type="submit" name="submit" value="@messages("version.create.upload")" class="btn btn-primary" />
                            }
                        }

                        @if(pending.isDefined) {
                            @* Ready to go! *@
                            @defining(pending.get.version) { version =>
                                @form(action = routes.Versions.create(
                                    project.ownerName, project.slug, pending.get.channelName, version.versionString), 'id -> "form-publish") {
                                    @if(!showFileControls) {
                                        <input type="hidden" class="channel-input" name="channel-input" value="@pending.get.channelName" />
                                    }
                                    <input type="hidden" class="channel-color-input" name="channel-color-input" value="@Channel.DEFAULT_COLOR.hex" />
                                    <input type="submit" name="create" value="@messages("version.create.publish")" class="btn btn-primary" />
                                }
                            }
                            <span class="tos"><i>@Html(messages("version.create.tos", "#"))</i></span>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

    @projects.channels.modalManage()

}
