@import models.project.{Channel, Project, Version}
@import views.html.helper.form
@import models.project.Page
@(project: Project, channel: Channel, version: Version)(implicit messages: Messages, session: Session)

@projects.detail(project, "#versions") {

    <script type="text/javascript" src="@routes.Assets.at("showdown/dist/showdown.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/versionEdit.js")"></script>

    <div class="container">
        <div class="row">
            <div class="col-md-12 version-header">
                <div class="clearfix">
                    <h1 class="pull-left">@version.versionString</h1>
                    <span class="channel channel-head" style="background-color: @channel.color.hex;">@channel.name</span>
                </div>
                <p class="date pull-left">
                    <a href="#"><strong>@project.ownerName</strong></a> released this version on @version.prettyDate
                </p>
                <div class="pull-right version-buttons">
                    @if(session.get("username").isDefined && session.get("username").get.equals(project.ownerName)) {
                        <a class="btn btn-danger"
                           @if(project.versions.size == 1) {
                               disabled data-toggle="tooltip" data-placement="top"
                               title="@messages("version.delete.cannot-last")"
                           } else {
                               href="@routes.Versions.delete(project.ownerName, project.slug, channel.name, version.versionString)"
                           }
                        >
                            @messages("version.delete")
                        </a>
                    }
                    <a class="btn btn-primary"
                       href="@routes.Versions.download(project.ownerName, project.slug, channel.name, version.versionString)">
                        @messages("version.download")
                    </a>
                </div>
            </div>
        </div>
        <div class="row version-description">
            <div id="description" class="col-md-8"></div>

            <div id="description-view" style="display: none;">
                @if(session.get("username").isDefined && session.get("username").get.equals(project.ownerName)) {
                    <a href="#" id="description-edit" class="pull-right btn btn-default">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                }
                @if(version.description.isEmpty) {
                    <p class="minor"><i>@messages("version.create.no-description")</i></p>
                } else {
                    <p>@Html(Page.MD.markdownToHtml(version.description.get))</p>
                }
            </div>

            <div id="editor" style="display: none;">
                <div class="form-inline">
                    <ul class="version-edit-tabs pull-left nav nav-tabs nav-stacked" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">
                                <i class="fa fa-edit"></i>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">
                                <i class="fa fa-eye"></i>
                            </a>
                        </li>
                        <li><a id="description-save" href="#"><i class="fa fa-save"></i></a></li>
                        <li><a id="description-cancel" href="#"><i class="fa fa-times"></i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="edit">
                        @form(action = routes.Versions.saveDescription(
                            project.ownerName, project.slug, channel.name, version.versionString), 'id -> "form-save") {
                            <textarea id="version-editor"
                                      name="description"
                                      class="form-control"
                                      rows="20"
                                      style="width: 100% ;">@version.description.getOrElse("")</textarea>
                        }
                        </div>
                        <div role="tabpanel" class="tab-pane version-preview" id="preview"></div>
                    </div>
                </div>
            </div>

            @if(version.dependencies.nonEmpty) {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">Dependencies</h3></div>
                        <ul class="list-group">
                        @version.dependencies.map { depend =>
                            <li class="list-group-item">
                                @defining(depend.project) { project =>
                                    @if(project.isDefined) {
                                        <a href="@routes.Projects.show(project.get.ownerName, project.get.slug)">
                                            <strong>@project.get.name</strong>
                                        </a>
                                    } else {
                                        <div class="minor">
                                            @depend.pluginId
                                            <i class="fa fa-question-circle" title="@messages("version.dependency.not-on-ore")"
                                               data-toggle="tooltip" data-placement="right"></i>
                                        </div>
                                    }
                                    <p class="version-string">@depend.version</p>
                                }
                            </li>
                        }
                        </ul>
                    </div>
                </div>
            } else {
                <p class="minor text-center"><i>@messages("version.dependency.no")</i></p>
            }
        </div>
    </div>

}
