@*
Versions page within Project overview.
*@
@import controllers.project.{routes => projectRoutes}
@import db.ModelService
@import db.impl.access.UserBase
@import forums.DiscourseApi
@import models.project.{Channel, Project, Version}
@import ore.permission.{EditChannels, EditVersions}
@import ore.{OreConfig, OreEnv}
@import util.StringUtils.prettifyDate
@(model: Project, channels: Seq[Channel], versions: Seq[Version],
  visibleChannels: Option[Array[String]])(implicit messages: Messages, session: Session,
        request: RequestHeader, flash: Flash, service: ModelService, forums: DiscourseApi, config: OreConfig,
        userBase: UserBase, env: OreEnv)

@projects.view(model, "#versions") {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/versionList.js")"></script>
    <script>
        PLUGIN_ID = '@model.pluginId';
        PROJECT_OWNER = '@model.ownerName';
        PROJECT_SLUG = '@model.slug';
        @if(visibleChannels.isDefined) {
          CHANNEL_STRING = '@visibleChannels.get.mkString(",")';
        }
    </script>

    <!-- Version row template -->
    <table style="display: none;">
        <tbody>
            <tr id="row-version">
                <td>
                    <i class="fa fa-circle channel-id"></i>
                    <span class="version-str"></span>
                </td>
                <td>
                    <div class="pull-right">
                        <span class="date created"></span>
                        <span class="date size"></span>
                        <a class="info"><i title="Details" class="fa fa-info-circle"></i></a>
                        <a class="dl"><i title="Download" class="fa fa-download"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="container version-container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9">

                        <h2 class="versions-header">Versions</h2>

                        <div class="panel panel-default version-panel">
                            <!-- Version table -->
                            <table class="table">
                                <tbody>
                                    @versions.map { version =>
                                        @defining(version.findChannelFrom(channels).get) { channel =>
                                            <tr>
                                                <td>
                                                    <i title="@channel.name" class="fa fa-circle channel-id" style="color: @channel.color.hex"></i>
                                                    <a href="@projectRoutes.Versions.show(
                                                        model.ownerName, model.slug, version.versionString)">
                                                        <strong>@version.versionString</strong>
                                                    </a>
                                                </td>
                                                <td>
                                                    <div class="pull-right">
                                                        <span class="date">@prettifyDate(version.createdAt.get)</span>
                                                        <span class="date">@version.humanFileSize</span>
                                                        <a href="@projectRoutes.Versions.download(
                                                            model.ownerName, model.slug, version.versionString)">
                                                            <i title="Download" class="fa fa-download"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            @defining(versions.size) { size =>
                                @if(size > 1) {
                                    <div class="panel-footer">
                                        <span class="pull-left minor">
                                            <strong>
                                                <span class="offset">@versions.size</span>/@model.versions.size
                                            </strong>
                                        </span>

                                        <div class="pull-right">
                                            <a class="prev" href="#" style="display: none;">
                                                <i class="fa fa-arrow-left"></i>
                                            </a>
                                            <a class="next" href="#"
                                                @if(versions.size < config.projects.getInt("init-version-load").get) {
                                                    style="display: none;"
                                                    }
                                            >
                                                <i class="fa fa-arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                }
                            }
                        </div>

                    </div>
                    <div class="col-md-3">
                        @if(userBase.current.isDefined && (userBase.current.get can EditVersions in model)) {
                            <a href="@projectRoutes.Versions.showCreator(model.ownerName, model.slug)"
                            class="btn btn-block btn-primary btn-version">
                                <i class="fa fa-plus"></i> New version
                            </a>
                        }
                        <div class="panel panel-default channels">
                            <div class="panel-heading">
                                <h3 class="panel-title pull-left">Channels</h3>
                                <input type="checkbox" class="pull-right channels-all"
                                      @if(visibleChannels.isEmpty) { checked } />
                                <div class="clearfix"></div>
                            </div>

                            <!-- Channel list -->
                            <ul class="list-group list-channel">
                                @channels.sorted.map { channel =>
                                  <li class="list-group-item">
                                      <span class="channel" style="background-color: @channel.color.hex;">@channel.name</span>

                                      @visibleChannels.map(_.map(_.toLowerCase)).map { channels =>
                                        @defining(channels.contains(channel.name.toLowerCase)) { visible =>
                                            <input type="checkbox" class="pull-right"
                                                   @if(visible) { checked } />
                                        }
                                      }.getOrElse {
                                          <input type="checkbox" checked class="pull-right" />
                                      }
                                  </li>
                                }

                                @if(userBase.current.isDefined && (userBase.current.get can EditChannels in model)) {
                                    <li class="list-group-item text-right">
                                        <a href="@projectRoutes.Channels.showList(model.ownerName, model.slug)">
                                            <i class="fa fa-cog"></i> Edit
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        @users.memberList(model)
                    </div>
                </div>
            </div>
        </div>
    </div>

}
