@*
Versions page within Project overview.
*@
@import db.ModelService
@import db.impl.access.UserBase
@import models.project.{Channel, Project, Version}
@import ore.OreConfig
@import ore.permission.{EditChannels, EditVersions}
@import util.StringUtils._
@(model: Project,
  channels: Seq[Channel],
  versions: Seq[Version],
  visibleChannels: Option[Array[String]],
  page: Int)(implicit messages: Messages, request: Request[_], flash: Flash,
        service: ModelService, config: OreConfig, userBase: UserBase)

@pageSize = @{ config.projects.getInt("init-version-load").get }
@projectRoutes = @{ controllers.project.routes.Projects }
@versionRoutes = @{ controllers.project.routes.Versions }
@channelRoutes = @{ controllers.project.routes.Channels }

@projects.view(model, "#versions") {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/versionList.js")"></script>
    <script>
        PLUGIN_ID = '@model.pluginId';
        PROJECT_OWNER = '@model.ownerName';
        PROJECT_SLUG = '@model.slug';
        @if(visibleChannels.isDefined) {
          CHANNEL_STRING = '@visibleChannels.get.mkString(",")';
        }
    </script>

    <!-- Version row template -->
    <table style="display: none;">
        <tbody>
            <tr id="row-version">
                <td>
                    <i class="fa fa-circle channel-id"></i>
                    <a href="#" class="version-str"></a>
                </td>
                <td>
                    <div class="pull-right">
                        <span class="date created"></span>
                        <span class="date size"></span>
                        <a class="info"><i title="Details" class="fa fa-info-circle"></i></a>
                        <a class="dl"><i title="Download" class="fa fa-download"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="container version-container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9">

                        <h2 class="versions-header">Versions</h2>

                        <div class="panel panel-default version-panel">
                            <!-- Version table -->
                            <table class="table">
                                <tbody>
                                    @versions.map { version =>
                                        @defining(version.findChannelFrom(channels).get) { channel =>
                                            <tr>
                                                <td>
                                                    <i title="@channel.name" class="fa fa-circle channel-id"
                                                       style="color: @channel.color.hex"></i>
                                                    <a href="@versionRoutes.show(
                                                        model.ownerName, model.slug, version.versionString)">
                                                        <strong>@version.versionString</strong>
                                                    </a>
                                                </td>
                                                <td>
                                                    <div class="pull-right">
                                                        <span class="date">@prettifyDate(version.createdAt.get)</span>
                                                        <span class="date">@version.humanFileSize</span>
                                                        @if(version.isReviewed) {
                                                            <a href="@versionRoutes.download(
                                                                model.ownerName, model.slug, version.versionString)">
                                                                <i title="Download" class="fa fa-download"></i>
                                                            </a>
                                                        } else {
                                                            <a href="#" data-toggle="modal"
                                                               data-target="#modal-download-@version.id.get">
                                                                <i title="Download" class="fa fa-download"></i>
                                                            </a>
                                                        }

                                                        @projects.utils.modalDownload(
                                                            id = "modal-download-" + version.id.get,
                                                            call = versionRoutes.download(
                                                                model.ownerName, model.slug, version.versionString),
                                                            message = "project.download.warn")
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            @defining(model.versions.size) { totalVersions =>
                              @if(page * pageSize < totalVersions) {
                                  <div class="panel-footer">
                                      <span class="pull-left minor">
                                          <strong>
                                              <span class="offset">@versions.size</span>/@model.versions.size
                                          </strong>
                                          <i class="fa fa-spinner" style="display: none;"></i>
                                      </span>

                                      <div class="pull-right">
                                          <a class="prev" href="#" @if(page == 1) { style="display: none;" }>
                                              <i class="fa fa-arrow-left"></i>
                                          </a>
                                          <a class="next" href="#"><i class="fa fa-arrow-right"></i></a>
                                      </div>
                                      <div class="clearfix"></div>
                                  </div>
                              }
                            }
                        </div>

                    </div>
                    <div class="col-md-3">
                        @if(userBase.current.isDefined && (userBase.current.get can EditVersions in model)) {
                            <a href="@versionRoutes.showCreator(model.ownerName, model.slug)"
                            class="btn btn-block btn-primary btn-version">
                                <i class="fa fa-plus"></i> New version
                            </a>
                        }
                        <div class="panel panel-default channels">
                            <div class="panel-heading">
                                <h3 class="panel-title pull-left">Channels</h3>
                                <input type="checkbox" class="pull-right channels-all"
                                      @if(visibleChannels.isEmpty) { checked } />
                                <div class="clearfix"></div>
                            </div>

                            <!-- Channel list -->
                            <ul class="list-group list-channel">
                                @channels.sorted.map { channel =>
                                  <li class="list-group-item">
                                      <span class="channel" style="background-color: @channel.color.hex;">@channel.name</span>

                                      @visibleChannels.map(_.map(_.toLowerCase)).map { channels =>
                                        @defining(channels.contains(channel.name.toLowerCase)) { visible =>
                                            <input type="checkbox" class="pull-right"
                                                   @if(visible) { checked } />
                                        }
                                      }.getOrElse {
                                          <input type="checkbox" checked class="pull-right" />
                                      }
                                  </li>
                                }

                                @if(userBase.current.isDefined && (userBase.current.get can EditChannels in model)) {
                                    <li class="list-group-item text-right">
                                        <a href="@channelRoutes.showList(model.ownerName, model.slug)">
                                            <i class="fa fa-cog"></i> Edit
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        @users.memberList(
                            model = model,
                            settingsCall = projectRoutes.showSettings(model.ownerName, model.slug)
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>

}
