@*
Versions page within Project overview.
*@
@import models.project.{Channel, Project, Version}
@(model: Project, channels: Seq[Channel], versions: Seq[Version],
  visibleChannels: Option[Array[String]])(implicit messages: Messages, session: Session)

@projects.detail(model, "#versions") {

    <div class="container version-container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9">
                        <table class="table">
                            <thead>
                                <tr><th>Version</th></tr>
                            </thead>
                            <tbody>
                                @versions.map { version =>
                                  @defining(version.getChannelFrom(channels).get) { channel =>
                                    <tr>
                                        <td>
                                            <i class="fa fa-circle channel-id" style="color: @channel.getColor.hex"></i> @version.versionString
                                        </td>
                                        <td>
                                            <div class="pull-right">
                                                <span class="date">@version.prettyDate</span>
                                                <a href="@routes.Projects.showVersion(
                                                    model.owner, model.getSlug, channel.getName, version.versionString)">
                                                    <i class="fa fa-info-circle"></i>
                                                </a>
                                                <a href="@routes.Projects.downloadVersion(
                                                    model.owner, model.getSlug, channel.getName, version.versionString)">
                                                    <i class="fa fa-download"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                  }
                                }
                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-3">
                        @if(session.get("username").isDefined && session.get("username").get.equals(model.owner)) {
                            <a href="@routes.Projects.showVersionCreate(model.owner, model.getSlug)"
                            class="btn btn-block btn-primary btn-panel btn-version">
                                <i class="fa fa-plus"></i> Create version
                            </a>
                        }
                        <div class="panel panel-default channels">
                            <div class="panel-heading">
                                <h3 class="panel-title">Channels</h3>
                                @if(visibleChannels.isDefined) {
                                    <a href="@routes.Projects.showVersions(model.owner, model.getSlug, None)">
                                        <i class="pull-right channel-reset fa fa-times"></i>
                                    </a>
                                }
                            </div>

                            <ul class="list-group">
                                @channels.sorted.map { channel =>
                                  <li class="list-group-item">
                                      <span class="channel"
                                            style="background-color: @channel.getColor.hex;">@channel.getName</span>
                                      @if(visibleChannels.isDefined) {
                                          @if(!visibleChannels.get.contains(channel.getName)) {
                                              <a class="pull-right"
                                                 href="@routes.Projects.showVersions(model.owner, model.getSlug, Some(
                                                     (visibleChannels.get :+ channel.getName).mkString(",")
                                                 ))"
                                              >
                                                  <i class="fa fa-eye-slash"></i>
                                              </a>
                                          } else {
                                              <a class="pull-right"
                                                 href="@routes.Projects.showVersions(model.owner, model.getSlug, Some(
                                                     visibleChannels.get.filterNot(c => c.equals(channel.getName)).mkString(",")
                                                 ))"
                                              >
                                                  <i class="fa fa-eye"></i>
                                              </a>
                                          }
                                      } else {
                                          <a href="@routes.Projects.showVersions(model.owner, model.getSlug, Some(channel.getName))"
                                             class="pull-right">
                                              <i class="fa fa-eye"></i>
                                          </a>
                                      }
                                  </li>
                                }
                                @if(session.get("username").isDefined && session.get("username").get.equals(model.owner)) {
                                    <li class="list-group-item text-right">
                                        <a href="@routes.Projects.showChannels(model.owner, model.getSlug)">
                                            <i class="fa fa-cog"></i> Edit
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                        @if(model.getAuthors.nonEmpty) {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Developers</h3>
                                </div>
                                <ul class="list-group">
                                @model.getAuthors.map { author =>
                                    <li class="list-group-item">
                                        @defining(author.getUser) { userOpt =>
                                            @if(userOpt.isDefined) {
                                                <a href="#">@author.name</a>
                                            } else {
                                                <span class="minor">@author.name</span>
                                            }
                                        }
                                    </li>
                                }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}
