@import controllers.sugar.Requests.OreRequest
@import models.admin.VersionVisibilityChange
@import models.project.{Project, Version}
@import models.user.User
@import ore.OreConfig
@import util.StringUtils._

@import db.Model

@(project: Project, version: Version, visibilityChanges: Seq[(Model[VersionVisibilityChange], Option[User])])(implicit messages: Messages, request: OreRequest[_], config: OreConfig, flash: Flash)

@versionRoutes = @{controllers.project.routes.Versions}

@bootstrap.layout(messages("version.log.logger.title", project.namespace)) {
	<div class="row">
		<div class="col-md-12">
			<h1>@messages("version.log.visibility.title") <a href="@versionRoutes.show(project.ownerName, project.slug, version.versionString)">@project.ownerName/@project.slug/versions/@version.versionString</a></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title pull-left">@messages("version.log.visibility.title")</h4>
					<div class="clearfix"></div>
				</div>
				<table class="table table-condensed setting-no-border table-review-log">
					<thead>
						<tr>
							<th>State</th>
							<th>Time</th>
							<th>Comment</th>
							<th>Set by</th>
						</tr>
					</thead>
					<tbody>
						@if(visibilityChanges.isEmpty) {
							<tr><td>No entries founds</td></tr>
						}
						@visibilityChanges.reverse.map { case (entry, createdBy) =>
						<tr>
							<td>@entry.visibility</td>
							<td>@prettifyDateAndTime(entry.createdAt)</td>
							<td>@entry.renderComment</td>
							@if(createdBy.isDefined) {
								<td>@createdBy.get.name</td>
							} else {
								<td>Unknown</td>
							}
						</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
}
