@import controllers.sugar.Requests.OreRequest
@import db.ModelService
@import models.project.{Project, Version}
@import ore.OreConfig
@import ore.project.io.DownloadTypes.DownloadType
@import views.html.helper.CSRF
@(project: Project,
  target: Version,
  downloadType: DownloadType,
  token: String)(implicit messages: Messages, request: OreRequest[_], config: OreConfig)

@versionRoutes = @{ controllers.project.routes.Versions }

@bootstrap.layout(messages("version.download.confirm", project.ownerName, project.name, target.name)) {

    <div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            @messages("version.download.confirm", project.ownerName, project.name, target.name)
                        </h4>
                    </div>
                    <div class="panel-body">
                        @Html(messages("version.download.confirm.body"))
                        <a href="@versionRoutes.show(project.ownerName, project.slug, target.name)"
                           class="pull-left unsafe-dl-back">
                            <i class="fa fa-arrow-left"></i> @messages("project.back")
                        </a>
                        <form action="@versionRoutes.confirmDownload(project.ownerName, project.slug, target.name,
                            Some(downloadType.id), token)"
                              method="post" id="form-download">
                            @CSRF.formField
                            <button type="submit" form="form-download" class="pull-right btn btn-primary">
                                @messages("general.continue")
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
