@import controllers.sugar.Requests.OreRequest
@import models.project.{Project, Version, Channel}
@import ore.OreConfig
@import ore.project.io.DownloadTypes.DownloadType
@import views.html.helper.CSRF
@(project: Project,
        target: Version,
        isTargetChannelNonReviewed: Boolean,
        downloadType: DownloadType,
        token: String)(implicit messages: Messages, request: OreRequest[_], config: OreConfig)

@versionRoutes = @{ controllers.project.routes.Versions }

@bootstrap.layout(messages("version.download.confirm.title") + " " + messages("version.download.confirm.header", project.ownerName, project.name, target.name)) {

    <div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="col-xs-12 col-sm-4 no-padding">
                            <h4 class="panel-title"><i class="fa fa-warning"></i>&ensp;@messages("general.warning")</h4>
                        </div>
                        <div class="col-xs-12 col-sm-8 no-padding">
                            <span class="pull-right">@messages("version.download.confirm.header", project.ownerName, project.name, target.name)</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-danger" style="margin-bottom: 10px">
                            @if(isTargetChannelNonReviewed) {
                                @messages("version.download.confirm.nonReviewedChannel")
                            } else {
                                @messages("version.download.confirm.reviewedChannel")
                            }
                        </div>
                        <p>
                            @messages("general.disclaimer"):
                            <span class="text-italic">@messages("version.download.confirm.disclaimer")</span>
                        </p>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 mb-3-sm">
                                <button class="btn btn-success" onclick="window.location = @versionRoutes.show(project.ownerName, project.slug, target.name).absoluteURL">
                                @messages("project.back")
                                </button>
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <form action="@versionRoutes.confirmDownload(project.ownerName, project.slug, target.name, Some(downloadType.id), token)" method="post" id="form-download">
                                    @CSRF.formField

                                    <button type="submit" form="form-download" class="btn btn-danger pull-right-sm">
                                    @messages("version.download.confirm.download")
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
