@import controllers.project.{routes => projectRoutes}
@import db.ModelService
@import db.impl.access.{ProjectBase, UserBase}
@import models.project.{Channel, Project, Version}
@import ore.permission.scope.GlobalScope
@import ore.permission.{EditVersions, ReviewProjects}
@import ore.project.Dependency.SpongeApiId
@import ore.{OreConfig, OreEnv}
@import util.StringUtils.prettifyDate
@(project: Project, channel: Channel, version: Version)(implicit messages: Messages,
        session: Session, request: RequestHeader, flash: Flash, service: ModelService, config: OreConfig,
        users: UserBase, projectBase: ProjectBase, env: OreEnv)

@hasUser = @{ users.current.isDefined }
@user = @{ users.current.get }
@canEdit = @{ hasUser && (user can EditVersions in project) }
@canApprove = @{ hasUser && (user can ReviewProjects in GlobalScope) }
@isRecommended = @{ project.recommendedVersion.equals(version) }

@projects.view(project, "#versions", noButtons = true) {

    <div class="container">
        <!-- Version header -->
        <div class="row">
            <div class="col-md-12 version-header">
                <!-- Title -->
                <div class="clearfix">
                    <h1 class="pull-left">@version.versionString</h1>
                    <span class="channel channel-head" style="background-color: @channel.color.hex;">@channel.name</span>
                </div>

                <!-- User info -->
                <p class="user date pull-left">
                    <a href="@routes.Users.showProjects(project.ownerName, None)">
                        <strong>@project.ownerName</strong>
                    </a>
                    released this version on @prettifyDate(version.createdAt.get)
                </p>

                <!-- Buttons -->
                <div class="version-buttons pull-right">
                    <div><span class="date">@version.humanFileSize</span></div>

                    @if(isRecommended) {
                        <div><i title="Recommended version" class="recommended fa fa-diamond"></i></div>
                    }

                    <div class="btn-group">

                        @if(!isRecommended && canEdit) {
                            <a class="btn btn-info"
                               href="@projectRoutes.Versions.setRecommended(
                                   project.ownerName, project.slug, version.versionString)">
                                <i class="fa fa-diamond"></i> Set recommended
                            </a>
                        }

                        @if(!version.isReviewed && canApprove) {
                            <a class="btn btn-success"
                               href="@projectRoutes.Versions.approve(project.ownerName, project.slug, version.name)">
                                <i class="fa fa-thumbs-up"></i> Approve
                            </a>
                        }

                        @if(canEdit) {
                            <a class="btn btn-danger"
                               @if(project.versions.size == 1) {
                                   disabled data-toggle="tooltip" data-placement="top"
                                   title="@messages("version.delete.cannot-last")"
                               } else {
                                   href="@projectRoutes.Versions.delete(project.ownerName, project.slug, version.versionString)"
                               }
                            >
                                <i class="fa fa-trash"></i> @messages("general.delete")
                            </a>
                        }

                        <a class="btn btn-primary"
                           href="@projectRoutes.Versions.download(project.ownerName, project.slug, version.versionString)">
                            <i class="fa fa-download"></i> @messages("general.download")
                        </a>

                    </div>
                </div>
            </div>
        </div>


        <!-- Description -->
        <div class="row version-description">
            <div id="description" class="col-md-8">
                <div class="row">
                    @if(!version.isReviewed) {
                        <div class="col-md-12">
                            <div class="alert-review alert alert-info" role="alert">
                                <i class="fa fa-info-circle"></i>
                                This project is under review and may not be safe for downloading.
                            </div>
                        </div>
                    }
                    <div class="col-md-12">
                        @editor(
                            saveCall = projectRoutes.Versions.saveDescription(
                                project.ownerName, project.slug, version.versionString
                            ),
                            enabled = canEdit,
                            raw = version.description.getOrElse(""),
                            cooked = version.descriptionHtml,
                            subject = "Version"
                        )
                    </div>
                </div>
            </div>


            @if(version.dependencies.nonEmpty) {
                <!-- Dependencies -->
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="pull-left panel-title">Dependencies</h3>
                            @version.dependencies.find(_.pluginId.equals(SpongeApiId)).map { spongeApi =>
                                <span class="pull-right channel channel-sm spongeapi">
                                    <a href="https://www.spongepowered.org/#downloads">SpongeAPI @spongeApi.version</a>
                                </span>
                                <div class="clearfix"></div>
                            }
                        </div>
                        <ul class="list-group">
                        @version.dependencies.filterNot(_.pluginId.equals(SpongeApiId)).map { depend =>
                            <li class="list-group-item">
                                @defining(depend.project) { project =>
                                    @if(project.isDefined) {
                                        <a href="@projectRoutes.Projects.show(project.get.ownerName, project.get.slug)">
                                            <strong>@project.get.name</strong>
                                        </a>
                                    } else {
                                        <div class="minor">
                                            @depend.pluginId
                                            <i class="fa fa-question-circle"
                                               title="@messages("version.dependency.notOnOre")"
                                               data-toggle="tooltip" data-placement="right"></i>
                                        </div>
                                    }
                                    <p class="version-string">@depend.version</p>
                                }
                            </li>
                        }
                        </ul>
                    </div>
                </div>
            } else {
                <p class="minor text-center"><i>@messages("version.dependency.no")</i></p>
            }
        </div>
    </div>

}
