@import db.ModelService
@import db.impl.access.{ProjectBase, UserBase}
@import models.project.{Channel, Project, Version}
@import ore.OreConfig
@import ore.permission.scope.GlobalScope
@import ore.permission.{EditVersions, ReviewProjects}
@import ore.project.Dependency.SpongeApiId
@import util.StringUtils._
@import ore.project.Dependency._
@import views.html.helper.form
@import views.html.helper.CSRF
@(project: Project, channel: Channel, version: Version)(implicit messages: Messages, request: Request[_], flash: Flash,
        service: ModelService, config: OreConfig, users: UserBase, projectBase: ProjectBase)

@hasUser = @{ users.current.isDefined }
@user = @{ users.current.get }
@canEdit = @{ hasUser && (user can EditVersions in project) }
@canApprove = @{ hasUser && (user can ReviewProjects in GlobalScope) }
@isRecommended = @{ project.recommendedVersion.equals(version) }

@projectRoutes = @{controllers.project.routes.Projects}
@versionRoutes = @{controllers.project.routes.Versions}

@filterDependencies = @{
    version.dependencies
            .filterNot(_.pluginId.equals(SpongeApiId))
            .filterNot(_.pluginId.equals(MinecraftId))
            .filterNot(_.pluginId.equals(ForgeId))
}

@projects.view(project, "#versions", noButtons = true) {

    <div class="container">
        <!-- Version header -->
        <div class="row">
            <div class="col-md-12 version-header">
                <!-- Title -->
                <div class="clearfix">
                    <h1 class="pull-left">@version.versionString</h1>
                    <span class="channel channel-head" style="background-color: @channel.color.hex;">@channel.name</span>
                </div>

                <!-- User info -->
                <p class="user date pull-left">
                    <a href="@routes.Users.showProjects(project.ownerName, None)">
                        <strong>@project.ownerName</strong>
                    </a>
                    released this version on @prettifyDate(version.createdAt.get)
                </p>

                <!-- Buttons -->

                <div class="pull-right version-actions">
                    <div class="version-icons">
                        @if(isRecommended) {
                            <div>
                                <i data-toggle="tooltip" data-placement="left"
                                   title="@messages("version.recommended")"
                                   class="recommended fa fa-diamond"></i>
                            </div>
                        }

                        @if(version.isReviewed) {
                            <div>
                                @if(canApprove) {
                                    @version.reviewer.flatMap(r => version.approvedAt.map((r, _))).map { t =>
                                        <i class="minor">
                                            @Html(messages("version.approved.info", t._1.name, prettifyDate(t._2)))
                                        </i>
                                    }
                                }
                                <i data-toggle="tooltip" data-placement="left" title="@messages("version.approved")"
                                   class="fa fa-lg fa-check-circle-o"></i>
                            </div>
                        }
                    </div>

                    <div class="version-buttons pull-right">
                        <div><span class="date">@version.humanFileSize</span></div>

                        <div>

                            @if(!isRecommended && canEdit) {
                                @form(action = versionRoutes.setRecommended(
                                    project.ownerName, project.slug, version.versionString), 'class -> "form-inline") {
                                    @CSRF.formField
                                    <button type="submit" class="btn btn-info">
                                        <i class="fa fa-diamond"></i> Set recommended
                                    </button>
                                }
                            }

                            @if(canApprove) {
                                @if(version.isReviewed) {
                                    <a href="/@project.ownerName/@project.slug/versions/@version.versionString/reviews" class="btn btn-info">@messages("review.log")</a>
                                } else {
                                    <a href="/@project.ownerName/@project.slug/versions/@version.versionString/reviews" class="btn btn-success">
                                        <i class="fa fa-thumps-up"></i> @messages("review.start")
                                    </a>
                                }
                            }

                            @if(canEdit) {
                                @if(project.versions.size == 1) {
                                    <a class="btn btn-danger" disabled data-toggle="tooltip" data-placement="top"
                                       title="@messages("version.delete.cannotLast")">
                                        <i class="fa fa-trash"></i> @messages("general.delete")
                                    </a>
                                } else {
                                    @form(action = versionRoutes.delete(
                                        project.ownerName, project.slug, version.versionString),
                                        'class -> "form-inline") {
                                        @CSRF.formField
                                        <button type="submit" class="btn btn-danger">
                                            <i class="fa fa-trash"></i> @messages("general.delete")
                                        </button>
                                    }
                                }
                            }

                            <a href="@versionRoutes.download(
                                project.ownerName, project.slug, version.versionString, None)"
                               class="btn btn-primary">
                                <i class="fa fa-download"></i> @messages("general.download")
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Description -->
        <div class="row version-description">
            <div id="description" class="col-md-8">
                <div class="row">
                    @if(!version.isReviewed) {
                        <div class="col-md-12">
                            <div class="alert-review alert alert-info" role="alert">
                                <i class="fa fa-info-circle"></i>
                                This project is under review and may not be safe for downloading.
                            </div>
                        </div>
                    }
                    <div class="col-md-12">
                        @utils.editor(
                            saveCall = versionRoutes.saveDescription(
                                project.ownerName, project.slug, version.versionString
                            ),
                            enabled = canEdit,
                            raw = version.description.getOrElse(""),
                            cooked = version.descriptionHtml,
                            subject = "Version"
                        )
                    </div>
                </div>
            </div>


            @if(version.dependencies.nonEmpty) {
                <!-- Dependencies -->
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Dependencies</h3>
                        </div>
                        <ul class="list-group">

                            @version.dependencies.find(_.pluginId.equals(SpongeApiId)).map { spongeApi =>
                                <li class="list-group-item">
                                    <a href="https://www.spongepowered.org/downloads">
                                        <strong>@messages("general.spongeApi")</strong>
                                    </a>
                                    <p class="version-string">@spongeApi.version</p>
                                </li>
                            }

                            @version.dependencies.find(_.pluginId.equals(MinecraftId)).map { minecraft =>
                                <li class="list-group-item">
                                    <a href="https://minecraft.net">
                                        <strong>@messages("general.minecraft")</strong>
                                    </a>
                                    <p class="version-string">@minecraft.version</p>
                                </li>
                            }

                            @version.dependencies.find(_.pluginId.equals(ForgeId)).map { forge =>
                                <li class="list-group-item">
                                    <a href="http://files.minecraftforge.net">
                                        <strong>@messages("general.forge")</strong>
                                    </a>
                                    <p class="version-string">@forge.version</p>
                                </li>
                            }

                            @filterDependencies.map { depend =>
                                <li class="list-group-item">
                                    @defining(depend.project) { project =>
                                        @if(project.isDefined) {
                                            <a href="@projectRoutes.show(
                                                project.get.ownerName, project.get.slug)">
                                                <strong>@project.get.name</strong>
                                            </a>
                                        } else {
                                            <div class="minor">
                                                @depend.pluginId
                                                <i class="fa fa-question-circle"
                                                   title="@messages("version.dependency.notOnOre")"
                                                   data-toggle="tooltip" data-placement="right"></i>
                                            </div>
                                        }
                                        <p class="version-string">@depend.version</p>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            } else {
                <p class="minor text-center"><i>@messages("version.dependency.no")</i></p>
            }
        </div>
    </div>

}
