@import controllers.sugar.Requests.OreRequest
@import db.ModelService
@import models.viewhelper.{ScopedProjectData, VersionData}
@import ore.OreConfig
@import ore.permission.{EditVersions, ReviewProjects}
@import ore.project.Dependency.{SpongeApiId, _}
@import util.StringUtils._
@import views.html.helper.{CSRF, form}
@import views.html.utils.editor
@import ore.permission.UploadVersions
@(v: VersionData, sp: ScopedProjectData)(implicit messages: Messages, request: OreRequest[_], flash: Flash, config: OreConfig)

@projectRoutes = @{controllers.project.routes.Projects}
@versionRoutes = @{controllers.project.routes.Versions}

@projects.view(v.p, sp, "#versions", noButtons = true) {

    <div class="container">
        <!-- Version header -->
        <div class="row">
            <div class="col-md-12 version-header">
                <!-- Title -->
                <div class="clearfix">
                    <h1 class="pull-left">@v.v.versionString</h1>
                    <span class="channel channel-head" style="background-color: @v.c.color.hex;">@v.c.name</span>
                </div>

                <!-- User info -->
                <p class="user date pull-left">
                    <a href="@routes.Users.showProjects(v.p.project.ownerName, None)">
                        <strong>@v.p.project.ownerName</strong>
                    </a>
                    released this version on @prettifyDate(v.v.createdAt.get)
                </p>

                <!-- Buttons -->

                <div class="pull-right version-actions">
                    <div class="version-icons">
                        @if(v.isRecommended) {
                            <div>
                                <i data-toggle="tooltip" data-placement="left"
                                   title="@messages("version.recommended")"
                                   class="recommended fa fa-diamond pull-right"></i>
                            </div>
                            <div class="clearfix"></div>
                        }

                        @if(v.v.isReviewed) {
                            <div>
                                @if(request.data.globalPerm(ReviewProjects)) {
                                    @v.approvedBy.zip(v.v.approvedAt).map { t =>
                                        <i class="minor">
                                            @Html(messages("version.approved.info", t._1, prettifyDate(t._2)))
                                        </i>
                                    }
                                }
                                <i data-toggle="tooltip" data-placement="left" title="@messages("version.approved")"
                                   class="fa fa-lg fa-check-circle-o"></i>
                            </div>
                        }
                    </div>

                    <div class="version-buttons pull-right">
                        <div><span class="date">@v.v.humanFileSize</span></div>

                        <div>

                            @if(!v.isRecommended && sp.perms(EditVersions)) {
                                @form(action = versionRoutes.setRecommended(
                                    v.p.project.ownerName, v.p.project.slug, v.v.versionString), 'class -> "form-inline") {
                                    @CSRF.formField
                                    <button type="submit" class="btn btn-info">
                                        <i class="fa fa-diamond"></i> Set recommended
                                    </button>
                                }
                            }

                            @if(request.data.globalPerm(ReviewProjects)) {
                                @if(v.v.isReviewed) {
                                    <a href="@v.fullSlug/reviews" class="btn btn-info">@messages("review.log")</a>
                                } else {
                                    <a href="@v.fullSlug/reviews" class="btn btn-success">
                                        <i class="fa fa-thumps-up"></i> @messages("review.start")
                                    </a>
                                }
                            }

                            @if(sp.perms(UploadVersions)) {
                                @if(v.p.versions == 1) {
                                    <a class="btn btn-danger" disabled data-toggle="tooltip" data-placement="top"
                                       title="@messages("version.delete.cannotLast")">
                                        <i class="fa fa-trash"></i> @messages("general.delete")
                                    </a>
                                } else {
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete">
                                        <i class="fa fa-trash"></i> @messages("general.delete")
                                    </button>
                                }
                            }

                            <div class="btn-group btn-download">
                                <a href="@versionRoutes.download(v.p.project.ownerName, v.p.project.slug, v.v.versionString, None)"
                                title="@messages("project.download.recommend")" data-toggle="tooltip"
                                data-placement="bottom" class="btn btn-primary">
                                    <i class="fa fa-download"></i> @messages("general.download")
                                </a>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="@versionRoutes.download(v.p.project.ownerName, v.p.project.slug, v.v.versionString, None)">@messages("general.download")</a></li>
                                    <li><a href="#" class="copy-url" data-clipboard-text="@config.app.get[String]("baseUrl")@versionRoutes.download(v.p.project.ownerName, v.p.project.slug, v.v.versionString, None)">Copy URL</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Description -->
        <div class="row version-description">
            <div id="description" class="col-md-8">
                <div class="row">
                    @if(!v.v.isReviewed) {
                        <div class="col-md-12">
                            <div class="alert-review alert alert-info" role="alert">
                                <i class="fa fa-info-circle"></i>
                                This project is under review and may not be safe for downloading.
                            </div>
                        </div>
                    }
                    <div class="col-md-12">
                        @editor(
                            saveCall = versionRoutes.saveDescription(
                                v.p.project.ownerName, v.p.project.slug, v.v.versionString
                            ),
                            enabled = sp.perms(EditVersions),
                            raw = v.v.description.getOrElse(""),
                            cooked = v.v.descriptionHtml,
                            subject = "Version"
                        )
                    </div>
                </div>
            </div>


            @if(v.v.dependencies.nonEmpty) {
                <!-- Dependencies -->
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Dependencies</h3>
                        </div>
                        <ul class="list-group">

                            @v.v.dependencies.find(_.pluginId.equals(SpongeApiId)).map { spongeApi =>
                                <li class="list-group-item">
                                    <a href="https://www.spongepowered.org/downloads">
                                        <strong>@messages("general.spongeApi")</strong>
                                    </a>
                                    <p class="version-string">@spongeApi.version</p>
                                </li>
                            }

                            @v.v.dependencies.find(_.pluginId.equals(MinecraftId)).map { minecraft =>
                                <li class="list-group-item">
                                    <a href="https://minecraft.net">
                                        <strong>@messages("general.minecraft")</strong>
                                    </a>
                                    <p class="version-string">@minecraft.version</p>
                                </li>
                            }

                            @v.v.dependencies.find(_.pluginId.equals(ForgeId)).map { forge =>
                                <li class="list-group-item">
                                    <a href="http://files.minecraftforge.net">
                                        <strong>@messages("general.forge")</strong>
                                    </a>
                                    <p class="version-string">@forge.version</p>
                                </li>
                            }

                            @v.filteredDependencies.map { case (depend, project)=>
                                <li class="list-group-item">
                                    @if(project.isDefined) {
                                        <a href="@projectRoutes.show(
                                            project.get.ownerName, project.get.slug)">
                                            <strong>@project.get.name</strong>
                                        </a>
                                    } else {
                                        <div class="minor">
                                            @depend.pluginId
                                            <i class="fa fa-question-circle"
                                               title="@messages("version.dependency.notOnOre")"
                                               data-toggle="tooltip" data-placement="right"></i>
                                        </div>
                                    }
                                    <p class="version-string">@depend.version</p>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            } else {
                <p class="minor text-center"><i>@messages("version.dependency.no")</i></p>
            }
        </div>
    </div>

    @if(sp.perms(UploadVersions) && v.p.versions != 1) {
        <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="label-delete">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="label-delete">@messages("version.delete.title")</h4>
                    </div>
                    @form(action = versionRoutes.delete(v.p.project.ownerName, v.p.project.slug, v.v.versionString), 'class -> "form-inline") {
                        <div class="modal-body">
                        @messages("version.delete.info")
                        </div>
                        <div class="modal-footer">
                            <div class="form-inline">
                                @CSRF.formField
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                @messages("channel.edit.close")
                                </button>
                                <input type="submit" name="delete" value="@messages("general.delete")" class="btn btn-danger">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}
