@import models.project.Categories
@import models.project.Categories.Category
@(form: String, selected: Option[Category] = None)(implicit messages: Messages)

<div class="category-select form-group">
    <label for="category">@messages("project.category")</label>
    <select class="form-control" id="category" name="category" form="@form">
        @for(i <- 0 until Categories.values.size) {
            <option @if(selected.isDefined && selected.get.equals(Categories(i))) { selected }>
                @Categories(i).title
            </option>
        }
    </select>
</div>
