@*
Page used for uploading and creating new projects.
*@
@import controllers.project.routes.{Projects => projectRoutes}
@import db.ModelService
@import db.impl.access.UserBase
@import forums.DiscourseApi
@import ore.project.factory.PendingProject
@import ore.{OreConfig, OreEnv}
@import play.twirl.api.Html
@import views.html.helper.form
@(pending: Option[PendingProject])(implicit messages: Messages, session: Session, flash: Flash,
        request: RequestHeader, service: ModelService, forums: DiscourseApi, config: OreConfig, users: UserBase,
        env: OreEnv)

@projects.utils.panelCreate(messages("project.create"), if (pending.isEmpty) 1 else 2) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/projectCreateValidate.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/pluginUpload.js")"></script>

    <div class="panel-body project-body">
        <div class="minor create-blurb">
            <p>@Html(messages("project.create.info-text.head"))</p>
            <p>@Html(messages("project.create.info-text.bottom"))</p>
        </div>

        @if(flash.get("error").isDefined) {
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="@messages("aria.close")">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>@messages("project.create.error")</strong> @flash.get("error").get
            </div>
        }

        @if(pending.isDefined) {
            @* Display plugin metadata *@
            @defining(pending.get.project) { project =>
                <div class="plugin-meta">
                    <i class="minor">mcmod.info</i>

                    <table class="plugin-meta-table">
                        <tbody>
                            <tr>
                                <td colspan="2"><strong>@messages("project.create.uid")</strong></td>
                                <td>@project.pluginId <i class="id-status fa fa-spinner fa-spin"></i></td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>@messages("project.name")</strong></td>
                                <td>@project.name <i class="name-status fa fa-spinner fa-spin"></i></td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>@messages("project.owner")</strong></td>
                                <td>
                                    @defining(project.owner.ownedOrganizations) { organizations =>
                                        @if(organizations.nonEmpty) {
                                            <select name="owner" form="continue">
                                                <option value="@project.ownerId" selected>@project.ownerName</option>
                                                @organizations.all.map { organization =>
                                                  <option value="@organization.id.get">@organization.name</option>
                                                }
                                            </select>
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label for="description">Description</label>
                                    @defining(pending.get.pendingVersion.version.description) { description =>
                                        <input form="continue" class="form-control" type="text" id="description"
                                        name="description" maxlength="@config.projects.getInt("max-desc-len").get"
                                            @description.map { value =>
                                            value="@value"
                                            }.getOrElse {
                                                placeholder="@messages("version.create.no-description")"
                                    }
                                        />
                                    }
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <script>
                        $(function() {
                            validateMeta("@project.pluginId", "@project.name",
                                    "@project.ownerName", "@project.slug");
                        });
                    </script>
                </div>
            }
        }

        @if(pending.isDefined) {
            @* Category select *@
            @projects.utils.inputSettings("continue")
        }

        <div class="create-buttons">
            @* File controls *@
            @form(action = projectRoutes.upload, 'enctype -> "multipart/form-data", 'id -> "form-upload") {
                <label class="btn btn-default pull-left" for="pluginFile">
                    <input id="pluginFile" name="pluginFile" type="file" style="display: none;">
                    @messages("project.create.select-file")
                </label>
            }

            @* Continue to next step *@
            @if(pending.isDefined) {
                @defining(pending.get.project) { project =>
                    @form(action = projectRoutes.showInvitationForm(project.ownerName, project.slug),
                        'id -> "continue", 'class -> "pull-right") {

                        <div class="btn-group">
                            <a href="@projectRoutes.showCreator" title="Back" class="pull-left btn btn-default">
                                <i class="fa fa-arrow-left"></i>
                            </a>

                            @* Disabled until JS determines meta is valid *@
                            <button title="Continue" type="submit" name="create" value="@messages("project.create.continue")"
                                    class="pull-right continue-btn btn btn-default" disabled>
                                <i class="fa fa-spinner fa-spin"></i>
                            </button>
                        </div>
                    }
                }
            }

            @projects.utils.alertFile()
        </div>
    </div>


}
