@*
Page used for uploading and creating new projects.
*@
@import models.project.Project.PendingProject
@import play.api.Play
@import views.html.helper.form
@import models.project.Project
@(pending: Option[PendingProject])(implicit messages: Messages, session: Session, flash: Flash)

@core.layout(messages("project.create")) {

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@messages("project.create.title") <span class="pull-right minor">Step 1/2</span></h3>
                    </div>
                    <div class="project-body panel-body">
                        <p class="minor create-blurb">
                            A project contains your downloads and the documentation for your plugin. Begin by uploading
                            your plugin JAR file with a valid <i>mcmod.info</i> file in the first level or a ZIP file with
                            your valid plugin JAR in the first level. Plugins with missing or incomplete metadata files
                            will not be accepted.
                        </p>

                        @if(flash.get("error").isDefined) {
                            <div class="alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Whoops!</strong> @flash.get("error").get
                            </div>
                        }

                        @if(pending.isDefined) {
                            @* Display plugin metadata *@
                            @defining(pending.get.project) { project =>
                                <div class="plugin-meta">
                                    <table class="plugin-meta-table">
                                        <tbody>
                                            <tr>
                                                <td><strong>@messages("project.create.uid")</strong></td>
                                                <td>@project.pluginId <i class="id-status fa fa-spinner fa-spin"></i></td>
                                            </tr>
                                            <tr>
                                                <td><strong>@messages("project.name")</strong></td>
                                                <td>@project.getName <i class="name-status fa fa-spinner fa-spin"></i></td>
                                            </tr>
                                            <tr>
                                                <td><strong>@messages("project.owner")</strong></td>
                                                <td>@project.owner</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <script type="text/javascript" src="@routes.Assets.at("javascripts/projectCreateValidate.js")"></script>
                                    <script>
                                    $(function() {
                                        validateMeta("@project.pluginId", "@project.getName",
                                                     "@Play.current.configuration.getString("application.baseUrl").get",
                                                     "@project.owner", "@project.getSlug"

                                        );
                                    });
                                    </script>
                                </div>
                            }

                            @* Category select *@
                            @projects.categorySelect("continue")

                        }

                        @* File controls *@
                        @form(action = routes.Projects.upload, 'enctype -> "multipart/form-data") {
                            <label class="btn btn-primary" for="pluginFile">
                                <input id="pluginFile" name="pluginFile" type="file" style="display: none;">
                                @messages("project.create.select-file")
                            </label>
                            <input type="submit" name="submit" value="@messages("project.create.upload")" class="btn btn-primary" />
                        }

                        @* Continue to next step *@
                        @if(pending.isDefined) {
                            @defining(pending.get.project) { project =>
                              @form(action = routes.Projects.showFirstVersionCreate(project.owner, project.getSlug), 'id -> "continue") {
                                  @* Disabled until JS determines meta is valid *@
                                  <input type="submit" name="create" value="@messages("project.create.continue")"
                                         class="continue-btn btn btn-primary" disabled />
                                  <i class="pull-right slug">Project will be created at <strong>@project.owner/@Project.slugify(project)</strong></i>
                              }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}
