@*
Discussion page within Project overview.
*@
@import _root_.util.C._
@import controllers.project.{routes => projectRoutes}
@import models.project.Project
@import models.user.User
@import views.html.helper.form
@(model: Project)(implicit messages: Messages, session: Session, request: RequestHeader, flash: Flash)

@projects.view(model, "#discussion") {

    <script>
        DiscourseEmbed = {
            discourseUrl: '@DiscourseConf.getString("baseUrl").get/',
            topicId: @model.topicId.get
        };
    </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/projectDiscuss.js")"></script>

    <div class="container">
        <div id='discourse-comments'></div>
        <div class="row">
            @if(User.current.isDefined) {
                <div class="col-md-8">
                    @form(action = projectRoutes.Projects.postDiscussionReply(model.ownerName, model.slug)) {
                        <div class="reply-box"><textarea name="content" class="form-control"></textarea></div>
                        <div class="reply-controls">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Reply</button>
                            <a class="forums" target="_blank" href="https://forums.spongepowered.org/t/@model.topicId.get">
                                View on Sponge forums
                            </a>
                        </div>
                    }
                </div>
            } else {
                <div class="pull-right">
                    <a href="@routes.Users.logIn(None, None, Some(request.path))">Log in</a>
                    <span class="minor"> to reply to this discussion</span>
                </div>
            }
        </div>
    </div>

}
