@*
Discussion page within Project overview.
*@
@import _root_.util.Conf._
@import controllers.project.{routes => projectRoutes}
@import models.project.Project
@import models.user.User
@import views.html.helper.form
@(model: Project)(implicit messages: Messages, session: Session, request: RequestHeader, flash: Flash)

@projects.view(model, "#discussion") {

    <script>
        DiscourseEmbed = {
            discourseUrl: '@DiscourseConf.getString("baseUrl").get/',
            topicId: @model.topicId.get
        };
    </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/projectDiscuss.js")"></script>
    <script>$(function() { $('.btn-edit').click(); });</script>

    <div class="container">
        <div id='discourse-comments'></div>
        <div class="row">
            @if(User.current.isDefined) {
                <div class="col-md-8">
                    <div class="reply-box">

                        @if(flash.get("error").isDefined) {
                            <div class="alert alert-fade alert-danger alert-dismissable" role="alert" style="display: none;">
                                <button type="button" class="close" data-dismiss="alert" aria-label="@messages("aria.close")">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>@messages("project.create.error")</strong> @messages(flash.get("error").get)
                            </div>
                        }

                        @projects.util.editor(
                            saveCall = projectRoutes.Projects.postDiscussionReply(model.ownerName, model.slug),
                            cancellable = false,
                            enabled = true
                        )
                    </div>
                    <div class="reply-controls">
                        <a class="forums" target="_blank" href="https://forums.spongepowered.org/t/@model.topicId.get">
                            View on Sponge forums
                        </a>
                    </div>
                </div>
            } else {
                <div class="pull-right">
                    <a href="@routes.Users.logIn(None, None, Some(request.path))">Log in</a>
                    <span class="minor"> to reply to this discussion</span>
                </div>
            }
        </div>
    </div>

}
