@import pkg.Categories
@import pkg.Categories.Category
@(form: String, issues: Option[String] = None, source: Option[String] = None,
        selected: Option[Category] = None)(implicit messages: Messages)

<div class="category-select form-group">
    <label for="category">@messages("project.category")</label>
    <select class="form-control" id="category" name="category" form="@form">
    @for(i <- 0 until Categories.values.size) {
        @defining(Categories(i)) { category =>
            <option @if(selected.isDefined && selected.get.equals(category)) { selected } >
                @category.title
            </option>
        }
    }
    </select>
</div>

<div class="form-group">
    <label for="issues">@messages("project.create.issue-input")</label>
    <input @if(issues.isDefined) { value="@issues.get" }
           form="@form" type="url" class="form-control" id="issues" name="issues"
           placeholder="https://github.com/SpongePowered/SpongeAPI/issues" />
</div>

<div class="form-group">
    <label for="source">@messages("project.create.source-input")</label>
    <input @if(source.isDefined) { value="@source.get" }
           form="@form" type="url" class="form-control" id="source" name="source"
           placeholder="https://github.com/SpongePowered/SpongeAPI" />
</div>