@import play.twirl.api.Html

@import controllers.project.{routes => projectRoutes}
@import controllers.sugar.Requests.OreRequest
@import models.user.User
@import ore.OreConfig
@import ore.permission.role.RoleCategory
@import ore.project.factory.PendingProject
@import views.html.helper.{CSRF, form}
@import db.Model
@(owner: User, pending: PendingProject, userList: List[Model[User]], registeredUsers: Int)(implicit messages: Messages, request: OreRequest[_],
        config: OreConfig, flash: Flash)

@projects.helper.panelCreate(messages("project.create"), 3) {
    <!-- Start panel -->
    <div class="panel-body">
        <!-- Info -->
        <div class="minor create-blurb">
            <p>@messages("project.members.infoText.head")</p>
            <p>
                @Html(messages("project.members.infoText.bottom", registeredUsers))
            </p>
        </div>

        @users.invite.form(
            owner = owner,
            loadedUsers = userList,
            roleCategory = RoleCategory.Project
        )

        <!-- Submission form -->
        @form(action = projectRoutes.Projects.showFirstVersionCreator(
            pending.ownerName,
            pending.slug),
            'id -> "form-continue") {

            @CSRF.formField

            <div class="btn-group pull-right">
                <a href="@projectRoutes.Projects.showCreatorWithMeta(
                    pending.ownerName,
                    pending.slug)"
                   title="Back" class="pull-left btn btn-default">
                    <i class="fas fa-arrow-left"></i>
                </a>

                @* Disabled until JS determines meta is valid *@
                <button title="Continue" type="submit" name="submit" value="@messages("general.continue")"
                        class="pull-right continue-btn btn btn-primary">
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>

        }

    </div>
}
