@*
Collection of all projects.
*@
@import _root_.util.OreConfig
@import controllers.project.routes.{Projects => projectRoutes}
@import db.ModelService
@import db.impl.service.UserBase
@import forums.DiscourseApi
@import models.project.Project
@import ore.project.Categories._
@import ore.project.ProjectSortingStrategies
@import ore.project.ProjectSortingStrategies.ProjectSortingStrategy
@(models: Seq[Project], visibleCategories: Option[Array[Category]] = None, query: Option[String] = None,
        ordering: ProjectSortingStrategy, page: Int)(implicit messages: Messages, session: Session, flash: Flash,
        service: ModelService, forums: DiscourseApi, config: OreConfig, users: UserBase)

@pageSize = @{ config.projects.getInt("init-load").get }
@categoryString = @{ visibleCategories.map(_.map(_.id.toString).mkString(",")) }
@orderingOption = @{
    ordering match {
        case ProjectSortingStrategies.Default => None
        case _ => Some(ordering.id)
    }
}

<ul class="list-group project-list">
    @models.map { project =>
        <li class="list-group-item @if(!project.isVisible) { project-hidden }">
            <div class="project-list-header pull-left">
                <a class="pull-left" href="@routes.Users.show(project.ownerName)">
                    <img class="user-avatar" height="50" width="50" title="@project.ownerName"
                    alt="@project.ownerName" src="@project.owner.user.avatarUrl(200)" />
                </a>
                <div class="project-title">
                    <strong><a class="" href="@projectRoutes.show(project.ownerName, project.slug)">@project.name</a></strong>
                    <div class="project-description minor">@project.description</div>
                </div>
            </div>
            <div class="pull-right minor">
                <span class="stat" title="Recommended version">
                    <i class="fa fa-diamond"></i>
                    <a href="@controllers.project.routes.Versions.show(project.ownerName, project.slug, project.recommendedVersion.name)">
                        <strong>@project.recommendedVersion.name</strong>
                    </a>
                </span>
                <span class="stat fa @project.category.icon" title="@project.category.title"></span>
                <span class="stat" title="Views"><i class="fa fa-eye"></i> @project.views</span>
                <span class="stat" title="Download"><i class="fa fa-download"></i> @project.downloads</span>
                <span class="stat" title="Stars"><i class="fa fa-star"></i> @project.stars</span>
            </div>
            <div class="clearfix"></div>
        </li>
    }

    @if(models.size >= pageSize || page > 1) {
        <li class="list-group-item project-list-footer">
            <div class="pull-right">
                @if(page > 1) {
                    <a href="@routes.Application.showHome(categoryString, query, orderingOption, Some(page - 1))"
                       class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
                }
                @if(models.size >= pageSize) {
                    <a href="@routes.Application.showHome(categoryString, query, orderingOption, Some(page + 1))"
                       class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
                }
            </div>
            <div class="clearfix"></div>
        </li>
    }
</ul>
