@*
Collection of all projects.
*@
@import controllers.project.routes.{Projects => projectRoutes}
@import db.ModelService
@import db.impl.access.UserBase
@import models.project.Project
@import ore.{OreConfig, OreEnv}
@(models: Seq[Project], page: Int, pageSize: Int, call: Int => Call)(implicit messages: Messages, session: Session,
        flash: Flash, service: ModelService, config: OreConfig, users: UserBase, env: OreEnv)

<ul class="list-group project-list">
    @models.map { project =>
        <li class="list-group-item @if(!project.isVisible) { project-hidden }">
            <div class="project-list-header pull-left">
                <!-- Avatar -->
                <a class="pull-left" href="@routes.Users.showProjects(project.ownerName, None)">
                    <img class="user-avatar" height="50" width="50" title="@project.ownerName"
                    alt="@project.ownerName" src="@projectRoutes.showIcon(project.ownerName, project.slug)" />
                </a>
                <!-- Title -->
                <div class="project-title">
                    <strong>
                        <a class="" href="@projectRoutes.show(project.ownerName, project.slug)">
                            @project.name
                        </a>
                    </strong>
                    <div class="project-description minor">@project.description</div>
                </div>
            </div>

            <!-- Stats -->
            <div class="pull-right minor">
                @defining(project.recommendedVersion) { rv =>
                    <span class="stat" title="Recommended version">
                        <i class="fa fa-diamond"></i>
                        <a href="@controllers.project.routes.Versions.show(
                            project.ownerName, project.slug, rv.name)">
                            <strong>@rv.name</strong>
                        </a>
                    </span>
                    @rv.mcversion.map { mcversion =>
                        <span class="stat" title="Minecraft version">
                            <strong>MC@mcversion</strong>
                        </span>
                    }
                }
                <span class="stat" title="Views"><i class="fa fa-eye"></i> @project.viewCount</span>
                <span class="stat" title="Download"><i class="fa fa-download"></i> @project.downloadCount</span>
                <span class="stat" title="Stars"><i class="fa fa-star"></i> @project.starCount</span>
                <span class="stat fa @project.category.icon" title="@project.category.title"></span>
            </div>
            <div class="clearfix"></div>
        </li>
    }

    @if(models.size >= pageSize || page > 1) {
        <li class="list-group-item project-list-footer">
            <div class="pull-right">
                @if(page > 1) {
                    <a href="@call(page - 1)"
                       class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
                }
                @if(models.size >= pageSize) {
                    <a href="@call(page + 1)"
                       class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
                }
            </div>
            <div class="clearfix"></div>
        </li>
    }
</ul>
