@import models.project.Project
@import db.ModelService
@import ore.OreConfig
@import db.impl.access.UserBase
@import util.StringUtils._
@import java.sql.Timestamp
@import java.time.Instant
@import models.project.VisibilityTypes

@(project: Project)(implicit messages: Messages, request: Request[_], service: ModelService, config: OreConfig,
        users: UserBase)

@projectRoutes = @{controllers.project.routes.Projects}

@bootstrap.layout(messages("project.log.logger.title", project.namespace)) {
    <div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col-md-12">
                <h1>@messages("project.log.visibility.title") <a href="@projectRoutes.show(project.ownerName, project.slug)">@project.ownerName/@project.slug</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left">@messages("project.log.visibility.title")</h4>
                        <div class="clearfix"></div>
                    </div>
                    <table class="table table-condensed setting-no-border table-review-log">
                        <thead>
                            <tr>
                                <th>State</th>
                                <th>Time</th>
                                <th>Comment</th>
                                <th>Set by</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(project.visibilityChanges.all.isEmpty) {
                                <tr><td>No entries founds</td></tr>
                            }
                            @project.visibilityChangesByDate.reverse.map { entry =>
                                <tr>
                                    <td>@VisibilityTypes.withId(entry.visibility)</td>
                                    <td>@prettifyDateAndTime(entry.createdAt.getOrElse(Timestamp.from(Instant.now())))</td>
                                    <td>@entry.renderComment()</td>
                                    @if(entry.createdBy.isDefined) {
                                        <td>@users.get(entry.createdBy.get).map(_.username).getOrElse("Unknown")</td>
                                    } else {
                                        <td>Unknown</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>@messages("project.log.logger.title") <a href="@projectRoutes.show(project.ownerName, project.slug)">@project.ownerName/@project.slug</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left">@messages("project.log.logger.title")</h4>
                        <div class="clearfix"></div>
                    </div>
                    <table class="table table-condensed setting-no-border table-review-log">
                        <tbody>
                            @if(project.logger.entries.all.isEmpty) {
                                <tr><td>No entries founds</td></tr>
                            }
                            @project.logger.entries.all.map { entry =>
                                <tr>
                                    <td>@entry.message</td>
                                    <td>@prettifyDateAndTime(entry.createdAt.getOrElse(Timestamp.from(Instant.now())))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
