@import controllers.sugar.Requests.OreRequest
@import models.admin.ProjectLogEntry
@import models.project.Project
@import ore.OreConfig
@import util.StringUtils._
@import db.Model

@(project: Project, logs: Seq[Model[ProjectLogEntry]])(implicit messages: Messages, request: OreRequest[_], config: OreConfig, flash: Flash)

@projectRoutes = @{controllers.project.routes.Projects}

@bootstrap.layout(messages("project.log.logger.title", project.namespace)) {
    <div class="row">
        <div class="col-md-12">
            <h1>@messages("project.log.logger.title") <a href="@projectRoutes.show(project.ownerName, project.slug)">@project.ownerName/@project.slug</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title pull-left">@messages("project.log.logger.title")</h4>
                    <div class="clearfix"></div>
                </div>
                <table class="table table-condensed setting-no-border table-review-log">
                    <tbody>
                        @if(logs.isEmpty) {
                            <tr><td>No entries founds</td></tr>
                        }
                        @logs.map { entry =>
                            <tr>
                                <td>@entry.message</td>
                                <td>@prettifyDateAndTime(entry.createdAt)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
