@import models.project.Project
@import views.html.helper.form
@(project: Project)(implicit messages: Messages, session: Session, flash: Flash)

@projects.detail(project, "#settings") {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/projectManage.js")"></script>
    <script>projectName = "@project.name";</script>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@messages("project.settings")</h3>
                    </div>
                    <div class="panel-body">
                        @projects.categorySelect("save", Some(project.category))

                        <label for="name">Project name</label>
                        <div class="form-inline form-rename">
                            <input form="rename" id="name" name="name" class="form-control" type="text" value="@project.name"
                                   maxlength="@Project.MAX_NAME_LENGTH">
                            <button id="btn-rename" data-toggle="modal" data-target="#modal-rename" class="btn btn-warning" disabled>
                                @messages("project.rename")
                            </button>
                        </div>

                        <div class="modal fade" id="modal-rename" tabindex="-1" role="dialog" aria-labelledby="label-rename">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="@messages("aria.cancel")">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="label-delete">@messages("project.rename.title")</h4>
                                    </div>
                                    <div class="modal-body">
                                        @messages("project.rename.info")
                                    </div>
                                    <div class="modal-footer">
                                        <div class="form-inline">
                                        @form(action = routes.Projects.rename(project.ownerName, project.slug), 'id -> "rename") {
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                @messages("channel.edit.close")
                                            </button>
                                            <input type="submit" name="rename" value="@messages("project.rename")" class="btn btn-warning">
                                        }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-danger" data-toggle="modal" data-target="#modal-delete">@messages("project.delete")</button>

                        <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="label-delete">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="label-delete">@messages("project.delete.title")</h4>
                                    </div>
                                    <div class="modal-body">
                                        @messages("project.delete.info")
                                    </div>
                                    <div class="modal-footer">
                                        <div class="form-inline">
                                            @form(action = routes.Projects.delete(project.ownerName, project.slug)) {
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    @messages("channel.edit.close")
                                                </button>
                                                <input type="submit" name="delete" value="@messages("project.delete")" class="btn btn-danger">
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @form(action = routes.Projects.save(project.ownerName, project.slug), 'id -> "save") {
                            <input type="submit" name="save" value="Save changes" class="btn btn-success">
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                @if(flash.get("error").isDefined) {
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @flash.get("error").get
                    </div>
                }
            </div>
        </div>
    </div>

}
