@import models.project.Project
@import views.html.helper.form
@(project: Project)(implicit messages: Messages, session: Session)

@projects.detail(project, "#settings") {

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Settings</h3>
                    </div>
                    <div class="panel-body">
                        @form(action = routes.Projects.rename(project.owner, project.name)) {
                            <label for="name">Project name</label>
                            <div class="form-inline">
                                <input id="name" name="name" class="form-control" type="text" value="@project.name">
                                <input type="submit" name="rename" value="Rename" class="btn btn-warning">
                            </div>
                        }

                        @form(action = routes.Projects.delete(project.owner, project.name)) {
                            <input type="submit" name="delete" value="Delete" class="btn btn-danger">
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

}
