@import controllers.project.{routes => projectRoutes}
@import models.project.Project.PendingProject
@import models.user.User
@import ore.permission.role.RoleTypes
@import play.twirl.api.Html
@import views.html.helper.form
@(pending: PendingProject)(implicit messages: Messages, session: Session, flash: Flash, request: RequestHeader)

@projects.panelCreate(messages("project.create"), 3) {
    @defining(User.current.get) { user =>

        <div class="panel-body">
            <div class="minor create-blurb">
                <p>@messages("project.members.info-text.head")</p>
                <p>@Html(messages("project.members.info-text.bottom", 1))</p>
            </div>

            <table class="table table-members">
                <tbody>
                    <tr>
                        <td><strong>@user.username</strong></td>
                        <td><i class="minor">Owner</i></td>
                    </tr>
                    @for((member, i) <- pending.project.members.filter(!_.name.equals(user.username)).zipWithIndex) {
                      @member.user.map { user =>
                        <tr>
                            <td>
                                <input form="form-continue" type="hidden" value="@user.id.get" name="users[@i]" />
                                <strong>
                                    <a target="_blank" href="@routes.Application.showUser(user.username)">@user.username</a>
                                </strong>
                            </td>
                            <td>
                                <select form="form-continue" name="roles[@i]">
                                    @for(roleType <- RoleTypes.ofProjects.filter(!_.equals(RoleTypes.ProjectOwner))) {
                                        <option>@roleType.title</option>
                                    }
                                </select>
                            </td>
                        </tr>
                      }
                    }
                </tbody>
            </table>

            @form(action = projectRoutes.Projects.showFirstVersionCreator(pending.project.ownerName, pending.project.slug),
                'id -> "form-continue") {
                <div class="btn-group pull-right">
                    <a href="@projectRoutes.Projects.showCreatorWithMeta(pending.project.ownerName, pending.project.slug)"
                       title="Back" class="pull-left btn btn-default">
                        <i class="fa fa-arrow-left"></i>
                    </a>

                    @* Disabled until JS determines meta is valid *@
                    <button title="Continue" type="submit" name="create" value="@messages("project.create.continue")"
                            class="pull-right continue-btn btn btn-primary"><i class="fa fa-arrow-right"></i></button>
                </div>
            }

        </div>

    }
}
