@import db.ModelService
@import db.impl.OrePostgresDriver.api._
@import db.impl.access.UserBase
@import models.project.Project
@import ore.OreConfig
@import ore.permission.HideProjects
@import ore.permission.scope.GlobalScope
@import security.NonceFilter._
@import views.html.helper.{CSRF, form}
@import ore.rest.ProjectApiKeyTypes._
@(project: Project)(implicit messages: Messages, flash: Flash, request: Request[_], service: ModelService,
        config: OreConfig, userBase: UserBase)

@projectRoutes = @{controllers.project.routes.Projects}
@deploymentKey = @{project.apiKeys.find(_.keyType === Deployment)}

@projects.view(project, "#settings") {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/hideProject.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/iconUpload.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/keyGen.js")"></script>
    <script nonce="@nonce">
        projectName = "@project.name";
        PROJECT_OWNER = "@project.ownerName";
        PROJECT_SLUG = "@project.slug";
        pluginId = "@project.pluginId";
        keyGenText = "@messages("project.settings.genKey")";
        keyRevokeText = "@messages("project.settings.revokeKey")";
    </script>

    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <!-- Main settings -->
                <div class="panel panel-default panel-settings">
                    <div class="panel-heading">
                        <h3 class="panel-title pull-left">@messages("project.settings")</h3>
                        @if(userBase.current.get can HideProjects in GlobalScope) {
                            @projects.utils.btnHide(project, "pull-right")
                        }
                        <div class="clearfix"></div>
                    </div>

                    <div class="panel-body">
                        @defining(project.settings) { settings =>
                            @projects.utils.inputSettings(
                                form = "save",
                                issues = settings.issues,
                                source = settings.source,
                                licenseName = settings.licenseName,
                                licenseUrl = settings.licenseUrl,
                                selected = Some(project.category)
                            )
                        }

                        <!-- Description -->
                        @defining(config.projects.getInt("max-desc-len").get) { maxLength =>
                            <div class="setting">
                                <div class="setting-description">
                                    <h4>Description</h4>
                                    <p>A short description of your project (max @maxLength).</p>
                                </div>
                                <input form="save" class="form-control" type="text" id="description"
                                       name="description" maxlength="@maxLength"
                                    @project.description.map { description =>
                                        value="@description"
                                    }.getOrElse {
                                        placeholder="@messages("version.create.noDescription")"
                                    }
                                />
                                <div class="clearfix"></div>
                            </div>
                        }

                        <!-- Project icon -->
                        <div class="setting">
                            <form id="form-icon" enctype="multipart/form-data">
                                @CSRF.formField
                                <div class="setting-description">
                                    <h4>Icon</h4>

                                    @utils.userAvatar(
                                        user = project.owner,
                                        call = projectRoutes.showIcon(project.ownerName, project.slug),
                                        clazz = "user-avatar-md")

                                    <input class="form-control-static" type="file" id="icon" name="icon" />
                                </div>
                                <div class="setting-content">
                                    <div class="icon-description">
                                        <p>Upload an image representative of your project.</p>
                                        <div class="btn-group pull-right">
                                            <button class="btn btn-default btn-reset">Reset</button>
                                            <button class="btn btn-info btn-upload pull-right" disabled>
                                                <i class="fa fa-upload"></i> Upload
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>

                        <div class="setting">
                            <div class="setting-description">
                                <h4>@messages("project.settings.deployKey")</h4>
                                <p>
                                    @messages("project.settings.deployKey.info")
                                    <a href="#"><i class="fa fa-question-circle"></i></a>
                                </p>
                                @deploymentKey.map { key =>
                                    <input class="form-control input-key" type="text" value="@key.value" readonly />
                                }.getOrElse {
                                    <input class="form-control input-key" type="text" value="" readonly />
                                }
                            </div>
                            <div class="setting-content">
                                @deploymentKey.map { key =>
                                  <button class="btn btn-danger btn-block btn-key-revoke" data-key-id="@key.id.get">
                                      <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                                      @messages("project.settings.revokeKey")
                                  </button>
                                }.getOrElse {
                                    <button class="btn btn-info btn-block btn-key-gen">
                                        <i class="fa fa-spinner fa-spin" style="display: none;"></i>
                                        @messages("project.settings.genKey")
                                    </button>
                                }
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <!-- Rename -->
                        <div class="setting">
                            <div class="setting-description">
                                <h4 class="danger">@messages("project.rename")</h4>
                                <p>@messages("project.rename.info")</p>
                            </div>
                            <div class="setting-content">
                                <input form="rename" id="name" name="name" class="form-control" type="text"
                                       value="@project.name"
                                       maxlength="@config.projects.getInt("max-name-len").get">
                                <button id="btn-rename" data-toggle="modal" data-target="#modal-rename"
                                        class="btn btn-warning" disabled>
                                    @messages("project.rename")
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <!-- Delete -->
                        <div class="setting">
                            <div class="setting-description">
                                <h4 class="danger">Delete</h4>
                                <p>Once you delete a project, it cannot be recovered.</p>
                            </div>
                            <div class="setting-content">
                                <button class="btn btn-delete btn-danger" data-toggle="modal"
                                        data-target="#modal-delete">
                                    Delete
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        @form(action = projectRoutes.save(project.ownerName, project.slug), 'id -> "save",
                            'class -> "pull-right") {
                            @CSRF.formField
                            <input type="hidden" id="update-icon" name="update-icon" value="false" />
                            <button type="submit" name="save" class="btn btn-success btn-spinner" data-icon="fa-check">
                                <i class="fa fa-check"></i> Save changes
                            </button>
                        }
                    </div>
                </div>
            </div>

            <!-- Side panel -->
            <div class="col-md-4">
                <div class="alert alert-danger" role="alert" @if(flash.get("error").isEmpty) { style="display: none;" }>
                    <strong>Whoops!</strong> <span>@flash.get("error").getOrElse("")</span>
                </div>
                @users.memberList(
                    model = project,
                    editable = true,
                    removeCall = projectRoutes.removeMember(project.ownerName, project.slug),
                    settingsCall = projectRoutes.showSettings(project.ownerName, project.slug)
                )
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-rename" tabindex="-1" role="dialog" aria-labelledby="label-rename">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                    aria-label="@messages("general.cancel")">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="label-rename">@messages("project.rename.title")</h4>
                </div>
                <div class="modal-body">
                @messages("project.rename.info")
                </div>
                <div class="modal-footer">
                    <div class="form-inline">
                    @form(action = projectRoutes.rename(project.ownerName, project.slug), 'id -> "rename") {
                        @CSRF.formField
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        @messages("channel.edit.close")
                        </button>
                        <input type="submit" name="rename" value="@messages("project.rename")" class="btn btn-warning">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="label-delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="label-delete">@messages("project.delete.title")</h4>
                </div>
                <div class="modal-body">
                @messages("project.delete.info")
                </div>
                <div class="modal-footer">
                    <div class="form-inline">
                    @form(action = projectRoutes.delete(project.ownerName, project.slug)) {
                        @CSRF.formField
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                        @messages("channel.edit.close")
                        </button>
                        <input type="submit" name="delete"
                        value="@messages("general.delete")" class="btn btn-danger">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}
