@import _root_.util.OreConfig
@import controllers.project.routes.{Projects => projectRoutes}
@import db.ModelService
@import db.impl.service.UserBase
@import forums.DiscourseApi
@import models.project.Project
@import ore.permission.HideProjects
@import ore.permission.scope.GlobalScope
@import views.html.helper.form
@(project: Project)(implicit messages: Messages, session: Session, flash: Flash,
        request: RequestHeader, service: ModelService, forums: DiscourseApi, config: OreConfig, users: UserBase)

@projects.view(project, "#settings") {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/projectManage.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/hideProject.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/iconUpload.js")"></script>
    <script>
        projectName = "@project.name";
        PROJECT_OWNER = "@project.ownerName";
        PROJECT_SLUG = "@project.slug";
    </script>

    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <!-- Main settings -->
                <div class="panel panel-default panel-settings">
                    <div class="panel-heading">
                        <h3 class="panel-title pull-left">@messages("project.settings")</h3>
                        @if(users.current.get can HideProjects in GlobalScope) {
                            @projects.util.btnHide(project, "pull-right")
                        }
                        <div class="clearfix"></div>
                    </div>

                    <div class="panel-body">
                        @projects.util.inputSettings("save", project.issues, project.source, Some(project.category))

                        <!-- Description -->
                        <label for="description">Project description</label>
                        <input form="save" class="form-control" type="text" id="description"
                               name="description" maxlength="@config.projects.getInt("max-desc-len").get"
                          @project.description.map { description =>
                            value="@description"
                          }.getOrElse {
                            placeholder="@messages("version.create.no-description")"
                          }
                        />

                        <!-- Project icon -->
                        <form id="form-icon" enctype="multipart/form-data">
                            <label for="icon">Project icon</label> <br />
                            <img class="user-avatar" width="100" height="100"
                                 src="@projectRoutes.showIcon(project.ownerName, project.slug)" />
                            <div class="form-inline">
                                <input class="form-control-static" type="file" id="icon" name="icon" />
                                <div class="btn-group pull-right">
                                    <button class="btn btn-info pull-right" disabled>
                                        <i class="fa fa-upload"></i> Upload
                                    </button>
                                    <div class="btn btn-default btn-reset">Reset</div>
                                </div>
                            </div>
                        </form>

                        <!-- Destructive actions -->
                        <div class="danger-zone">

                            <!-- Rename -->
                            <label for="name">Project name</label>
                            <div class="form-inline form-rename">
                                <input form="rename" id="name" name="name" class="form-control" type="text" value="@project.name"
                                       maxlength="@config.projects.getInt("max-name-len").get">
                                <button id="btn-rename" data-toggle="modal" data-target="#modal-rename" class="btn btn-warning" disabled>
                                    @messages("project.rename")
                                </button>
                            </div>

                            <div class="modal fade" id="modal-rename" tabindex="-1" role="dialog" aria-labelledby="label-rename">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="@messages("aria.cancel")">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="label-rename">@messages("project.rename.title")</h4>
                                        </div>
                                        <div class="modal-body">
                                            @messages("project.rename.info")
                                        </div>
                                        <div class="modal-footer">
                                            <div class="form-inline">
                                            @form(action = projectRoutes.rename(project.ownerName, project.slug), 'id -> "rename") {
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    @messages("channel.edit.close")
                                                </button>
                                                <input type="submit" name="rename" value="@messages("project.rename")" class="btn btn-warning">
                                            }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Delete -->
                            <button class="btn btn-delete btn-danger" data-toggle="modal" data-target="#modal-delete">
                                @messages("project.delete")
                            </button>

                            <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="label-delete">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="label-delete">@messages("project.delete.title")</h4>
                                        </div>
                                        <div class="modal-body">
                                            @messages("project.delete.info")
                                        </div>
                                        <div class="modal-footer">
                                            <div class="form-inline">
                                                @form(action = projectRoutes.delete(project.ownerName, project.slug)) {
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        @messages("channel.edit.close")
                                                    </button>
                                                    <input type="submit" name="delete"
                                                           value="@messages("project.delete")" class="btn btn-danger">
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @form(action = projectRoutes.save(project.ownerName, project.slug), 'id -> "save", 'class -> "pull-right") {
                            <input type="hidden" id="update-icon" name="update-icon" value="false" />
                            <button type="submit" name="save" class="btn btn-success btn-spinner" data-icon="fa-check">
                                <i class="fa fa-check"></i> Save changes
                            </button>
                        }
                    </div>
                </div>
            </div>

            <!-- Side panel -->
            <div class="col-md-4">
                <div class="alert alert-danger" role="alert" @if(flash.get("error").isEmpty) { style="display: none;" }>
                    <strong>Whoops!</strong> <span>@flash.get("error").getOrElse("")</span>
                </div>
                @projects.members.list(project, editable = true)
            </div>
        </div>
    </div>

}
