@*
Collection of all projects.
*@
@import models.project.Categories.Category
@import models.project.{Categories, Project}
@import play.api.Play
@(models: Seq[Project], visibleCategories: Option[Array[Category]])(implicit messages: Messages,
        session: Session, flash: Flash)

<script type="text/javascript" src="@routes.Assets.at("javascripts/projectsMore.js")"></script>
<script>
    @if(visibleCategories.isDefined) {
      CATEGORY_STRING = "@visibleCategories.get.map(_.id).mkString(",")";
    }
    BASE_URL = '@Play.current.configuration.getString("application.baseUrl")';
    currentlyLoaded = @models.size;
</script>

<div class="container">
    <div class="row index-header">
        <div class="col-md-12">

            @if(flash.get("success").isDefined) {
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="@messages("aria.close")">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    @flash.get("success").get
                </div>
            }

            @if(flash.get("error").isDefined) {
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="@messages("aria.close")">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    @flash.get("error").get
                </div>
            }

            <h3 class="pull-left">@messages("table.welcome") <i class="date">@messages("table.welcome.description")</i></h3>
            <div class="table-controls">
                <a href="@routes.Projects.showCreate"
                   title="Submit a new project to Ore." data-toggle="tooltip"
                   data-placement="bottom" class="btn-create btn btn-primary pull-right">
                    <i class="fa fa-plus"></i> @messages("project.create")
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            @* Project table *@
            <div class="panel panel-default">
                <table class="table project-table">
                    <thead class="panel-heading">
                        <tr class="panel-title">
                            <th></th>
                            <th>@messages("project.name")</th>
                            <th>@messages("project.author")</th>
                            <th title="Views" class="minor stat"><i class="fa fa-eye"></i></th>
                            <th title="Downloads" class="minor stat"><i class="fa fa-download"></i></th>
                            <th title="Stars" class="minor stat"><i class="fa fa-star"></i></th>
                        </tr>
                    </thead>
                    <tbody class="panel-body">
                        @models.map { project =>
                            <tr>
                                @defining(project.category) { category =>
                                  <td><i title="@category.title" class="fa @category.icon"></i></td>
                                }
                                <td class="" colspan="1">
                                    <strong><a class="" href="@routes.Projects.show(project.ownerName, project.slug)">@project.name</a></strong>
                                </td>
                                <td><a href="#">@project.ownerName</a></td>
                                <td class="minor stat">@project.views</td>
                                <td class="minor stat">@project.downloads</td>
                                <td class="minor stat">@project.stars</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button class="btn btn-default btn-more"><strong>@messages("table.more")</strong></button>
            </div>
        </div>

        <div class="col-md-3">
            @* Category table *@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@messages("project.category.plural")</h3>
                    @if(visibleCategories.isDefined) {
                        <a href="@routes.Application.index(None)"><i class="pull-right category-reset fa fa-times"></i></a>
                    }
                </div>
                <table class="table panel-body">
                    <tbody>
                        @for(i <- 0 until Categories.values.size) {
                            <tr>
                                <td class="cat-icon"><i class="fa @Categories(i).icon"></i></td>
                                <td><strong class="minor">@Categories(i).title</strong></td>
                                <td class="pull-right">
                                    @if(visibleCategories.isDefined) {
                                        @if(!visibleCategories.get.contains(Categories(i).asInstanceOf[Category])) {
                                            <a href="@routes.Application.index(Some(
                                                (visibleCategories.get.map(_.id) :+ i).mkString(",")
                                            ))">
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        } else {
                                            <a href="@routes.Application.index(Some(
                                                visibleCategories.get.map(_.id).filterNot(id => id == i).mkString(",")
                                            ))">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        }
                                    } else {
                                        <a href="@routes.Application.index(Some(Integer.toString(i)))">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
