@*
Collection of all projects.
*@
@import models.project.Project
@(models: Seq[Project])(implicit messages: Messages)

<div class="container">
    <div class="table-controls">
        <a href="@routes.Projects.showCreate"
           title="Submit a new project to Ore." data-toggle="tooltip"
           data-placement="bottom" class="btn btn-primary pull-right">
            New project
        </a>
    </div>
    <table class="table project-table">
        <thead>
            <tr>
                <th>@messages("project.package")</th>
                <th>@messages("project.author")</th>
                <th>@messages("project.views")</th>
                <th>@messages("project.downloads")</th>
                <th>@messages("project.starred")</th>
            </tr>
        </thead>
        <tbody>
        @models.map { project =>
            <tr class="">
                <td class="" colspan="1">
                    <strong><a class="" href="@routes.Projects.show(project.owner, project.name)">@project.name</a></strong>
                </td>
                <td>@project.owner</td>
                <td>@project.views</td>
                <td>@project.downloads</td>
                <td>@project.starred</td>
            </tr>
        }
        </tbody>
    </table>
</div>
