@*
Collection of all projects.
*@
@import models.project.Project
@(models: Seq[Project])(implicit messages: Messages)

<div class="contents">
    <table class="topic-list">
        <thead>
            <tr>
                <th>@messages("project.package")</th>
                <th>@messages("project.author")</th>
                <th>@messages("project.views")</th>
                <th>@messages("project.downloads")</th>
                <th>@messages("project.starred")</th>
            </tr>
        </thead>
        <tbody>
        @models.map { project =>
            <tr class="topic-list-item">
                <td class="main-link clearfix" colspan="1">
                    <a class="title" href="@routes.Projects.show(project.owner.name, project.name)">@project.toString</a>
                </td>
                <td>@project.owner.name</td>
                <td>@project.views</td>
                <td>@project.downloads</td>
                <td>@project.starred</td>
            </tr>
        }
        </tbody>
    </table>
</div>
