@*
Versions page within Project overview.
*@
@import models.project.Project
@(model: Project)(implicit messages: Messages)

@projects.detail(model, "#versions") {

    <div class="container version-container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9">

                        <table class="topic-list">
                            <thead>
                                <tr>
                                    <th>Version</th>
                                </tr>
                            </thead>
                            <tbody>
                                @model.getVersions.map { version =>
                                  <tr class="topic-list-item">
                                      <td class="main-link clearfix" colspan="1">
                                          @version.versionString
                                      </td>
                                      <td class="pull-right">
                                          <a href="@routes.Projects.downloadVersion(model.owner.name, model.name, version.channel.name, version.versionString)">
                                              <i class="fa fa-download"></i>
                                          </a>
                                      </td>
                                  </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-3">
                        <a href="#" class="btn btn-block btn-primary btn-panel btn-version">
                            <i class="fa fa-plus"></i>Create version
                        </a>
                        <div class="panel panel-default channels">
                            <div class="panel-heading">
                                <h3 class="panel-title">Channels</h3>
                            </div>
                            <ul class="list-group">

                                @model.getChannels.map { channel =>
                                  <li class="list-group-item">
                                      <span class="channel" style="background-color: @channel.colorHex">@channel.name</span>
                                  </li>
                                }

                                <li class="list-group-item text-right">
                                    <a href="#">
                                        <i class="fa fa-cog"></i> Edit
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
