@import models.project.Project
@import models.project.Version.PendingVersion
@import views.html.helper.form
@import models.project.Channel
@(project: Project, pending: Option[PendingVersion], showFileControls: Boolean)(implicit messages: Messages, session: Session)

@core.layout("Release a new version") {

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">New project release</h3>
                    </div>
                    <div class="panel-body">
                        <p>Release a new version for @(project.name + ".")</p>

                        @if(pending.isDefined) {
                            @* Show plugin meta *@
                            @defining(pending.get.version) { version =>
                                <p><strong>Version:</strong> @version.versionString</p>
                                <p><strong>Description:</strong> @version.description</p>
                                <p>
                                    <strong>Channel:</strong>
                                    <span class="channel" style="background-color: @Channel.DEFAULT_COLOR;">@pending.get.channelName</span>
                                    <a href="#" data-toggle="modal" data-target="#channel-edit"><i class="fa fa-edit"></i></a>
                                </p>
                                <div class="modal fade" id="channel-edit" tabindex="-1" role="dialog" aria-labelledBy="edit-label">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="edit-label">Edit channel</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-inline">
                                                    <label for="channel">Channel name</label>
                                                    <input class="form-control" id="channel" name="channel" type="text"
                                                           value="@pending.get.channelName" />
                                                    <input class="pull-right color-input" type="color" id="color" name="color"
                                                           value="@Channel.DEFAULT_COLOR"/>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        @if(showFileControls) {
                            @form(action = routes.Projects.uploadVersion(project.owner, project.name), 'enctype -> "multipart/form-data") {
                                <label class="btn btn-primary" for="pluginFile">
                                    <input id="pluginFile" name="pluginFile" type="file" style="display:none ;">
                                    Select file
                                </label>
                                <input type="submit" name="submit" value="Upload" class="btn btn-primary" />
                            }
                        }

                        @if(pending.isDefined) {
                            @* Ready to go! *@
                            @defining(pending.get.version) { version =>
                                @form(action = routes.Projects.createVersion(project.owner, project.name, pending.get.channelName, version.versionString)) {
                                    <input type="submit" name="create" value="Publish" class="btn btn-primary" />
                                }
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

}
