@*
Versions page within Project overview.
*@
@import models.project.Project
@import models.project.Version
@import models.project.Channel
@(model: Project, channels: Seq[Channel], versions: Seq[Version])(implicit messages: Messages)

@projects.detail(model, "#versions") {

    <div class="container version-container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9">

                        <table class="topic-list">
                            <thead>
                                <tr>
                                    <th>Version</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr class="topic-list-item">
                                  @versions.map { version =>
                                    @defining(version.getChannelFrom(channels).get) { channel =>
                                        <td class="main-link clearfix" colspan="1">
                                            <i class="fa fa-circle channel-id" style="color: @channel.colorHex"></i> @version.versionString
                                        </td>
                                        <td class="pull-right">
                                            <a href="@routes.Projects.downloadVersion(model.owner, model.name, channel.name, version.versionString)">
                                                <i class="fa fa-download"></i>
                                            </a>
                                        </td>
                                    }
                                  }
                              </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-3">
                        <a href="@routes.Projects.showVersionCreate(model.owner, model.name)" class="btn btn-block btn-primary btn-panel btn-version">
                            <i class="fa fa-plus"></i>Create version
                        </a>
                        <div class="panel panel-default channels">
                            <div class="panel-heading">
                                <h3 class="panel-title">Channels</h3>
                            </div>
                            <ul class="list-group">

                              <li class="list-group-item">
                                  @channels.map { channel =>
                                    <span class="channel" style="background-color: @channel.colorHex;">@channel.name</span>
                                  }
                              </li>

                                <li class="list-group-item text-right">
                                    <a href="#">
                                        <i class="fa fa-cog"></i> Edit
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
