@import models.project.{Channel, Project, Version}
@(project: Project, channel: Channel, version: Version)(implicit messages: Messages, session: Session)

@projects.detail(project, "#versions") {

    <div class="container">
        <div class="row">
            <div class="col-md-12 version-header">
                <div class="clearfix">
                    <h1 class="pull-left">@version.versionString</h1>
                    <span class="channel channel-head" style="background-color: @channel.colorHex;">@channel.name</span>
                </div>
                <p class="date pull-left"><a href="#"><strong>@project.owner</strong></a> released this version on @version.prettyDate</p>
                <div class="pull-right version-buttons">
                    @if(session.get("username").isDefined && session.get("username").get.equals(project.owner)) {
                        <a class="btn btn-danger"
                           href="@routes.Projects.deleteVersion(project.owner, project.getName, channel.name, version.versionString)"
                           @if(project.getVersions.size == 1) {
                               disabled="disabled" data-toggle="tooltip" data-placement="top"
                               title="Every project must have at least one version"
                           }
                        >
                            Delete
                        </a>
                    }
                    <a class="btn btn-primary"
                       href="@routes.Projects.downloadVersion(project.owner, project.getName, channel.name, version.versionString)">
                        Download
                    </a>
                </div>
            </div>
        </div>
        <div class="row version-description">
            <div class="col-md-8">
                @if(session.get("username").isDefined && session.get("username").get.equals(project.owner)) {
                    <a href="#" class="pull-right btn btn-default"><i class="fa fa-edit"></i> Edit</a>
                }
                @if(version.description.isEmpty) {
                    <p class="unknown"><i>No description given</i></p>
                } else {
                    <p>@version.description</p>
                }
            </div>
            @if(version.getDependencies.nonEmpty) {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">Dependencies</h3></div>
                        <ul class="list-group">
                        @version.getDependencies.map { depend =>
                            <li class="list-group-item">
                                @defining(depend.getProject) { project =>
                                    @if(project.isDefined) {
                                        <a href="@routes.Projects.show(project.get.owner, project.get.getName)">
                                            <strong>@project.get.getName</strong>
                                        </a>
                                    } else {
                                        <div class="unknown">
                                            @depend.pluginId
                                            <i class="fa fa-question-circle" title="This plugin is not available for download on Ore"
                                               data-toggle="tooltip" data-placement="right"></i>
                                        </div>
                                    }
                                    <p class="version-string">@depend.version</p>
                                }
                            </li>
                        }
                        </ul>
                    </div>
                </div>
            } else {
                <p class="unknown text-center"><i>This release has no dependencies</i></p>
            }
        </div>
    </div>

}
