@*
Base template for Project overview.
*@
@import controllers.project.{routes => projectRoutes}
@import db.ModelService
@import db.impl.access.UserBase
@import models.project.Project
@import models.user.User
@import ore.OreConfig
@import ore.permission.EditSettings
@import ore.project.FlagReasons
@import views.html.helper.form
@(project: Project, active: String, noButtons: Boolean = false)(content: Html)(implicit messages: Messages,
        request: Request[_], flash: Flash, service: ModelService, config: OreConfig, users: UserBase)

@hasUser = @{ users.current.isDefined }
@user = @{ users.current.get }
@isOwner(user: User) = @{ user.id.get == project.ownerId }

@bootstrap.layout(project.ownerName + " / " + project.name) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/projectDetail.js")"></script>

    <div class="project-header-container">
        <div class="container">
            <!-- Header -->
            <div class="row">
                <div class="col-md-12">
                    <div class="project-header pull-left">
                        <h1>
                            <a href="@routes.Users.showProjects(project.ownerName, None)">@project.ownerName</a>
                            / <strong>
                            <a href="@projectRoutes.Projects.show(project.ownerName, project.slug)">@project.name</a>
                        </strong>
                        </h1>
                        @defining(project.description.getOrElse("")) { description =>
                            <i class="minor" title="@description">@description</i>
                        }
                    </div>
                </div>
            </div>

            <!-- Nav -->
            <div class="row row-nav">
                <div class="col-md-12">
                    <div class="navbar navbar-default project-navbar pull-left">
                        <div class="navbar-inner">
                            <ul class="nav navbar-nav">
                                <!-- Tabs -->
                                <li id="docs" class="">
                                    <a href="@projectRoutes.Projects.show(project.ownerName, project.slug)">
                                        <i class="fa fa-book"></i> @messages("project.docs")</a>
                                </li>

                                <li id="versions" class="">
                                    <a href="@projectRoutes.Versions.showList(project.ownerName, project.slug, None)">
                                        <i class="fa fa-download"></i> @messages("project.versions")
                                    </a>
                                </li>

                                @if(project.topicId != -1) {
                                    <li id="discussion" class="">
                                        <a href="@projectRoutes.Projects.showDiscussion(
                                            project.ownerName, project.slug)">
                                            <i class="fa fa-users"></i> @messages("project.discuss")
                                        </a>
                                    </li>
                                }

                                @if(hasUser && (user can EditSettings in project)) {
                                    @* Show manage if permitted *@
                                    <li id="settings" class="">
                                        <a href="@projectRoutes.Projects.showSettings(project.ownerName, project.slug)">
                                            <i class="fa fa-cog"></i> @messages("project.settings")
                                        </a>
                                    </li>
                                }

                                @defining(project.settings) { settings =>
                                    @settings.issues.map { issues =>
                                        <li id="issues">
                                            <a title="@issues" target="_blank"
                                                href="@projectRoutes.Projects.showIssues(
                                                    project.ownerName, project.slug)">
                                                <i class="fa fa-bug"></i> Issues <i class="fa fa-external-link"></i></a>
                                        </li>
                                    }

                                    @settings.source.map { source =>
                                        <li id="source">
                                            <a title="@source" target="_blank"
                                            href="@projectRoutes.Projects.showSource(project.ownerName, project.slug)">
                                                <i class="fa fa-code"></i> Source <i class="fa fa-external-link"></i>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                            <script>$(function() { $(".nav").find("@active").addClass("active"); });</script>
                        </div>
                    </div>

                    @if(!noButtons) {
                        <div class="pull-right project-controls">

                            @flash.get("reported").map { r =>
                                <span class="flag-msg">
                                    <i class="fa fa-thumbs-up"></i> Flag submitted for review
                                </span>
                            }

                            @if(hasUser) {

                                <script>
                                    var projectOwner = "@project.ownerName";
                                    var projectSlug = "@project.slug";
                                </script>

                                @defining(project.stars.contains(user)) { alreadyStarred =>

                                    <script>var alreadyStarred = @alreadyStarred;</script>

                                    @if(!isOwner(user)) {
                                        <button class="btn btn-default btn-star">
                                            <i id="icon-star" @if(alreadyStarred) {
                                                class="fa fa-star"
                                            } else {
                                                class="fa fa-star-o" }></i>
                                            <span class="starred"> @project.starCount</span>
                                        </button>
                                    } else {
                                        <span class="minor stars-static">
                                            <i class="fa fa-star"></i> @project.starCount
                                        </span>
                                    }
                                }

                                @defining(user.watching.contains(project)) { watching =>
                                    <button class="btn btn-watch btn-default @if(watching) { watching }">
                                        <i class="fa fa-eye"></i>
                                        <span class="watch-status">@if(watching) { Unwatch } else { Watch }</span>
                                    </button>
                                }
                            }

                            <!-- Flag button -->
                            @if(hasUser && !user.username.equals(project.ownerName)
                                    && !user.hasUnresolvedFlagFor(project)) {
                                <button data-toggle="modal" data-target="#modal-flag" class="btn btn-default">
                                    <i class="fa fa-flag"></i> @messages("project.flag")
                                </button>
                                <div class="modal fade" id="modal-flag" tabindex="-1" role="dialog"
                                     aria-labelledby="label-flag">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="label-flag">Flag project</h4>
                                            </div>
                                            @form(action = projectRoutes.Projects.flag(
                                                project.ownerName, project.slug)) {
                                                <div class="modal-body">
                                                    <ul class="list-group list-flags">
                                                    @for(i <- 0 until FlagReasons.values.size) {
                                                        <li class="list-group-item">
                                                            <span>@FlagReasons(i).title</span>
                                                            <span class="pull-right">
                                                                <input required type="radio"
                                                                       value="@FlagReasons(i).id" name="flag-reason"/>
                                                            </span>
                                                        </li>
                                                    }
                                                    </ul>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Flag</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- Download button -->
                            @if(project.recommendedVersion.isReviewed) {
                                <a href="@projectRoutes.Versions.downloadRecommended(project.ownerName, project.slug)"
                                   title="@messages("project.download.recommend")"
                                   data-toggle="tooltip"
                                   data-placement="bottom"
                                   class="btn btn-primary">
                                    <i class="fa fa-download"></i> @messages("general.download")
                                </a>
                            } else {
                                <button class="btn btn-primary" data-toggle="modal" data-target="#modal-download">
                                    <i class="fa fa-download"></i> @messages("general.download")
                                </button>

                                <div class="modal fade" id="modal-download" tabindex="-1" role="dialog"
                                     aria-labelledby="label-download">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="label-download">Notice</h4>
                                            </div>
                                            <div class="modal-body">
                                                This project's recommended version has not been reviewed by our
                                                moderation staff and may not be safe for download.
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <a href="@projectRoutes.Versions.downloadRecommended(
                                                    project.ownerName, project.slug)" class="btn btn-primary">
                                                    Continue
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @content

}
