@*
Base template for Project overview.
*@

@import controllers.project.routes._
@import controllers.sugar.Requests.OreRequest
@import models.project.VisibilityTypes
@import models.viewhelper.{ProjectData, ScopedProjectData}
@import ore.OreConfig
@import ore.permission.{EditPages, EditSettings, ReviewFlags, ViewLogs}
@import ore.project.FlagReasons
@import security.NonceFilter._
@import views.html.helper.{CSRF, form}
@(p: ProjectData, sp: ScopedProjectData, active: String, noButtons: Boolean = false)(content: Html)(implicit messages: Messages, request: OreRequest[_], flash: Flash, config: OreConfig)

@appRoutes = @{controllers.routes.Application}

@bootstrap.layout(p.project.ownerName + " / " + p.project.name) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/projectDetail.js")"></script>

    <div class="project-header-container">
        <div class="container">
            @if(p.visibility != VisibilityTypes.Public) {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger" role="alert" style="margin: 0.2em 0 0 0">
                            @if(p.visibility == VisibilityTypes.New) {
                                @messages("visibility.notice." + p.visibility.nameKey)
                                @if(sp.perms(EditPages)) {
                                    <br>
                                    @messages("visibility.notice.author." + p.visibility.nameKey)
                                    <a class="btn btn-success pull-right" href="@p.fullSlug/manage/publish" style="margin-top: -.5em">Publish</a>
                                }
                            } else { @if(p.visibility == VisibilityTypes.NeedsChanges) {
                                @if(sp.perms(EditPages)) {
                                    <a class="btn btn-success pull-right" href="@p.fullSlug/manage/sendforapproval">Send for approval</a>
                                }
                                <strong>@messages("visibility.notice." + p.visibility.nameKey)</strong>
                                <br>
                                @p.renderVisibilityChange.getOrElse("Unknown")

                            } else { @if(p.visibility == VisibilityTypes.SoftDelete) {

                                @messages("visibility.notice." + p.visibility.nameKey, p.lastVisibilityChangeUser)
                                @p.renderVisibilityChange.getOrElse("")

                            } else {
                                @messages("visibility.notice." + p.visibility.nameKey)
                            }}}
                        </div>
                    </div>
                </div>
            }
            <!-- Header -->
            <div class="row">
                <div class="col-md-12">
                    <div class="project-header pull-left">
                        <h1>
                            <a href="@routes.Users.showProjects(p.project.ownerName, None)">@p.project.ownerName</a>
                            / <strong>
                            <a href="@Projects.show(p.project.ownerName, p.project.slug)">@p.project.name</a>
                        </strong>
                        </h1>
                        @defining(p.project.description.getOrElse("")) { description =>
                            <i class="minor" title="@description">@description</i>
                        }
                    </div>
                </div>
            </div>

            <!-- Nav -->
            <div class="row row-nav">
                <div class="col-md-12">
                    <div class="navbar navbar-default project-navbar pull-left">
                        <div class="navbar-inner">
                            <ul class="nav navbar-nav">
                                <!-- Tabs -->
                                <li id="docs" class="">
                                    <a href="@Projects.show(p.project.ownerName, p.project.slug)">
                                        <i class="fa fa-book"></i> @messages("project.docs")</a>
                                </li>

                                <li id="versions" class="">
                                    <a href="@Versions.showList(
                                        p.project.ownerName, p.project.slug, None)">
                                        <i class="fa fa-download"></i> @messages("project.versions")
                                    </a>
                                </li>

                                @if(p.project.topicId != -1) {
                                    <li id="discussion" class="">
                                        <a href="@Projects.showDiscussion(
                                            p.project.ownerName, p.project.slug)">
                                            <i class="fa fa-users"></i> @messages("project.discuss")
                                        </a>
                                    </li>
                                }

                                @if(sp.perms(EditSettings)) {
                                    @* Show manager if permitted *@
                                    <li id="settings" class="">
                                        <a href="@Projects.showSettings(p.project.ownerName, p.project.slug)">
                                            <i class="fa fa-cog"></i> @messages("project.settings")
                                        </a>
                                    </li>
                                }

                                @p.settings.issues.map { issues =>
                                    <li id="issues">
                                        <a title="@issues" target="_blank" rel="noopener"
                                            href="@Projects.showIssues(
                                                p.project.ownerName, p.project.slug)">
                                            <i class="fa fa-bug"></i> Issues <i class="fa fa-external-link"></i></a>
                                    </li>
                                }

                                @p.settings.source.map { source =>
                                    <li id="source">
                                        <a title="@source" target="_blank" rel="noopener"
                                        href="@Projects.showSource(p.project.ownerName, p.project.slug)">
                                            <i class="fa fa-code"></i> Source <i class="fa fa-external-link"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                            <script nonce="@nonce">$(function() { $(".nav").find("@active").addClass("active"); });</script>
                        </div>
                    </div>

                    @if(!noButtons) {
                        <div class="pull-right project-controls">

                            @flash.get("reported").map { r =>
                                <span class="flag-msg">
                                    <i class="fa fa-thumbs-up"></i> Flag submitted for review
                                </span>
                            }

                            @if(request.hasUser && !p.project.isDeleted) {

                                <script nonce="@nonce">
                                    var projectOwner = "@p.project.ownerName";
                                    var projectSlug = "@p.project.slug";
                                    var alreadyStarred = @sp.starred;
                                </script>

                                @if(!p.project.isOwner(request.currentUser.get)) {
                                    <button class="btn btn-default btn-star">
                                        <i id="icon-star" @if(sp.starred) {
                                            class="fa fa-star"
                                        } else {
                                            class="fa fa-star-o" }></i>
                                        <span class="starred"> @p.project.starCount</span>
                                    </button>
                                } else {
                                    <span class="minor stars-static">
                                        <i class="fa fa-star"></i> @p.project.starCount
                                    </span>
                                }

                                <button class="btn btn-watch btn-default @if(sp.watching) { watching }">
                                    <i class="fa fa-eye"></i>
                                    <span class="watch-status">@if(sp.watching) { Unwatch } else { Watch }</span>
                                </button>
                            }

                            <!-- Flag button -->
                            @if(request.hasUser && !request.currentUser.get.username.equals(p.project.ownerName)
                                    && !sp.uProjectFlags
                                    && !p.project.isDeleted) {
                                <button data-toggle="modal" data-target="#modal-flag" class="btn btn-default">
                                    <i class="fa fa-flag"></i> @messages("project.flag")
                                </button>
                                <div class="modal fade" id="modal-flag" tabindex="-1" role="dialog"
                                     aria-labelledby="label-flag">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="label-flag">Flag project</h4>
                                            </div>
                                            @form(action = Projects.flag(
                                                p.project.ownerName, p.project.slug)) {
                                                @CSRF.formField
                                                <div class="modal-body">
                                                    <ul class="list-group list-flags">
                                                    @for(i <- 0 until FlagReasons.values.size) {
                                                        <li class="list-group-item">
                                                            <span>@FlagReasons(i).title</span>
                                                            <span class="pull-right">
                                                                <input required type="radio"
                                                                       value="@FlagReasons(i).id" name="flag-reason"/>
                                                            </span>
                                                        </li>
                                                    }
                                                    </ul>
                                                    <input class="form-control" name="comment" type="text"
                                                           maxlength="255" required="required"
                                                           placeholder="@messages("ph.comment")&hellip;" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Flag</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- Download button -->
                            @if(!p.project.isDeleted) {
                                <div class="btn-group btn-download">
                                    <a href="@Versions.downloadRecommended(p.project.ownerName, p.project.slug, None)"
                                    title="@messages("project.download.recommend")" data-toggle="tooltip"
                                    data-placement="bottom" class="btn btn-primary">
                                        <i class="fa fa-download"></i> @messages("general.download")
                                    </a>
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="@Versions.downloadRecommended(p.project.ownerName, p.project.slug, None)">@messages("general.download")</a></li>
                                        <li><a href="#" class="copy-url" data-clipboard-text="@config.app.get[String]("baseUrl")@Versions.download(p.project.ownerName, p.project.slug, p.recommendedVersion.map(v => v.versionString).getOrElse(""), None)">Copy URL</a></li>
                                    </ul>
                                </div>
                            }

                            @if(request.hasUser && (request.data.globalPerm(ReviewFlags) || request.data.globalPerm(ViewLogs))) {
                                <button class="btn btn-alert dropdown-toggle" type="button" id="admin-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Admin actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="admin-actions">
                                    @if(request.data.globalPerm(ReviewFlags)) {
                                        <li><a href="@Projects.showFlags(p.project.ownerName, p.project.slug)">
                                            Flag history (@p.flagCount) </a></li>
                                    }
                                    @if(request.data.globalPerm(ReviewFlags)) {
                                        <li><a href="@Projects.showNotes(p.project.ownerName, p.project.slug)">
                                            Staff notes (@p.noteCount) </a></li>
                                    }
                                    @if(request.data.globalPerm(ViewLogs)) {
                                        <li><a href="@appRoutes.showLog(None, None, Some(p.project.id.value), None, None, None, None)">
                                            User Action Logs</a></li>
                                    }
                                    @if(request.data.globalPerm(ViewLogs)) {
                                        <li><a href="@Projects.showLog(p.project.ownerName, p.project.slug)">
                                            System Logs (@p.projectLogSize) </a></li>
                                    }
                                    <li><a href="https://forums.spongepowered.org/users/@p.project.ownerName">Owner on forum <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                                </ul>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @content

}
