@*
Base template for Project overview.
*@
@import controllers.project.{routes => projectRoutes}
@import db.ModelService
@import db.impl.access.UserBase
@import models.project.Project
@import models.user.User
@import ore.OreConfig
@import ore.permission.EditSettings
@import ore.project.FlagReasons
@import security.NonceFilter._
@import views.html.helper.{CSRF, form}
@import ore.permission.ReviewProjects
@import ore.permission.ReviewFlags
@import ore.permission.ViewLogs
@import ore.permission.scope.GlobalScope
@import models.project.VisibilityTypes
@import ore.permission.EditPages
@(project: Project, active: String, noButtons: Boolean = false)(content: Html)(implicit messages: Messages,
        request: Request[_], flash: Flash, service: ModelService, config: OreConfig, users: UserBase)

@hasUser = @{ users.current.isDefined }
@user = @{ users.current.get }
@isOwner(user: User) = @{ user.id.get == project.ownerId }
@projectRoutes = @{ controllers.project.routes.Projects }
@versionRoutes = @{ controllers.project.routes.Versions }
@canAdminFlag = @{ hasUser && (user can ReviewFlags in GlobalScope) }
@canAdminNotes = @{ hasUser && (user can ReviewFlags in GlobalScope) }
@canAdminLog = @{ hasUser && (user can ViewLogs in GlobalScope) }
@canEditPages = @{ hasUser && (user can EditPages in project) }
@isDeleted = @{ project.visibility == VisibilityTypes.SoftDelete }

@bootstrap.layout(project.ownerName + " / " + project.name) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/projectDetail.js")"></script>

    <div class="project-header-container">
        <div class="container">
            @if(project.visibility != VisibilityTypes.Public) {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger" role="alert" style="margin: 0.2em 0 0 0">
                            @if(project.visibility == VisibilityTypes.New) {
                                @messages("visibility.notice." + project.visibility.nameKey)
                                @if(canEditPages) {
                                    <br>
                                    @messages("visibility.notice.author." + project.visibility.nameKey)
                                    <a class="btn btn-success pull-right" href="/@project.ownerName/@project.slug/manage/publish" style="margin-top: -.5em">Publish</a>
                                }
                            } else { @if(project.visibility == VisibilityTypes.NeedsChanges) {
                                @if(canEditPages) {
                                    <a class="btn btn-success pull-right" href="/@project.ownerName/@project.slug/manage/sendforapproval">Send for approval</a>
                                }
                                <strong>@messages("visibility.notice." + project.visibility.nameKey)</strong>
                                <br>
                                @if(project.lastVisibilityChange.isDefined) {
                                    @project.lastVisibilityChange.get.renderComment()
                                } else {
                                    Unknown
                                }
                            } else { @if(project.visibility == VisibilityTypes.SoftDelete) {
                                @if(project.lastVisibilityChange.isDefined) {
                                    @messages("visibility.notice." + project.visibility.nameKey, users.get(project.lastVisibilityChange.get.createdBy.get).map(_.username).getOrElse("Unknown"))
                                    @project.lastVisibilityChange.get.renderComment()
                                } else {
                                    @messages("visibility.notice." + project.visibility.nameKey, "Unknown")
                                }
                            } else {
                                @messages("visibility.notice." + project.visibility.nameKey)
                            }}}
                        </div>
                    </div>
                </div>
            }
            <!-- Header -->
            <div class="row">
                <div class="col-md-12">
                    <div class="project-header pull-left">
                        <h1>
                            <a href="@routes.Users.showProjects(project.ownerName, None)">@project.ownerName</a>
                            / <strong>
                            <a href="@projectRoutes.show(project.ownerName, project.slug)">@project.name</a>
                        </strong>
                        </h1>
                        @defining(project.description.getOrElse("")) { description =>
                            <i class="minor" title="@description">@description</i>
                        }
                    </div>
                </div>
            </div>

            <!-- Nav -->
            <div class="row row-nav">
                <div class="col-md-12">
                    <div class="navbar navbar-default project-navbar pull-left">
                        <div class="navbar-inner">
                            <ul class="nav navbar-nav">
                                <!-- Tabs -->
                                <li id="docs" class="">
                                    <a href="@projectRoutes.show(project.ownerName, project.slug)">
                                        <i class="fa fa-book"></i> @messages("project.docs")</a>
                                </li>

                                <li id="versions" class="">
                                    <a href="@versionRoutes.showList(
                                        project.ownerName, project.slug, None, None)">
                                        <i class="fa fa-download"></i> @messages("project.versions")
                                    </a>
                                </li>

                                @if(project.topicId != -1) {
                                    <li id="discussion" class="">
                                        <a href="@projectRoutes.showDiscussion(
                                            project.ownerName, project.slug)">
                                            <i class="fa fa-users"></i> @messages("project.discuss")
                                        </a>
                                    </li>
                                }

                                @if(hasUser && (user can EditSettings in project)) {
                                    @* Show manager if permitted *@
                                    <li id="settings" class="">
                                        <a href="@projectRoutes.showSettings(project.ownerName, project.slug)">
                                            <i class="fa fa-cog"></i> @messages("project.settings")
                                        </a>
                                    </li>
                                }

                                @defining(project.settings) { settings =>
                                    @settings.issues.map { issues =>
                                        <li id="issues">
                                            <a title="@issues" target="_blank"
                                                href="@projectRoutes.showIssues(
                                                    project.ownerName, project.slug)">
                                                <i class="fa fa-bug"></i> Issues <i class="fa fa-external-link"></i></a>
                                        </li>
                                    }

                                    @settings.source.map { source =>
                                        <li id="source">
                                            <a title="@source" target="_blank"
                                            href="@projectRoutes.showSource(project.ownerName, project.slug)">
                                                <i class="fa fa-code"></i> Source <i class="fa fa-external-link"></i>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                            <script nonce="@nonce">$(function() { $(".nav").find("@active").addClass("active"); });</script>
                        </div>
                    </div>

                    @if(!noButtons) {
                        <div class="pull-right project-controls">

                            @flash.get("reported").map { r =>
                                <span class="flag-msg">
                                    <i class="fa fa-thumbs-up"></i> Flag submitted for review
                                </span>
                            }

                            @if(hasUser && !isDeleted) {

                                <script nonce="@nonce">
                                    var projectOwner = "@project.ownerName";
                                    var projectSlug = "@project.slug";
                                </script>

                                @defining(project.stars.contains(user)) { alreadyStarred =>

                                    <script nonce="@nonce">var alreadyStarred = @alreadyStarred;</script>

                                    @if(!isOwner(user)) {
                                        <button class="btn btn-default btn-star">
                                            <i id="icon-star" @if(alreadyStarred) {
                                                class="fa fa-star"
                                            } else {
                                                class="fa fa-star-o" }></i>
                                            <span class="starred"> @project.starCount</span>
                                        </button>
                                    } else {
                                        <span class="minor stars-static">
                                            <i class="fa fa-star"></i> @project.starCount
                                        </span>
                                    }
                                }

                                @defining(user.watching.contains(project)) { watching =>
                                    <button class="btn btn-watch btn-default @if(watching) { watching }">
                                        <i class="fa fa-eye"></i>
                                        <span class="watch-status">@if(watching) { Unwatch } else { Watch }</span>
                                    </button>
                                }
                            }

                            <!-- Flag button -->
                            @if(hasUser && !user.username.equals(project.ownerName)
                                    && !user.hasUnresolvedFlagFor(project)
                                    && !isDeleted) {
                                <button data-toggle="modal" data-target="#modal-flag" class="btn btn-default">
                                    <i class="fa fa-flag"></i> @messages("project.flag")
                                </button>
                                <div class="modal fade" id="modal-flag" tabindex="-1" role="dialog"
                                     aria-labelledby="label-flag">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="label-flag">Flag project</h4>
                                            </div>
                                            @form(action = projectRoutes.flag(
                                                project.ownerName, project.slug)) {
                                                @CSRF.formField
                                                <div class="modal-body">
                                                    <ul class="list-group list-flags">
                                                    @for(i <- 0 until FlagReasons.values.size) {
                                                        <li class="list-group-item">
                                                            <span>@FlagReasons(i).title</span>
                                                            <span class="pull-right">
                                                                <input required type="radio"
                                                                       value="@FlagReasons(i).id" name="flag-reason"/>
                                                            </span>
                                                        </li>
                                                    }
                                                    </ul>
                                                    <input class="form-control" name="comment" type="text"
                                                           maxlength="255" required="required"
                                                           placeholder="@messages("ph.comment")&hellip;" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Flag</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- Download button -->
                            @if(!isDeleted) {
                                <a href="@versionRoutes.downloadRecommended(project.ownerName, project.slug, None)"
                                title="@messages("project.download.recommend")" data-toggle="tooltip"
                                data-placement="bottom" class="btn btn-primary">
                                    <i class="fa fa-download"></i> @messages("general.download")
                                </a>
                            }

                            @if(hasUser && (canAdminFlag || canAdminNotes || canAdminLog)) {
                                <button class="btn btn-alert dropdown-toggle" type="button" id="admin-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Admin actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="admin-actions">
                                    @if(canAdminFlag) {
                                        <li><a href="@projectRoutes.showFlags(project.ownerName, project.slug)">
                                            Flag history (@project.flags.size) </a></li>
                                    }
                                    @if(canAdminNotes) {
                                        <li><a href="@projectRoutes.showNotes(project.ownerName, project.slug)">
                                            Staff notes (@project.getNotes().size) </a></li>
                                    }
                                    @if(canAdminLog) {
                                        <li><a href="@projectRoutes.showLog(project.ownerName, project.slug)">
                                            Log (@project.logger.entries.size) </a></li>
                                    }
                                    <li><a href="https://forums.spongepowered.org/users/@project.ownerName">Owner on forum <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                                </ul>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @content

}
