@import controllers.sugar.Requests.OreRequest
@import ore.OreConfig
@()(implicit messages: Messages, requestHeader: RequestHeader, request: OreRequest[_] = null, config: OreConfig, flash: Flash)

@bootstrap.layout(messages("error.notFound.title"), authEnabled = false, noContainer = true) {

    <div class="container-error container">
        <img src="@routes.Assets.versioned("images/ore-dark.png")" />
        <h1 class="minor">@messages("error.notFound.title")</h1>
        <h3 class="minor">@messages("error.notFound.message", requestHeader.uri)</h3>
    </div>

}
