@import db.ModelService
@import db.impl.access.UserBase
@import ore.{OreConfig, OreEnv}
@import db.impl.access.CompetitionBase
@()(implicit messages: Messages, session: Session, request: Request[_] = null, service: ModelService, config: OreConfig,
        users: UserBase, env: OreEnv, competitions: CompetitionBase)

@bootstrap.layout(messages("error.ore.timeout"), user = false) {

    <div class="container-error container">
        <img src="@routes.Assets.at("images/ore-dark.png")" />
        <h1 class="minor">@messages("error.ore.timeout.title")</h1>
        <i class="minor">@messages("error.ore.timeout.body")</i>
    </div>

}
