@import controllers.sugar.Requests.OreRequest
@import ore.OreConfig
@()(implicit messages: Messages, request: OreRequest[_] = null, config: OreConfig, flash: Flash)

@bootstrap.layout(messages("error.ore.timeout"), authEnabled = false, noContainer = true) {

    <div class="container-error container">
        <img src="@routes.Assets.versioned("images/ore-dark.png")" />
        <h1 class="minor">@messages("error.ore.timeout.title")</h1>
        <i class="minor">@messages("error.ore.timeout.body")</i>
    </div>

}
