@*
Page used for uploading and creating new projects.
*@
@import views.html.helper.form
@(project: Option[Project])(implicit messages: Messages)

@core.layout(messages("project.create")) {

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create new project</h3>
                    </div>
                    <div class="panel-body">
                        <p>A project contains your downloads and the documentation for your plugin.</p>

                        @if(project.isDefined) {
                            @defining(project.get) { project =>
                              <p>ID: @project.id</p>
                              <p>Name: @project.name</p>
                              <p>Description: @project.description</p>
                              <p>Owner: @project.owner.name</p>
                            }
                        }

                        @form(action = routes.Projects.upload, 'enctype -> "multipart/form-data") {
                            <label class="btn btn-primary" for="pluginFile">
                                <input id="pluginFile" name="pluginFile" type="file" style="display:none ;">
                                Select file
                            </label>
                            <input type="submit" name="submit" value="Upload" class="btn btn-primary">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}
