@*
Page used for uploading and creating new projects.
*@
@import views.html.helper.form
@(project: Option[Project])(implicit messages: Messages)

@core.layout(messages("project.create")) {

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create new project</h3>
                    </div>
                    <div class="panel-body">
                        <p>A project contains your downloads and the documentation for your plugin.</p>

                        @* Cond: plugin uploaded -> display data. *@
                        @if(project.isDefined) {
                            @defining(project.get) { project =>
                              <p><strong>ID:</strong> @project.id</p>
                              <p><strong>Name:</strong> @project.name</p>
                              <p><strong>Description:</strong> @project.description</p>
                              <p><strong>Owner:</strong> @project.owner.name</p>
                            }
                        }
                        @* -------------------------------------- *@

                        @form(action = routes.Projects.upload, 'enctype -> "multipart/form-data") {
                            <label class="btn btn-primary" for="pluginFile">
                                <input id="pluginFile" name="pluginFile" type="file" style="display:none ;">
                                Select file
                            </label>
                            <input type="submit" name="submit" value="Upload" class="btn btn-primary" />
                        }

                        @* Cond: plugin uploaded -> add create button *@
                        @if(project.isDefined) {
                            @defining(project.get) { project =>
                              @form(action = routes.Projects.create(project.owner.name, project.name)) {
                                  <input type="submit" name="create" value="Create project" class="btn btn-primary" />
                              }
                            }
                        }
                        @* ------------------------------------------ *@
                    </div>
                </div>
            </div>
        </div>
    </div>

}
