@import play.twirl.api.Html

@import controllers.sugar.Requests.OreRequest
@import ore.OreConfig
@(title: String, step: Int, additionalScripts: Html = Html(""))(content: Html)(implicit messages: Messages, request: OreRequest[_], config: OreConfig, flash: Flash)

@bootstrap.layout(title, additionalScripts) {

    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    @messages("project.create.title")
                    </h3>
                </div>
                @content
            </div>
        </div>
        @projects.helper.createSteps(step)
    </div>

}
