@import db.ModelService
@import db.impl.access.UserBase
@import ore.OreConfig
@import play.twirl.api.Html
@(title: String, step: Int)(content: Html)(implicit messages: Messages, request: Request[_],
        service: ModelService, config: OreConfig, users: UserBase)

@bootstrap.layout(title) {

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            @messages("project.create.title")
                        </h3>
                    </div>
                    @content
                </div>
            </div>
            @projects.helper.createSteps(step)
        </div>
    </div>

}
