<div class="list-controls">
    <div class="container">
        <ol class="category-breadcrumb">
            <li class="no-category has-drop bullet">
                <a href="" class="badge-category home" style="background-color: #eee; color: #333" aria-label="Display category list" aria-expanded="false">all categories</a>
                <a href="" class="badge-category category-dropdown-button home" style="background-color: #eee; color: #333">
                    <i class="fa fa-caret-right"></i>
                </a>
                <section class="hidden category-dropdown-menu chooser">
                    <div class="cat"><a data-drop-close="true" class="badge-category home" href="/">all categories</a></div>
                    <div class="cat"></div>
                </section>
            </li>
            <div class="clear"></div>
        </ol>

        <ul class="nav nav-pills">  <li class="active" title="all packages grouped by category"><a href="/categories">Categories</a></li>
            <li title="packages with recent posts"><a href="/latest">Latest</a></li>
            <li title="packages created in the last few days"><a href="/new">New</a></li>
            <li title="packages that are popular now"><a href="/new">Hot</a></li>
            <li title="packages that are the most popular"><a href="/new">Top</a></li>
            <li title="Forums"><a href="https://forums.spongepowered.org">Forums</a></li>
            <li title="Docs"><a href="https://docs.spongepowered.org">Docs</a></li>
            <li title="Chat"><a href="https://webchat.esper.net/?nick=&amp;channels=sponge%2Cspongedev%2Cspongedocs">Chat</a></li>
            <li title="Downloads"><a href="https://forums.spongepowered.org/t/sponge-downloads/11448">Downloads</a></li>
            <li title="About Us"><a href="https://docs.spongepowered.org/en/about/introduction.html">About Us</a></li>
        </ul>
        <button id="create-topic" class="btn btn-default"><i class="fa fa-plus"></i>New Package</button>
    </div>
</div>
