@()(implicit messages: Messages)

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <span class="minor copyright">&copy; 2016 SpongePowered</span>
                    <a href="#">Terms</a>
                    <a href="#">Contact</a>
                    <a href="#">Help</a>
                    <a href="#">About</a>
                </div>
            </div>
            <div class="col-md-4 col-spongie">
                <a href="https://spongepowered.org">
                    <img width="50" height="50" id="spongie" class="svg" src="@routes.Assets.at("images/spongie-mark.svg")" />
                </a>
            </div>
            <div class="col-md-4">
                <div class="social pull-right">
                    <a target="_blank" href="https://twitter.com">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>
                    <a target="_blank" href="https://facebook.com">
                        <i class="fa fa-facebook-official fa-2x"></i>
                    </a>
                    <a target="_blank" href="https://reddit.com">
                        <i class="fa fa-reddit fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
