<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="margin: 0 auto;" href="@routes.Application.index">
                <img class="logo"
                     src="https://cdn.spongepowered.org/uploads/default/original/2X/7/77fa5f82289385db14561fac384ddea2a84a0070.png"
                     alt="Sponge">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <a href="#" class="navbar-right btn btn-primary navbar-btn">Sign up</a>
            <a href="#" class="navbar-right btn btn-primary navbar-btn">Log in</a>
        </div>
    </div>
</nav>