@*
Base layout template for website. Most templates within the project will extend
this.
*@
@import play.twirl.api.Html
@import util.Conf
@import db.ModelService
@(title: String)(content: Html)(implicit messages: Messages, session: Session,
        request: RequestHeader, service: ModelService)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="@Conf.SpongeConf.getString("icon")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("highlight/styles/default.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/fontawesome/font-awesome.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />

        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.2.1.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/filesize.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("highlight/highlight.pack.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/svg.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
        @core.header()
        @content
        @core.footer()
    </body>
</html>
