@*
Base layout template for website. Most templates within the project will extend
this.
*@
@import play.api.Play
@(title: String)(content: Html)(implicit messages: Messages, session: Session)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="@Play.current.configuration.getString("sponge.icon")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("highlight/styles/default.css")" />

        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.2.1.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/js.cookie.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("highlight/highlight.pack.js")"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
        @core.header()
        @content
    </body>
</html>
