@import db.ModelService
@import db.impl.access.UserBase
@import models.project.{Channel, Project}
@import ore.OreConfig
@import security.NonceFilter._
@import views.html.helper.{CSRF, form}
@(project: Project, channels: Seq[Channel])(implicit messages: Messages, flash: Flash, request: Request[_],
        service: ModelService, config: OreConfig, users: UserBase)

@projectRoutes = @{controllers.project.routes.Projects}
@channelRoutes = @{controllers.project.routes.Channels}
@versionRoutes = @{controllers.project.routes.Versions}

@bootstrap.layout(messages("channel.list.page-title", project.ownerName, project.slug)) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/channelManage.js")"></script>
    <script nonce="@nonce">
        PROJECT_OWNER = '@project.ownerName';
        PROJECT_SLUG = '@project.slug';
        $(function() {
            initChannelManager(
                    "#channel-new", "", "@config.defaultChannelColor.hex", "New channel",
                    "@channelRoutes.create(project.ownerName, project.slug)",
                    "post", "Create channel", false
            );
        });
    </script>

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@messages("channel.list.title")</h3>
                    </div>
                    <div class="panel-body">
                        <p class="minor create-blurb">
                            @messages("channel.list.description")
                        </p>

                        @if(flash.get("error").isDefined) {
                            <div class="alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>@messages("channel.list.error")</strong> @flash.get("error").get
                            </div>
                        }

                        <table class="table no-border">
                            <tbody>
                                @channels.sorted.map { channel =>
                                    <tr>
                                      <td class="channel channel-flat"
                                          style="background-color: @channel.color.hex;">
                                        @channel.name
                                        <div class="pull-right white">
                                            <a href="#">
                                                <i data-toggle="modal" data-target="#channel-settings"
                                                   id="channel-edit-@channel.id" class="fa fa-edit"></i>
                                            </a>

                                            @if(channels.size == 1) {
                                                <a id="channel-delete-@channel.id" data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="@messages("channel.edit.cannotDeleteLast")">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            } else {
                                                @if(channel.versions.nonEmpty) {
                                                    <a id="channel-delete-@channel.id" data-toggle="modal"
                                                       data-target="#modal-delete">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                } else {
                                                    @form(action = channelRoutes.delete(
                                                        project.ownerName, project.slug, channel.name),
                                                        'id -> s"form-delete-${channel.id.get}",
                                                        'class -> "form-channel-delete") {
                                                        @CSRF.formField
                                                        <a id="channel-delete-@channel.id.get" class="safe-delete"
                                                           data-channel-id="@channel.id.get">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    }
                                                }
                                            }
                                        </div>
                                      </td>
                                  </tr>
                                    <script nonce="@nonce">
                                      $(function() {
                                          initChannelDelete('#channel-delete-@channel.id', '@channel.name', @channel.versions.size);
                                          initChannelManager(
                                                  "#channel-edit-@channel.id", "@channel.name", "@channel.color.hex",
                                                  "Edit channel", "@channelRoutes.save(
                                                    project.ownerName, project.slug, channel.name)",
                                                  "post", "Save changes", @channel.isNonReviewed
                                          );
                                      });
                                  </script>
                                }
                            </tbody>
                        </table>
                        <a href="@versionRoutes.showList(project.ownerName, project.slug, None, None)"
                           class="pull-left btn btn-default">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a href="#" id="channel-new" class="pull-right btn btn-primary"
                           @if(channels.size >= config.projects.getInt("max-channels").get) {
                               disabled data-toggle="tooltip" data-placement="left"
                               title="@messages("channel.edit.maxReached")"
                           } else {
                               data-toggle="modal" data-target="#channel-settings"
                           }
                        >
                            <i class="fa fa-plus"></i>
                        </a>
                        @projects.channels.utils.modalManage()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="label-delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="@messages("general.close")">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="label-delete">@messages("channel.delete")</h4>
                </div>
                <div class="modal-body">
                    <p>@messages("channel.delete.info")</p>
                    <p class="minor">
                        <strong class="version-count"></strong> <i>@messages("channel.delete.info.versions")</i>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @messages("channel.delete.close")
                    </button>
                    <form method="post" action="#" class="form-channel-delete">
                        @CSRF.formField
                        <button type="submit" class="btn btn-danger">@messages("channel.delete")</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

}
