@import models.project.{Channel, Project}
@import play.api.Play
@(project: Project, channels: Seq[Channel])(implicit messages: Messages, session: Session, flash: Flash)

@core.layout(messages("channel.list.page-title", project.ownerName, project.slug)) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/channelManage.js")"></script>
    <script>
        BASE_URL = '@Play.current.configuration.getString("application.baseUrl")';
        PROJECT_OWNER = '@project.ownerName';
        PROJECT_SLUG = '@project.slug';
        $(function() {
            initChannelManager(
                    "#channel-new", "", "@Channel.DEFAULT_COLOR.hex", "New channel",
                    "@routes.Projects.createChannel(project.ownerName, project.slug)",
                    "post", "Create channel"
            );
        });
    </script>

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@messages("channel.list.title")</h3>
                    </div>
                    <div class="panel-body">
                        <p class="minor create-blurb">
                            @messages("channel.list.description")
                        </p>

                        @if(flash.get("error").isDefined) {
                            <div class="alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>@messages("channel.list.error")</strong> @flash.get("error").get
                            </div>
                        }

                        <table class="table no-border">
                            <tbody>
                                @channels.sorted.map { channel =>
                                    <tr>
                                      <td class="channel channel-flat"
                                          style="background-color: @channel.color.hex;">
                                        @channel.name
                                        <div class="pull-right white">
                                            <a href="#">
                                                <i data-toggle="modal" data-target="#channel-manage"
                                                   id="channel-edit-@channel.id" class="fa fa-edit"></i>
                                            </a>
                                            <a id="channel-delete-@channel.id"
                                              @if(channels.size == 1) {
                                                  data-toggle="tooltip" data-placement="top" title="@messages("channel.edit.cannot-delete-last-channel")"
                                              } else {
                                                @if(channel.versions.nonEmpty) {
                                                    data-toggle="modal" data-target="#modal-delete"
                                                } else {
                                                    href="@routes.Projects.deleteChannel(project.ownerName, project.slug, channel.name)"
                                                }
                                              }
                                            >
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                      </td>
                                  </tr>
                                    <script>
                                      $(function() {
                                          initChannelDelete('#channel-delete-@channel.id', '@channel.name', @channel.versions.size);
                                          initChannelManager(
                                                  "#channel-edit-@channel.id", "@channel.name", "@channel.color.hex",
                                                  "Edit channel", "@routes.Projects.editChannel(project.ownerName, project.slug, channel.name)",
                                                  "post", "Save changes"
                                          );
                                      });
                                  </script>
                                }
                            </tbody>
                        </table>
                        <a href="@routes.Versions.showList(project.ownerName, project.slug, None)" class="pull-left btn btn-default">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a href="#" id="channel-new" class="pull-right btn btn-primary"
                           @if(channels.size >= Project.MAX_CHANNELS) {
                               disabled data-toggle="tooltip" data-placement="left"
                               title="@messages("channel.edit.max-amount-reached")"
                           } else {
                               data-toggle="modal" data-target="#channel-manage"
                           }
                        >
                            <i class="fa fa-plus"></i>
                        </a>
                        @projects.channels.modalManage()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="label-delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="@messages("aria.close")">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="label-delete">@messages("channel.delete")</h4>
                </div>
                <div class="modal-body">
                    <p>@messages("channel.delete.info")</p>
                    <p class="minor"><strong class="version-count"></strong> <i>@messages("channel.delete.info.versions")</i></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@messages("channel.delete.close")</button>
                    <a href="#" type="button" class="btn btn-danger">@messages("channel.delete")</a>
                </div>
            </div>
        </div>
    </div>

}
