@import models.project.Channel
@import views.html.helper.form
@()(implicit messages: Messages, session: Session)

<div class="modal fade" id="channel-manage" tabindex="-1" role="dialog" aria-labelledBy="manage-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="@messages("aria.cancel")">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            @form(action = routes.Application.index(None)) {
                <div class="modal-body">
                    <div class="form-inline">
                        <label for="channel-input">@messages("channel.name")</label>
                        <input class="form-control channel-input" name="channel-input" type="text" value=""
                               maxlength="@Channel.MAX_NAME_LENGTH"/>
                        <input type="hidden" name="channel-color-input" class="channel-color-input" value="" />
                        <a href="#">
                            <i class="fa fa-circle channel-id color-picker" style=""
                               data-toggle="popover" data-placement="right" data-trigger="hover"></i>
                        </a>
                        @projects.channels.popoverColorPicker()
                        <span class="pull-right channel preview" style="display: none;"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @messages("channel.edit.close")
                    </button>
                    <input type="submit" value="" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>
