@import models.project.ChannelColors
@()

<table class="popover-color-picker" style="display: none;">
    <tbody>
        <tr>
            <td style="padding: 3px;">
                <i class="fa fa-circle channel-id" style="color: @ChannelColors(0).hex"></i>
            </td>
            <td style="padding: 3px;">
                <i class="fa fa-circle channel-id" style="color: @ChannelColors(1).hex"></i></td>
            <td style="padding: 3px;">
                <i class="fa fa-circle channel-id" style="color: @ChannelColors(2).hex"></i>
            </td>
            <td style="padding: 3px;">
                <i class="fa fa-circle channel-id" style="color: @ChannelColors(3).hex"></i>
            </td>
        </tr>
        <tr>
            <td style="padding: 3px;">
                <i class="fa fa-circle channel-id" style="color: @ChannelColors(4).hex"></i>
            </td>
            <td style="padding: 3px;">
                <i class="fa fa-circle channel-id" style="color: @ChannelColors(5).hex"></i>
            </td>
            <td style="padding: 3px;">
                <i class="fa fa-circle channel-id" style="color: @ChannelColors(6).hex"></i>
            </td>
            <td style="padding: 3px;">
                <i class="fa fa-circle channel-id" style="color: @ChannelColors(7).hex"></i>
            </td>
        </tr>
        <tr>
            <td style="padding: 3px;">
                <i class="fa fa-circle channel-id" style="color: @ChannelColors(8).hex"></i>
            </td>
            <td style="padding: 3px;">
                <i class="fa fa-circle channel-id" style="color: @ChannelColors(9).hex"></i>
            </td>
            <td style="padding: 3px;">
                <i class="fa fa-circle channel-id" style="color: @ChannelColors(10).hex"></i>
            </td>
            <td style="padding: 3px;">
                <i class="fa fa-circle channel-id" style="color: @ChannelColors(11).hex"></i>
            </td>
        </tr>
    </tbody>
</table>
