@import models.project.Project
@import views.html.helper.form
@import models.project.Page
@(model: Project, page: String, content: String)(implicit messages: Messages, session: Session)

@projects.detail(model, "#docs") {

    <script type="text/javascript" src="@routes.Assets.at("showdown/dist/showdown.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/pagePreview.js")"></script>

    <div class="container">
        @form(action = routes.Projects.savePage(model.ownerName, model.slug, page)) {
            <div class="form-group form-inline">
                <input class="form-control" type="text" name="name" value="@page" readonly>
                <a href="@routes.Projects.show(model.ownerName, model.slug)" class="btn btn-default">
                    @messages("page.edit.cancel")
                </a>
                <input type="submit" title="@messages("page.edit.save")" value="@messages("page.edit.save")" class="btn btn-primary">

                <div class="pull-right input-group">
                    @if(model.pageExists(page)) {
                        <a class="btn btn-danger"
                            @if(page.equals(Page.HOME)) {
                                disabled data-toggle="tooltip" data-placement="bottom"
                                title="@messages("page.edit.cannot-delete-homepage")"
                            } else {
                                href="@routes.Projects.deletePage(model.ownerName, model.slug, page)"
                            }
                        >@messages("page.edit.delete")</a>

                        <a class="pull-right btn btn-primary"
                           @if(model.pages.length < Project.MAX_PAGES) {
                               data-toggle="modal" data-target="#new-page"
                           } else {
                               disabled data-toggle="tooltip" data-placement="bottom"
                               title="@messages("page.edit.max-pages")"
                           }
                        >
                            <i class="fa fa-plus"></i> New page
                        </a>
                    }
                    @projects.pages.modalPageCreate(model)
                </div>
            </div>

            <ul class="nav nav-tabs page-editor-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">@messages("page.edit.title")</a>
                </li>
                <li role="presentation">
                    <a href="#preview" aria-controls="edit" role="tab" data-toggle="tab">@messages("page.edit.preview")</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="edit">
                    <textarea id="content" name="content" class="form-control" rows="20">@content</textarea>
                </div>
                <div role="tabpanel" class="tab-pane" id="preview"></div>
            </div>
        }
    </div>


}
