@import models.project.Project
@import plugin.Pages
@import views.html.helper.form
@(model: Project, page: String, content: String)(implicit messages: Messages, session: Session)

@projects.detail(model, "#docs") {

    <div class="container">
        @form(action = routes.Projects.savePage(model.owner, model.getName, page)) {
            <div class="form-group form-inline">
                <input class="form-control" type="text" name="name" value="@page" readonly>
                <a href="@routes.Projects.show(model.owner, model.getName)" class="btn btn-default">
                    @messages("page.edit.cancel")
                </a>
                <input type="submit" title="Save" value="@messages("page.edit.save")" class="btn btn-primary">

                <div class="pull-right input-group">
                    @if(Pages.exists(model.owner, model.getName, page)) {
                        <a href="@routes.Projects.deletePage(model.owner, model.getName, page)"
                           class="btn btn-danger"
                            @if(page.equals("Home")) {
                                disabled data-toggle="tooltip" data-placement="bottom"
                                title="Your project's homepage cannot be deleted"
                            }
                        >@messages("page.edit.delete")</a>
                        <a class="pull-right btn btn-primary" data-toggle="modal" data-target="#new-page">
                            <i class="fa fa-plus"></i> New page
                        </a>
                    }
                    @projects.pages.modalPageCreate(model)
                </div>
            </div>

            <ul class="nav nav-tabs page-editor-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">@messages("page.edit.title")</a>
                </li>
                <li role="presentation">
                    <a href="#preview" aria-controls="edit" role="tab" data-toggle="tab">@messages("page.edit.preview")</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="edit">
                    <textarea name="content" class="form-control" rows="20">@content</textarea>
                </div>
                <div role="tabpanel" class="tab-pane" id="preview"></div>
            </div>
        }
    </div>


}
