@import models.project.Project
@(model: Project)(implicit messages: Messages)

<script type="text/javascript" src="@routes.Assets.at("javascripts/pageEdit.js")"></script>
<script>
    var onNewPage = function(newPage) {
        window.location = "@routes.Projects.show(model.owner, model.getSlug)/pages/" + newPage + "/edit"
    }
</script>

<div class="modal fade" id="new-page" tabindex="-1" role="dialog" aria-labelledby="new-page-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="@messages("aria.close")">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="new-page-label">@messages("page.new.title")</h4>
            </div>
            <div class="modal-body input-group">
                <label for="page-name">@messages("page.new.name")</label>
                <input class="form-control" type="text" id="page-name" name="page-name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@messages("page.new.close")</button>
                <button id="continue-page" type="button" class="btn btn-primary">@messages("page.new.continue")</button>
            </div>
        </div>
    </div>
</div>
