@*
Documentation page within Project overview.
*@
@import controllers.project.routes
@import models.project.{Page, Project}
@import models.user.User
@import ore.permission.EditPages
@(model: Project, page: Page, editorOpen: Boolean = false)(implicit messages: Messages, session: Session, request: RequestHeader, flash: Flash)

@canEditPages = @{
    User.current.isDefined && (User.current.get can EditPages in model)
}

@projects.view(model, "#docs") {

    @if(editorOpen) {
        <script>$(function() { $('.btn-edit').click(); });</script>
    }

    <div class="project-wiki">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            @projects.util.editor(
                                saveCall = routes.Pages.save(model.ownerName, model.slug, page.name),
                                deleteCall = routes.Pages.delete(model.ownerName, model.slug, page.name),
                                deletable = !page.isHome,
                                enabled = canEditPages,
                                raw = page.contents,
                                cooked = page.html,
                                subject = "Page")
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@messages("page.plural")</h3>
                            @if(canEditPages && model.pages.size < Project.MaxPages) {
                                <a data-toggle="modal" data-target="#new-page">
                                    <i title="New" class="new-page pull-right fa fa-plus"></i>
                                </a>
                                @projects.pages.modalPageCreate(model)
                            }
                        </div>
                        <ul class="list-group">
                            @for(page <- model.pages.values) {
                                <li class="list-group-item">
                                    <a href="@routes.Pages.show(model.ownerName, model.slug, page.name)">@page.name</a>
                                </li>
                            }
                        </ul>
                    </div>

                    <!-- Member list -->
                    @projects.members.list(model)
                </div>
            </div>
        </div>
    </div>

}
