@*
Documentation page within Project overview.
*@
@import java.text.NumberFormat

@import controllers.project.routes
@import db.ModelService
@import db.impl.access.UserBase
@import db.impl.OrePostgresDriver.api._
@import ore.OreConfig
@import ore.permission.EditPages
@import security.NonceFilter._
@import util.StringUtils._
@import models.project.Project
@import models.project.Page
@(model: Project,
  page: Page,
  forceHideEditor: Boolean = false,
  editorOpen: Boolean = false)(implicit messages: Messages, request: Request[_], flash: Flash, service: ModelService,
        config: OreConfig, userBase: UserBase)

@canEditPages = @{
    userBase.current.isDefined && (userBase.current.get can EditPages in model) && !forceHideEditor
}

@projects.view(model, "#docs") {

    <script type="text/javascript" src="@controllers.routes.Assets.at("javascripts/pageCollapse.js")"></script>
    <script nonce="@nonce">
        pluginId = '@model.pluginId';
        namespace = '@model.namespace';
    </script>
    @if(editorOpen) {
        <script nonce="@nonce">$(function() { $('.btn-edit').click(); });</script>
    }

    <div class="project-wiki">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            @utils.alert("error")
                            @utils.editor(
                                saveCall = routes.Pages.save(model.ownerName, model.slug, page.fullSlug),
                                deleteCall = routes.Pages.delete(model.ownerName, model.slug, page.fullSlug),
                                deletable = !page.isHome,
                                enabled = canEditPages,
                                raw = page.contents,
                                cooked = page.html,
                                subject = "Page",
                                extraFormValue = page.name)
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                    <div class="stats minor">
                        <p>@messages("project.category.info", model.category.title)</p>
                        <p>@messages("project.publishDate", prettifyDate(model.createdAt.get))</p>
                        <p>@model.viewCount views</p>
                        <p>@NumberFormat.getInstance.format(model.downloadCount) total downloads</p>
                        @defining(model.settings) { settings =>
                            @settings.licenseName.map { licenseName =>
                                <p>
                                    @Html(messages("project.license.link"))
                                    <a target="_blank" href="@settings.licenseUrl">@licenseName</a>
                                </p>
                            }
                        }
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="pull-left panel-title">@messages("page.plural")</h3>
                            @if(canEditPages && model.pages.size < config.projects.getInt("max-pages").get) {
                                <button data-toggle="modal" data-target="#new-page" title="New"
                                        class="new-page btn yellow btn-xs pull-right">
                                    <i class="fa fa-plus"></i>
                                </button>
                                @projects.pages.modalPageCreate(model)
                            }
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="@routes.Pages.show(model.ownerName, model.slug, Page.HomeName)">
                                    @Page.HomeName
                                </a>
                            </li>
                            @model.rootPages.filterNot(_.name.equals(Page.HomeName)).map { pg =>
                                <li class="list-group-item">
                                    @if(pg.children.nonEmpty) {
                                        @if(page.parentId != pg.id.get) {
                                            <a class="page-expand" data-page-id="@pg.id.get">
                                                <i class="fa fa-plus-square-o"></i>
                                            </a>
                                        } else {
                                            <a class="page-collapse" data-page-id="@pg.id.get">
                                                <i class="fa fa-minus-square-o"></i>
                                            </a>
                                        }
                                    }
                                    <a href="@routes.Pages.show(model.ownerName, model.slug, pg.fullSlug)">
                                        @pg.name
                                    </a>
                                </li>
                              @if(page.parentId != -1 && page.parentId == pg.id.get) {
                                  <div class="page-children" data-page-id="@pg.id.get">
                                      @pg.children.sorted(_.name).map { child =>
                                        <li class="list-group-item page-item-child">
                                            <a href="@routes.Pages.show(model.ownerName, model.slug, child.fullSlug)">
                                                @child.name
                                            </a>
                                        </li>
                                      }
                                  </div>
                              }
                            }
                        </ul>
                    </div>

                    <!-- Member list -->
                    @users.memberList(
                        model = model,
                        settingsCall = routes.Projects.showSettings(model.ownerName, model.slug)
                    )
                </div>
            </div>
        </div>
    </div>

}
