@*
Documentation page within Project overview.
*@
@import controllers.project.routes
@import models.project.{Page, Project}
@import models.user.User
@import ore.permission.EditPages
@(model: Project, page: Page)(implicit messages: Messages, session: Session, request: RequestHeader, flash: Flash)

@canEditPages = @{
    User.current.isDefined && (User.current.get can EditPages in model)
}

@projects.view(model, "#docs") {

    <div class="project-wiki">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    @if(canEditPages) {
                        <a href="@routes.Pages.showEditor(model.ownerName, model.slug, page.name)"
                           class="btn btn-edit btn-default pull-right"><i class="fa fa-edit"></i> @messages("page.edit")</a>
                    }
                    @* Rendered markdown *@
                    <div class="page-content pull-left">

                        @if(!model.isReviewed) {
                            <div class="alert alert-info" role="alert">
                                <i class="fa fa-info-circle"></i>
                                This project is under review and may not be safe for downloading.
                            </div>
                        }

                        @Html(page.html)
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@messages("page.plural")</h3>
                            @if(canEditPages && model.pages.size < Project.MaxPages) {
                                <a data-toggle="modal" data-target="#new-page">
                                    <i title="New" class="new-page pull-right fa fa-plus"></i>
                                </a>
                                @projects.pages.modalPageCreate(model)
                            }
                        </div>
                        <ul class="list-group">
                            @for(page <- model.pages.values) {
                                <li class="list-group-item">
                                    <a href="@routes.Pages.show(model.ownerName, model.slug, page.name)">@page.name</a>
                                    @if(canEditPages) {
                                        <a href="@routes.Pages.showEditor(model.ownerName, model.slug, page.name)"
                                           class="pull-right"><i title="Edit" class="fa fa-edit"></i></a>
                                    }
                                </li>
                            }
                        </ul>
                    </div>

                    <!-- Member list -->
                    @projects.members.list(model)
                </div>
            </div>
        </div>
    </div>

}
