@import 'utils';
@import 'pallette';

.create-blurb {
  @include padding-vert(10px, 20px);
  margin-bottom: 0;
  border-bottom: 1px solid $lighter;
}

.create-body {
  padding-bottom: 3px;
}

.plugin-meta {
  @include padding-vert(10px, 10px);
  border-bottom: 1px solid $lighter;
}

.plugin-meta-table {
  @include basic-border();
  @include box-shadow4(0, 1px, 1px, rgba(0,0,0,0.05));

  input[type="text"] { width: 100%; }
  tr { width: 100%; }
  td { padding: 10px; }
  tr:nth-child(2n) { background-color: #f5f5f5; }
  .rv { padding: 0; }

  margin-top: 5px;
  width: 100%;

  tr > td:nth-child(2n) {
    text-align: right;
    float: right;
  }
}

.create-buttons {
  border-top: 1px solid #ddd;
}

.create-buttons > form {
  margin-bottom: 0;
}

#continue {
  margin-top: 4px;
}

#form-upload > label {
  @include towardsBottomLeft(10px, 4px);
}

#form-publish .btn {
  margin-top: 5px;
}

.alert-file {
  min-width: 248px;
  min-height: 42px;
  .file-name { margin-right: 50px; }
}

.alert-file > .alert {
  padding: 10px;
  min-width: 200px;
  margin: 0;
}

.alert-file > .file-upload {
  @include size(48px, 42px);
}

.alert-file > .file-upload > .btn {
  height: 100%;
}

#continue {
  margin-left: 5px;
}

.continue-btn:disabled {
  opacity: 1;
}

.slug {
  @include fromBottomRight(0, 0);
  font-size: 11px;
  color: gray;
}

.table-members {
  border-bottom: 1px solid #ddd;
  .input-group { max-width: 35%; }
  tr > td:last-child { text-align: right; }
}

.table-members > tbody > tr > td {
  vertical-align: middle;
  position: relative;
}
