@import 'utils';

.reply-box textarea {
  @include size(100%, 150px);
  margin-bottom: 10px;
}

.reply-controls {
  width: 100%;
  display: table;
}

.reply-controls > * {
  display: table-cell;
}

.reply-controls > .forums {
  text-align: right;
  vertical-align: top;
}
