@import 'pallette';

.page-rendered, .page-edit textarea {
  min-height: 350px;
  border-radius: 4px;
  width: 100%;
}

.page-rendered {
  padding: 10px 20px 20px 20px;
  overflow: hidden;
  background-color: white;
  border: 1px solid $light;
  max-width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.page-rendered table tr > th {
  padding: 5px;
}

.page-rendered table tr:nth-child(2n) {
  background-color: #F5F5F5;
}

.page-rendered table tr > td, .page-rendered table tr > th {
  padding: 10px;
  border: 1px solid $lighter;
}

.page-rendered code {
  background-color: #F0F0F0;
  color: black;
}

.page-rendered h1, .page-rendered h2 {
  border-bottom: 1px solid $lighter;
  padding-bottom: 5px;
}

.page-rendered h1,
.page-rendered h2,
.page-rendered h3,
.page-rendered h4,
.page-rendered h5,
.page-rendered h6 {
  font-weight: bold;
}

.page-rendered img {
  max-width: 100%;
}

button.open:hover {
  background-color: white;
  cursor: default;
  border-color: $light;
}

.btn-page {
  border-radius: 4px 0 0 4px;
  padding: 6px;
  z-index: 1000;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -ms-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-page:focus {
  outline: none;
}

.btn-edit {
  position: absolute;
  margin-top: 20px;
  margin-left: -49px;
}

.btn-edit-container {
  position: absolute;
  overflow: hidden;
  z-index: -1000;
}

.btn-edit-container .btn {
  width: 35px;
}

.btn-preview-container { margin-top: 58px;  }
.btn-save-container    { margin-top: 96px;  }
.btn-cancel-container  { margin-top: 135px; }
.btn-delete-container  { margin-top: 175px; }

.btn-page-delete {
  color: #c12e2a;
}

.page-editor-tabs {
  margin-bottom: 15px;
  border: none;
}

.page-editor-tabs > li > a:hover {
  border-bottom: 1px solid #ddd;
}

.page-editor-tabs > li > a:hover,
.page-editor-tabs > li.active > a,
.page-editor-tabs > li.active > a:hover,
.page-editor-tabs > li > a:focus,
.page-editor-tabs > li.active > a:focus {
  background-color: transparent;
  outline: none;
}

.page-editor-tabs > li.active > a, .page-editor-tabs > li.active > a:hover,
.page-editor-tabs > li.active > a, .page-editor-tabs > li.active > a,
.page-editor-tabs > li.active > a, .page-editor-tabs > li.active > a:focus {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

.new-page {
  position: absolute;
  right: 34px;
  top: 14px;
}

.channel-reset {
  margin-top: -15px;
}
