@import 'admin';
@import 'creator';
@import 'discuss';
@import 'editor';
@import 'footer';
@import 'nav';
@import 'project';
@import 'user';
@import 'utils';

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $mainBackground;
  margin-bottom: 60px;
}

.index-header {
  @include padding-vert(20px, 20px);
}

.index-header .alert {
  @include margin-vert(20px, 0);
}

.logo {
  height: 40px;
}

form {
  @include margin-vert(10px, 10px);
}

.form-group {
  margin-bottom: 10px;
}

.tos {
  font-size: 11px;
  color: gray;
  margin-bottom: 5px;
}

.btn-more {
  width: 100%;
  background-color: #f5f5f5;
}

/* project content */

.project-table {
  background: repeating-linear-gradient(45deg, $lighter, $lighter 10px, #f5f5f5 10px, #f5f5f5 20px);
  table-layout: fixed;
  tr:not(.project-hidden) { background-color: white; }
  .name > i { font-size: 16px; }

  .author {
    width: 50px;
    text-align: right;
  }

  .stat {
    @include padding-horiz(0, 0);
    text-align: center;
    width: 41px;
  }

  th {
    color: gray;
    background-color: #f5f5f5;
  }
}

.project-table > thead > tr > th:first-child {
  width: 27px;
}

.project-table > tbody > tr > td {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
}

.project-panel .panel-footer {
  height: 34px;
}

.header-user {
  padding-right: 9px;
}

// category table

.select-sort {
  margin-bottom: 10px;
}

.category-select {
  margin-top: 10px;
}

.category-reset {
  margin-top: -15px;
  margin-right: -4px;
}

.category-table {
  tr.selected:hover { background: #f6d830; }
  tr.selected > td { padding-top: 8px; }
  tr > td:first-child {
    text-align: center;
    padding-right: 0;
  }

  tr:hover {
    cursor: pointer;
    background-color: $mainBackground;
  }

  tr.selected {
    @include box-shadow5(inset, 0, 0, 5px, #e6b800);
    background: #f6d830;
    border: none;
  }
}

.cat-icon {
  width: 10px;
  text-align: center;
}

.container-error {
  margin-top: 10%;
  text-align: center;
  img {
    display: block;
    margin: 0 auto;
  }
}
