@import 'admin';
@import 'creator';
@import 'discuss';
@import 'editor';
@import 'footer';
@import 'nav';
@import 'project';
@import 'user';
@import 'utils';

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $mainBackground;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.modal-body {
  width: 100%;
}

.index-header {
  padding-bottom: 24px;
}

.index-header .alert {
  margin-bottom: 20px;
}

.logo {
  height: 40px;
}

.sponsor-block {
  max-width: 100%;
}

.sponsor {
  float: right;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 10px;
    color: $sponge_dark_grey;
  }

  .logo {
    max-height: 50px;
    max-width: 100%;
    height: auto;
    z-index: 1;
  }
}

form {
  @include margin-vert(10px, 10px);
}

.form-group {
  margin-bottom: 10px;
}

.tos {
  font-size: 11px;
  color: gray;
  margin-bottom: 5px;
}

.btn-more {
  width: 100%;
  background-color: #f5f5f5;
}

/* project content */

.project-list {
  .list-group-item:not(.project-list-footer) {
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
  }

  .list-group-item.project-hidden {
    background: repeating-linear-gradient(45deg, $lighter, $lighter 10px, #f5f5f5 10px, #f5f5f5 20px);
  }

  .list-group-item.project-list-footer {
    padding: 0;
    .btn { border: none; }
  }

  .stat {
    margin-left: 10px;
    a { color: gray; }
    a:hover { color: darken(gray, 10%); }
  }

  .project-list-header {
    a {
      margin-top: 3px;
      margin-right: 15px;
    }
  }

  .project-title {
    strong { font-size: 24px; }
    strong, i {
      display: table-cell;
      vertical-align: middle;
    }
  }

}

// category table

.select-sort {
  margin-bottom: 10px;
}

.setting {
  @extend .minor;
  @extend .form-group;
  border-bottom: 1px solid $light;
  padding: 20px;
  position: relative;
  form { margin: 0; }
  .danger { color: #B34D4D; }

  h4 {
    font-weight: bold;
    margin-top: 0;
    i {
      font-weight: normal;
      font-size: 14px;
    }
  }

  .setting-content {
    width: 25%;
    height: 100%;
    float: right;
  }

  .setting-description {
    width: 60%;
    height: 100%;
    float: left;
  }

  .icon-description {
    position: absolute;
    bottom: 20px;
    right: 20px;
    p { margin-bottom: 110px; }
  }

  #btn-rename, .btn-delete {
    width: 100%;
  }

}

.setting-no-border {
  border: none;
  margin-bottom: 0;
}

.category-reset {
  margin-top: -15px;
  margin-right: -4px;
}

.category-table {
  tr {
    &:hover {
      cursor: pointer;
      background-color: $mainBackground;
    }

    > td {
      &:first-child {
        text-align: center;
        padding-right: 0;
      }

      border: none;
    }

    &.selected {
      box-shadow: inset -10px 0px 0px 0px $sponge_yellow;
    }
  }
}

.cat-icon {
  width: 10px;
  text-align: center;
}

.container-error {
  margin-top: 10%;
  text-align: center;
  img {
    display: block;
    margin: 0 auto;
  }
}


.btn {
  border-radius: 4px;

  &.dark {
    background: $sponge_dark_grey;
    border: 1px solid $sponge_light_gray;
  }
}

.panel .panel-heading {
  background: $sponge_grey;
  color: #ffffff;
  font-weight: 600;
  border: none;

  a, i {
    color: #ffffff;
  }

  .btn {
    color: $sponge_yellow;
    background: $sponge_grey;
    border: none;
    outline: none;
  }
}

.panel.panel-default {
  border: 1px solid $sponge_grey;
  border-radius: 4px;
}

.panel>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

select.form-control {
  border: 1px solid $sponge_grey;
  border-radius: 4px;

  &:focus {
    box-shadow: none;
    border: 1px solid $sponge_grey;
  }
}

