@import 'admin';
@import 'creator';
@import 'discuss';
@import 'editor';
@import 'footer';
@import 'nav';
@import 'project';
@import 'user';
@import 'utils';

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $mainBackground;
  margin-bottom: 60px;
}

.index-header {
  @include padding-vert(20px, 20px);
}

.index-header .alert {
  @include margin-vert(20px, 0);
}

.logo {
  height: 40px;
}

form {
  @include margin-vert(10px, 10px);
}

.form-group {
  margin-bottom: 10px;
}

.tos {
  font-size: 11px;
  color: gray;
  margin-bottom: 5px;
}

.btn-more {
  width: 100%;
  background-color: #f5f5f5;
}

/* project content */

.project-list {
  .list-group-item:not(.project-list-footer) {
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
  }

  .stat {
    margin-left: 10px;
    a { color: gray; }
    a:hover { color: darken(gray, 10%); }
  }

  .project-list-header {
    width: 60%;
    a {
      margin-top: 3px;
      margin-right: 15px;
    }
  }

  .list-group-item.project-list-footer {
    padding: 0;
    .btn { border: none; }
  }

  .project-title {
    strong { font-size: 24px; }
    strong, i {
      display: table-cell;
      vertical-align: middle;
    }
  }

}

// category table

.select-sort {
  margin-bottom: 10px;
}

.category-select {
  margin-top: 10px;
}

.category-reset {
  margin-top: -15px;
  margin-right: -4px;
}

.category-table {
  tr.selected:hover { background: #f6d830; }
  tr.selected > td { padding-top: 8px; }
  tr > td:first-child {
    text-align: center;
    padding-right: 0;
  }

  tr:hover {
    cursor: pointer;
    background-color: $mainBackground;
  }

  tr.selected {
    @include box-shadow5(inset, 0, 0, 5px, #e6b800);
    background: #f6d830;
    border: none;
  }
}

.cat-icon {
  width: 10px;
  text-align: center;
}

.container-error {
  margin-top: 10%;
  text-align: center;
  img {
    display: block;
    margin: 0 auto;
  }
}
