@import db.ModelService
@import db.impl.access.UserBase
@import forums.DiscourseApi
@import ore.{OreConfig, OreEnv}
@import views.html.helper.form
@()(implicit messages: Messages, session: Session, flash: Flash, request: RequestHeader, service: ModelService,
        forums: DiscourseApi, config: OreConfig, userBase: UserBase, env: OreEnv)

@bootstrap.layout(messages("org.create")) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/orgCreate.js")"></script>

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            @messages("org.create.title")
                        </h3>
                    </div>

                    <div class="project-body panel-body">
                        <p class="minor">
                            Organizations allow you group users provide closer collaboration between them within your
                            projects on Ore.
                        </p>

                        @form(action = routes.Organizations.create(), 'id -> "form-continue") {
                            <div class="setting">
                                <div class="setting-description">
                                    <h4>Organization name</h4>
                                </div>
                                <input name="name" type="text" class="input-name form-control" placeholder="SpongePowered"
                                       maxlength="20" />
                                <i class="fa fa-spinner fa-spin status-org-name" style="display: none;"></i>
                                <div class="clearfix"></div>
                            </div>
                        }

                        @users.invite.form(owner = userBase.current.get)

                        <button title="Continue" type="submit" name="create" form="form-continue"
                                value="@messages("org.create.continue")"
                                class="push-down pull-right continue-btn btn btn-primary" disabled>
                            Create
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
