<header id="ember734" class="ember-view d-header clearfix">
    <div class="wrap">
        <div class="contents clearfix">
            <div id="ember862" class="ember-view title">
                <a data-auto-route="true" href="/">
                    <img id="site-logo" class="logo-big" src="https://cdn.spongepowered.org/uploads/default/original/2X/7/77fa5f82289385db14561fac384ddea2a84a0070.png" alt="Sponge Forums">
                </a>
            </div>
            <div class="panel clearfix">
                <ul class="icons clearfix" role="navigation">
                    <li id="ember879" class="ember-view header-dropdown-toggle">
                        <a class="icon" data-ember-action="908" href="/search" title="search topics, posts, users, or categories" aria-label="search topics, posts, users, or categories" id="search-button">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li id="ember880" class="ember-view header-dropdown-toggle">
                        <a class="icon" data-ember-action="909" title="go to another topic list or category" aria-label="go to another topic list or category" id="toggle-hamburger-menu">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    @* TODO: User integration *@
                    <li id="ember910" class="ember-view current-user header-dropdown-toggle">
                        <a class="icon" data-ember-action="911" href="/users/windy" title="profile, messages, bookmarks and preferences" aria-label="profile, messages, bookmarks and preferences" id="current-user">
                            <img alt="" width="32" height="32" src="//forums-cdn.spongepowered.org/user_avatar/forums.spongepowered.org/windy/64/8440_1.png" class="avatar">
                        </a>
                    </li>
                </ul>
                <div id="ember889" class="ember-view user-menu"><div id="ember921" class="ember-view menu-panel hidden drop-down"></div></div>
                <div id="ember898" class="ember-view hamburger-panel"><div id="ember922" class="ember-view menu-panel hidden drop-down"></div></div>
                <div id="ember907" class="ember-view search-menu"><div id="ember923" class="ember-view menu-panel hidden drop-down"></div></div>
            </div>
        </div>
    </div>
</header>
