@*
The main entry point of Ore. This page displays a list of Projects that can be
sorted according to different criteria.
*@
@import controllers.sugar.Requests.OreRequest
@import db.ModelService
@import models.project.{Project, Tag, Version}
@import models.user.User
@import ore.Platforms.Platform
@import ore.project.Categories._
@import ore.project.ProjectSortingStrategies.{values, _}
@import ore.project.{Categories, ProjectSortingStrategies}
@import ore.{OreConfig, Platforms}
@import play.api.Configuration
@import security.NonceFilter._
@import views.html.utils.alert

@import scala.util.Random
@import ore.PlatformCategory
@(models: Seq[(Project, User, Version, Seq[Tag])], visibleCategories: Option[Seq[Category]], query: Option[String], page: Int,
        sort: ProjectSortingStrategy, platformCategory: Option[PlatformCategory], platform: Option[Platform])(implicit messages: Messages, flash: Flash,
        request: OreRequest[_], config: OreConfig)

@projectRoutes = @{controllers.project.routes.Projects}

@randomSponsor = @{
    val logos: Seq[Configuration] = config.sponge.get[Seq[Configuration]]("sponsors")

    val index = new Random().nextInt(logos.size)
    val logo = logos(index)

    (logo.get[String]("name"), logo.get[String]("image"), logo.get[String]("link"))
}

@categoryString = @{
    visibleCategories.map(_.map(_.id.toString).mkString(","))
}

@orderingOption = @{
    sort match {
        case ProjectSortingStrategies.Default => None
        case _ => Some(sort.id)
    }
}

@bootstrap.layout(messages("general.title")) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/home.js")"></script>
    <script nonce="@nonce">
    @if(visibleCategories.isDefined) {
    CATEGORY_STRING = "@visibleCategories.get.map(_.id).mkString(",")";
    }
    @if(!sort.equals(ProjectSortingStrategies.Default)) {
    SORT_STRING = "@sort.id";
    }
    @if(request.getQueryString("q").isDefined) {
    QUERY_STRING = "@request.getQueryString("q").get";
    }
    currentlyLoaded = @models.size;
    </script>

    <div class="container" style="margin-top: 63px; padding-top: 1.5rem">

        <!-- Header -->
        <div class="index-header">
            <div class="row">
                <div class="col-md-12">
                    @alert("success")
                    @alert("error")
                </div>
            </div>

            <div class="row centered-content-row">
                <div class="col-md-9 ore-banner">
                        <div class="row aligned-row">
                            <div class="col-xs-2 ore-logo">
                                <img src="@routes.Assets.at("images/ore-colored.svg")" />
                            </div>
                            <div class="col-xs-10 text">
                                <div class="headline">Ore</div>
                                <div>A Minecraft package repository</div>
                            </div>
                        </div>
                </div>
                <div class="col-md-3 sponsor">
                    <div class="panel sponsor-panel">
                        <span>Sponsored by</span>
                        <div class="panel-body">
                            @defining(randomSponsor) { sponsor =>
                                <a href="@sponsor._3">
                                    <img class="logo" src="@routes.Assets.at(sponsor._2)" />
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <div class="row project-content">
                <!-- Project table -->
            <div class="col-md-9">
                <div class="project-search input-group">
                    <input type="text" class="form-control" placeholder="Search in projects...">
                    <span class="input-group-btn">
                        <button class="btn yellow" type="button">Search</button>
                    </span>
                </div>

                @if(query.isDefined) {
                    <li class="list-group-item minor search-header">
                        <span class="pull-left">Showing results for: <i>@query</i></span>
                        <i class="fa fa-times pull-right dismiss"></i>
                        <div class="clearfix"></div>
                    </li>
                }

                @projects.list(
                    models = models,
                    page = page,
                    pageSize = config.projects.get[Int]("init-load"),
                    call = page => routes.Application.showHome(
                        categoryString, query, orderingOption, Some(page),
                        platformCategory.map(_.name) ,platform.map(_.name))
                )
            </div>

            <!-- Sidebar -->
            <div class="col-md-3">
                    <!-- Ordering selection -->
                <select class="form-control select-sort">
                    <option selected value="@sort.id">@sort.title</option>
                    @values.filterNot(_.equals(sort)).map { strategy =>
                        <option value="@strategy.id">@strategy.title</option>
                    }
                </select>

                <!-- Category table -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@messages("project.category.plural")</h3>
                        @if(visibleCategories.isDefined) {
                            <a href="@routes.Application.showHome(
                                None, None, None, None,
                                platformCategory.map(_.name),
                                platform.map(_.name))">
                                <i class="category-reset fa fa-times"></i>
                            </a>
                        }
                    </div>

                    <table class="table panel-body category-table">
                        <tbody>
                        @for(category <- Categories.visible) {
                            <tr data-id="@category.id" @if(visibleCategories.isDefined && visibleCategories.get.contains(category)) { class="selected"} >
                                <td><i class="fa @category.icon"></i></td>
                                <td>
                                    <strong>@category.title</strong>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

                <!-- Platform list -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@messages("general.platform")</h3>
                    </div>

                    <ul class="list-group">

                        <a href="@routes.Application.showHome(
                            categoryString,
                            query,
                            orderingOption,
                            Some(page),
                            None, None)"
                        class="list-group-item @if(platform.isEmpty && platformCategory.isEmpty) { active }">
                            <strong>@messages("general.any")</strong>
                        </a>

                        @for(pc <- PlatformCategory.getPlatformCategories) {
                            <a href="@routes.Application.showHome(
                                categoryString,
                                query,
                                orderingOption,
                                Some(page),
                                Some(pc.name),
                                None)"
                            class="list-group-item @if(platformCategory.map(_.name).getOrElse("") == pc.name) { active }">
                                <strong>@pc.name</strong>
                            </a>

                            @defining(pc.getPlatforms) { platforms =>
                                @if(platforms.size > 1) {
                                    @for(p <- platforms) {
                                        <a href="@routes.Application.showHome(
                                            categoryString,
                                            query,
                                            orderingOption,
                                            Some(page),
                                            None,
                                            Some(p.name))"
                                        class="list-group-item @if(platform.map(_.name).getOrElse("") == p.name) { active }">
                                            &nbsp;@p.name
                                        </a>
                                    }
                                }
                            }
                        }
                    </ul>
                </div>

            </div>
        </div>
    </div>
}
