@*
The main entry point of Ore. This page displays a list of Projects that can be
sorted according to different criteria.
*@
@import controllers.project.routes.{Projects => projectRoutes}
@import models.project.Project
@import models.user.User
@import ore.permission.ResetOre
@import ore.permission.scope.GlobalScope
@import ore.project.Categories
@import ore.project.Categories._
@import ore.project.ProjectSortingStrategies.{values, _}
@(models: Seq[Project], visibleCategories: Option[Array[Category]], sort: ProjectSortingStrategy)(implicit messages: Messages,
        session: Session, flash: Flash, request: RequestHeader)

@core.layout(messages("general.title")) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/home.js")"></script>
    <script>
        @if(visibleCategories.isDefined) {
            CATEGORY_STRING = "@visibleCategories.get.map(_.id).mkString(",")";
        }
        @if(!sort.equals(Default)) {
            SORT_STRING = "@sort.id";
        }
        @if(request.getQueryString("q").isDefined) {
            QUERY_STRING = "@request.getQueryString("q").get";
        }
        currentlyLoaded = @models.size;
    </script>

    <!-- Project row template -->
    <table style="display: none;">
        <tbody>
            <tr id="row-project">
                <td class="category"><i class="fa"></i></td>
                <td class="name">
                    <strong><a></a></strong>
                    <i class="minor"></i>
                </td>
                <td class="author"><a></a></td>
                <td class="views minor"></td>
                <td class="downloads minor"></td>
                <td class="stars minor"></td>
            </tr>
        </tbody>
    </table>

    <div class="container" style="margin-top: 60px ;">
        <!-- Header -->
        <div class="row index-header">
            <div class="col-md-12">
                @if(flash.get("success").isDefined) {
                    <div class="alert alert-fade alert-success alert-dismissable" role="alert" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="@messages("aria.close")">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @flash.get("success").get
                    </div>
                }

                @if(flash.get("error").isDefined) {
                    <div class="alert alert-fade alert-danger alert-dismissable" role="alert" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="@messages("aria.close")">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @flash.get("error").get
                    </div>
                }

                <!-- Buttons -->
                <div class="table-controls pull-right">
                    <a href="@projectRoutes.showCreator"
                       title="Submit a new project to Ore." data-toggle="tooltip"
                       data-placement="bottom" class="btn-create btn btn-primary">
                        <i class="fa fa-plus"></i> @messages("project.create")
                    </a>
                    @if(User.current.isDefined && (User.current.get can ResetOre in GlobalScope)) {
                        <a href="@routes.Application.reset" title="Reset Ore to factory settings" data-toggle="tooltip"
                           data-placement="bottom" class="btn btn-danger">Reset Ore</a>
                    }
                </div>
            </div>
        </div>

        <!-- Main content -->
        <div class="row project-content">
            <!-- Project table -->
            <div class="col-md-9">
                @projects.table(models, visibleCategories)
            </div>
            <div class="col-md-3">
                <select class="form-control select-sort">
                    <option selected value="@sort.id">@sort.title</option>
                    @values.filterNot(_.equals(sort)).map { strategy =>
                        <option value="@strategy.id">@strategy.title</option>
                    }
                </select>
                <!-- Category table -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@messages("project.category.plural")</h3>
                        @if(visibleCategories.isDefined) {
                            <a href="@routes.Application.showHome(None, None, None)">
                                <i class="pull-right category-reset fa fa-times"></i>
                            </a>
                        }
                    </div>
                    <table class="table panel-body category-table">
                        <tbody>
                        @for(i <- 0 until Categories.values.size) {
                            @defining(Categories(i)) { category =>
                                @if(category.isVisible) {
                                    <tr data-id="@category.id"
                                        @if(visibleCategories.isDefined && visibleCategories.get.contains(category)) {
                                            class="selected"
                                            }>
                                        <td>
                                            <i class="fa @category.icon"></i>
                                            <strong>@category.title</strong>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
