@*
User page for developers.
*@
@import controllers.project.{routes => projectRoutes}
@import models.project.member.Member
@import models.user.User
@import util.forums.SpongeForums
@import views.html.helper.form
@(user: User)(implicit messages: Messages, session: Session, flash: Flash, request: RequestHeader)

@isThisUser = @{
    User.current.isDefined && User.current.get.equals(user)
}

@core.layout(user.username) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/userPage.js")"></script>
    <script>USERNAME = '@user.username';</script>

    <div class="container" style="margin-top: 90px">

        @if(flash.get("error").isDefined) {
            <div class="alert alert-danger alert-dismissable" role="alert" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="@messages("aria.close")">
                    <span aria-hidden="true">&times;</span>
                </button>
                @flash.get("error").get
            </div>
        }

        <div class="user-header">
            <div class="header-body">
                <div class="pull-left user-badge">
                    <img title="@user.username" alt="@user.username" height="100" width="100"
                    class="user-avatar-lg" src="@SpongeForums.API.avatarUrl(user.username, 200)" />
                    <div class="user-title">
                        <h1>@user.username</h1>
                        <div class="user-tag">
                            <i class="minor">
                                @if(user.tagline.isDefined) {
                                    @user.tagline.get
                                } else { @if(isThisUser) {
                                    Add a tagline
                                }}
                            </i>

                            @if(isThisUser) {
                                <a href="#" data-toggle="modal" data-target="#modal-tagline"><i class="fa fa-edit"></i></a>
                            }
                        </div>
                        <div class="modal fade" id="modal-tagline" tabindex="-1" role="dialog" aria-labelledby="label-tagline">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="@messages("aria.cancel")">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">@messages("user.tagline.edit")</h4>
                                    </div>
                                    @form(action = routes.Application.saveTagline(user.username)) {
                                        <div class="modal-body">
                                            <label for="tagline">Tagline</label>
                                            <input class="form-control" type="text" value="@user.tagline.getOrElse("")" id="tagline"
                                                   name="tagline" maxlength="@User.MaxTaglineLength" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                @messages("aria.close")
                                            </button>
                                            <input type="submit" value="@messages("aria.save")" class="btn btn-primary" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <ul class="user-roles">
                        @user.globalRoleTypes.map { role =>
                          <li class="user-role channel" style="background-color: @role.color.hex;">@role.title</li>
                        }
                    </ul>
                    <div class="user-info">
                        <i class="minor">@Member(user.username).projects.size projects</i><br/>
                        <i class="minor">A member since @user.prettyDate</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                @projects.table(Member(user.username).projects)
            </div>
            <div class="col-md-4">
                <div class="panel-stars panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-star"></i> @messages("project.starred")</h3>
                    </div>
                    <table class="table panel-body">
                        <tbody>
                            @defining(user.starred(1)) { stars =>
                              @if(stars.isEmpty) {
                                  <tr><td><i class="minor">@messages("user.no-stars", user.username)</i></td></tr>
                              } else {
                                  @stars.map { star =>
                                      <tr>
                                          <td>
                                              <a href="@projectRoutes.Projects.show(star.ownerName, star.name)" class="pull-left">
                                                  @star.ownerName/<strong>@star.slug</strong>
                                              </a>
                                              <div class="pull-right">
                                                  <span class="minor">@star.recommendedVersion.versionString</span>
                                                  <i title="@star.category.title" class="fa @star.category.icon"></i>
                                              </div>
                                          </td>
                                      </tr>
                                  }
                              }
                            }
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <a class="pull-left" href="#">See all</a>
                        <div class="pull-right">
                            <a class="prev" href="#" style="display: none;">&laquo;</a>
                            <a class="next" href="#" >&raquo;</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
