@import controllers.sugar.Requests.OreRequest
@import db.ModelService
@import models.project.{Flag, Project}
@import models.user.User
@import ore.OreConfig
@import ore.permission.Permission
@import views.html.utils.userAvatar

@* project perms for all visibilities *@
@(flags: Seq[(Flag, User, Project, Map[Permission, Boolean])])(implicit messages: Messages, request: OreRequest[_], config: OreConfig)

@projectRoutes = @{controllers.project.routes.Projects}

@bootstrap.layout("Flags") {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/flags.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/hideProject.js")"></script>

    <div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col-md-12 header-flags">
                <h2>Flags</h2>
                <h3 class="minor no-flags" @if(flags.nonEmpty) { style="display: none;" }>
                    <i class="fa fa-thumbs-o-up"></i> @messages("user.flags.none")
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group list-flags-admin">
                    @flags.map { case (flag, user, project, projectPerm) =>
                        <li data-flag-id="@flag.id.value" class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12 col-md-1" style="width: 40px;">
                                    <a href="@routes.Users.showProjects(user.username, None)">
                                        @userAvatar(Some(user.name), user.avatarUrl, clazz = "user-avatar-xs")
                                    </a>
                                </div>
                                <div class="col-xs-12 col-md-5">
                                    <span class="description">
                                        <strong>@user.username</strong>
                                        <span class="minor"> reported </span>
                                        <a href="@projectRoutes.show(project.ownerName, project.slug)">
                                            @project.ownerName/<strong>@project.slug</strong>
                                        </a>
                                        <span class="minor"> for </span>
                                        <strong>@flag.reason.title</strong>
                                        @if(flag.comment != null) {
                                            <br><i class="minor">@flag.comment</i>
                                        }
                                    </span>
                                </div>
                                <div class="col-xs-12">
                                    <span class="pull-right btn-group-sm">
                                        <a target="_blank" rel="noopener" href="https://forums.spongepowered.org/users/@user.username" class="btn btn-default">
                                            <i class="fa fa-reply"></i> @messages("user.flags.messageUser")
                                        </a>
                                        <a target="_blank" rel="noopener" href="https://forums.spongepowered.org/users/@project.ownerName" class="btn btn-default">
                                            <i class="fa fa-reply"></i> @messages("user.flags.messageOwner")
                                        </a>
                                        @projects.helper.btnHide(project, projectPerm, request.data.currentUser.get)
                                        <button type="submit" class="btn btn-primary btn-resolve">
                                            <i class="fa fa-check"></i> <strong>@messages("user.flags.markResolved")</strong>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-visibility-needschanges" tabindex="-1" role="dialog" aria-labelledby="modal-visibility-needschanges">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="@messages("general.close")">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Needs Changes</h4>
                </div>
                <div class="modal-body">
                    <textarea class="textarea-needschanges form-control" rows="3"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">@messages("general.close")</button>
                    <button class="btn btn-visibility-needschanges-submit btn-primary"><i class="fa fa-pencil"></i> Submit</button>
                </div>
            </div>
        </div>
    </div>
}
