@import db.ModelService
@import db.impl.OrePostgresDriver.api._
@import ore.OreConfig
@import db.impl.access.UserBase
@import db.impl.access.ProjectBase
@import models.project.Project
@import models.project.VisibilityTypes
@()(implicit messages: Messages, request: Request[_], service: ModelService, config: OreConfig, users: UserBase,
        projects: ProjectBase)

@projectRoutes = @{controllers.project.routes.Projects}
@versionRoutes = @{controllers.project.routes.Versions}

@bootstrap.layout(messages("admin.health.title")) {

    <div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col-md-12">
                <h1>@messages("admin.health.title")</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">@messages("admin.health.discuss")</h4>
                    </div>
                    <div class="panel-body list-group list-group-health">
                        @projects.filter(p => p.topicId === -1 || p.postId === -1).map { project =>
                          <div class="list-group-item">
                              <a class="pull-left" href="@projectRoutes.show(project.ownerName, project.slug)">
                                  <strong>@project.namespace</strong>
                              </a>
                              <a class="pull-right" href="@projectRoutes.showLog(project.ownerName, project.slug)">
                                  <i class="fa fa-book"></i>
                              </a>
                              <div class="clearfix"></div>
                          </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">@messages("admin.health.topic")</h4>
                    </div>
                    <div class="panel-body list-group list-group-health">
                    @projects.filter(_.isTopicDirty).map { project =>
                        <div class="list-group-item">
                            <a class="pull-left" href="@projectRoutes.show(project.ownerName, project.slug)">
                                <strong>@project.namespace</strong>
                            </a>
                            <a class="pull-right" href="@projectRoutes.showLog(project.ownerName, project.slug)">
                                <i class="fa fa-book"></i>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">@messages("admin.health.stale")</h4>
                    </div>
                    <div class="panel-body list-group list-group-health">
                        @projects.stale.map { project =>
                          <div class="list-group-item">
                              <a href="@projectRoutes.show(project.ownerName, project.slug)">
                                  <strong>@project.namespace</strong>
                              </a>
                          </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">@messages("admin.health.hidden")</h4>
                    </div>
                    <div class="panel-body list-group list-group-health">
                    @projects.filterNot(_.visibility === VisibilityTypes.Public).map { project =>
                        <div class="list-group-item">
                            <a href="@projectRoutes.show(project.ownerName, project.slug)">
                                <strong>@project.namespace</strong> <small>@messages("visibility.name." + project.visibility.nameKey)</small>
                            </a>
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">@messages("admin.health.platform")</h4>
                    </div>
                    <div class="panel-body list-group list-group-health">
                        <div>TODO: Filters?</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">@messages("admin.health.missingFile")</h4>
                    </div>
                    <div class="panel-body list-group list-group-health">
                        @projects.missingFile.map { version =>
                          <div class="list-group-item">
                              @defining(version.project) { project: Project =>
                                  <a href="@versionRoutes.show(project.ownerName, project.slug, version.name)">
                                      <strong>@project.namespace/@version.name</strong>
                                  </a>
                              }
                          </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}
