@import db.ModelService
@import db.impl.OrePostgresDriver.api._
@import db.impl.access.{ProjectBase, UserBase}
@import models.project.Project
@import ore.OreConfig
@(models: Seq[Project],
  page: Int = 1,
  pageSize: Int = 10,
  total: Int)(implicit messages: Messages, request: Request[_], service: ModelService, config: OreConfig,
        users: UserBase, projects: ProjectBase)

@versionRoutes = @{
    controllers.project.routes.Versions
}

@firstReview(project: Project) = @{
    project.reviews.sorted(ordering = _.createdAt.desc, limit = 1).head
}

@bootstrap.layout(messages("user.queue")) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/queue.js")"></script>

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-12 header-flags">
                <h2>@messages("user.queue")</h2>
                <h3 class="minor no-versions" @if(models.nonEmpty) { style="display: none;" }>
                    <i class="fa fa-thumbs-o-up"></i> @messages("user.queue.none")
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group list-versions project-list">
                    @utils.pager(page, pageSize, total, page => routes.Application.showQueue(Some(page)))
                    @models.map { project =>
                        <li class="list-group-item">
                            <div class="project-list-header">
                                @utils.userAvatar(
                                    user = project.owner,
                                    clazz = "user-avatar-sm pull-left")

                                <span class="project-title">
                                    <strong>
                                        <a href="#">@project.name</a>
                                    </strong>
                                    <a href="#"><i class="fa fa-chevron-right review-expand"></i></a>
                                    <div class="project-description minor">
                                        @messages("admin.queue.pending", project.versions.filterNot(_.isReviewed).size)
                                    </div>
                                </span>
                            </div>

                            <div class="review-drawer">
                                @defining(firstReview(project)) { review =>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <h4>@review.version.name</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-2 side-panel">
                                        <div class="row">
                                            <h5 class="minor">@messages("admin.queue.assignee")</h5>
                                        </div>
                                        <div class="row">
                                            <h5 class="minor">@messages("admin.queue.status")</h5>
                                        </div>
                                        <div class="row">
                                            <a href="#" class="btn btn-primary btn-resolve">
                                                <i class="fa fa-check"></i> @messages("admin.queue.resolve")
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </li>
                    }
                    @utils.pager(page, pageSize, total, page => routes.Application.showQueue(Some(page)))
                </ul>
            </div>
        </div>
    </div>

}
