@import db.ModelService
@import db.impl.access.UserBase
@import ore.OreConfig
@import _root_.util.StringUtils._
@import models.project.Project
@import models.project.Version
@(versions: Seq[(Project, Version)])(implicit messages: Messages, request: Request[_], service: ModelService,
        config: OreConfig, users: UserBase)

@versionRoutes = @{controllers.project.routes.Versions}

@bootstrap.layout(messages("user.queue")) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/queue.js")"></script>

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-12 header-flags">
                <h2>@messages("user.queue")</h2>
                <h3 class="minor no-versions" @if(versions.nonEmpty) { style="display: none;" }>
                    <i class="fa fa-thumbs-o-up"></i> @messages("user.queue.none")
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group list-versions">
                    @versions.sortWith(_._2.createdAt.get.getTime < _._2.createdAt.get.getTime).map { tuple =>
                        <li class="list-group-item"
                            data-version="@tuple._1.ownerName/@tuple._1.slug/versions/@tuple._2.name">
                            @utils.userAvatar(tuple._1.owner.user, clazz = "user-avatar-xs")
                            <a href="@versionRoutes.show(tuple._1.ownerName, tuple._1.slug, tuple._2.name)">
                                @tuple._1.ownerName/<strong>@tuple._1.name</strong>
                            </a>
                            <span class="pull-right">
                                <span class="faint">@prettifyDate(tuple._2.createdAt.get)</span>
                                <span class="minor">@tuple._2.versionString</span>
                                @defining(tuple._2.channel) { channel =>
                                    <span class="channel" style="background-color: @channel.color.hex;">@channel.name</span>
                                }
                                <span class="btn-group-sm">
                                    <a href="https://forums.spongepowered.org/users/@tuple._1.ownerName"
                                       class="btn btn-default">
                                        <i class="fa fa-reply"></i> @messages("user.flags.messageOwner")
                                    </a>
                                    <button class="btn btn-approve btn-success">
                                        <i class="fa fa-thumbs-up"></i> @messages("user.queue.approve")
                                    </button>
                                </span>
                            </span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

}
