@import _root_.util.StringUtils._
@import db.ModelService
@import models.project.{Project, Version}
@import ore.OreConfig
@import security.NonceFilter._

@import play.api.Configuration
@import views.html.utils.userAvatar
@import models.admin.Review
@import models.project.Channel
@import models.user.User
@import controllers.sugar.Requests.OreRequest

@(underReview: Seq[(Project, Version, Channel, Option[String], (Review, Boolean, String))],
  versions: Seq[(Project, Version, Channel, Option[String], User)])(implicit messages: Messages, request: OreRequest[_], config: OreConfig)

@import java.sql.Timestamp
@import java.time.Instant
@versionRoutes = @{controllers.project.routes.Versions}

@bootstrap.layout(messages("user.queue")) {
    <script nonce="@nonce" type="text/javascript" src="@routes.Assets.at("javascripts/queue.js")"></script>

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-12 header-flags">
                <h2>@messages("user.queue.progress")</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left">@messages("user.queue.progress")</h4>
                        <div class="clearfix"></div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Project version</th>
                                <th>Queued by</th>
                                <th style="text-align: right; max-width: 40px"></th>
                                <th>Status</th>
                                <th ></th>
                            </tr>
                        </thead>
                        <tbody>
                        @if(underReview.isEmpty) {
                            <tr>
                                <th rowspan="5">
                                    <h3>@messages("queue.review.none")</h3>
                                </th>
                            </tr>
                        }
                        @underReview.map { case (project, version, channel, author, (review, unfinishedReview, reviewer)) =>
                            <tr @if(unfinishedReview && request.data.isCurrentUser(review.userId)){ class="warning" }>
                                <td>
                                    <a href="@versionRoutes.show(project.ownerName, project.slug, version.name)">
                                        @project.ownerName/<string>@project.name</string>
                                    </a>
                                    <br>
                                    @version.versionString
                                    <span class="channel" style="background-color: @channel.color.hex">@channel.name</span>
                                </td>
                                <td>
                                    @if(author.isDefined) {
                                        <a href="https://forums.spongepowered.org/users/@project.ownerName">
                                        @author.get
                                        </a>
                                    } else {
                                        Unknown
                                    }
                                    <br>
                                    @prettifyDateAndTime(version.createdAt.value)
                                </td>
                                <td style="text-align: right; max-width: 40px">
                                @if(unfinishedReview) {
                                    @if(request.data.isCurrentUser(review.userId)) {
                                        <i class="status fa fa-fw fa-play-circle fa-2x" style="color: green"></i>
                                    } else {
                                        <i class="status fa fa-fw fa-cog fa-2x" style="color: black"></i>
                                    }
                                } else {
                                    <i class="status fa fa-fw fa-pause-circle fa-2x" style="color: orange"></i>
                                }
                                </td>
                                <td @if(!unfinishedReview){ style="color: darkred" }>
                                @if(unfinishedReview) {
                                    @reviewer
                                    <br>
                                    <span data-ago="@review.createdAt.value.getTime" data-title="started "></span>
                                } else {
                                    <strike>@reviewer</strike>
                                    <br>
                                    <span data-ago="@review.createdAt.value.getTime" data-title="abandoned "></span>
                                }
                                </td>
                                <td style="vertical-align: middle; text-align: right; padding-right: 15px;">
                                    <a href="/@helper.urlEncode(project.ownerName)/@helper.urlEncode(project.slug)/versions/@helper.urlEncode(version.name)/reviews"><i class="fa fa-2x fa-fw fa-info"></i></a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 header-flags">
                <h2>@messages("user.queue.open")</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left">@messages("user.queue.open")</h4>
                        <div class="clearfix"></div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Project</th>
                                <th>Version</th>
                                <th>Queued by</th>
                                <th style="text-align: right">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if(versions.isEmpty) {
                            <tr>
                                <th rowspan="5">
                                    <h3><i class="fa fa-thumbs-o-up"></i> @messages("user.queue.none")</h3>
                                </th>
                            </tr>
                        }
                        @versions.sortWith(_._2.createdAt.value.getTime < _._2.createdAt.value.getTime).map { case (project, version, channel, author, projectOwner) =>
                            <tr data-version="@helper.urlEncode(project.ownerName)/@helper.urlEncode(project.slug)/versions/@helper.urlEncode(version.name)">
                                <td>
                                    @userAvatar(Some(projectOwner.name), projectOwner.avatarUrl, clazz = "user-avatar-xs")
                                </td>
                                <td>
                                    <a href="@versionRoutes.show(project.ownerName, project.slug, version.name)">
                                        @project.ownerName/<strong>@project.name</strong>
                                    </a>
                                </td>
                                <td>
                                    <span class="faint">@prettifyDate(version.createdAt.value)</span>
                                    <span class="minor">@version.versionString</span>
                                    <span class="channel" style="background-color: @channel.color.hex;">@channel.name</span>
                                </td>
                                <td>
                                    @if(author.isDefined) {
                                        <a href="https://forums.spongepowered.org/users/@project.ownerName">
                                        @author.get
                                        </a>
                                    }
                                <br>
                                <td style="vertical-align: middle; text-align: right">
                                    <a class="btn btn-success" href="/@helper.urlEncode(project.ownerName)/@helper.urlEncode(project.slug)/versions/@helper.urlEncode(version.name)/reviews">Start review</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <script nonce="@nonce">
        $(function(){
            var momentNow = moment();
            var maxDifference = @config.ore.get[Configuration]("queue").getOptional[Int]("max-review-time").getOrElse(86400000);
            $('span[data-ago]').each(function() {
                var momentAgo = moment($(this).data('ago'))
                $(this).text($(this).data('title') + momentAgo.fromNow());
                if (momentNow.diff(momentAgo) >= maxDifference) {
                    $(this).text('pastdue ' + momentAgo.fromNow()).css('color', 'darkred');
                    $(this).parent().parent().find('.status').removeClass().addClass('status fa fa-fw fa-clock-o fa-2x').css('color', 'darkred');
                }
            });
        });
    </script>
}
