@import play.api.libs.json.Json

@import controllers.sugar.Requests.OreRequest
@import ore.OreConfig
@import security.NonceFilter._
@import models.querymodels.Stats
@(stats: List[Stats])(implicit messages: Messages,
        request: OreRequest[_], config: OreConfig, flash: Flash)

@scripts = {
    <script nonce="@nonce" type="text/javascript" src="@routes.Assets.versioned("lib/chart.js/dist/Chart.min.js")"></script>
    <script nonce="@nonce">
            $(function(){
                var domChartReview = document.getElementById("chart-reviews");
                var chartReviews = new Chart(domChartReview, {
                    responsive: true,
                    type: 'line',
                    data: {
                        labels: @Html(Json.stringify(Json.toJson(stats.map(_.day.toString)))),
                        datasets: [{
                            label: "Reviews",
                            backgroundColor: "cornflowerblue",
                            borderColor: "dodgerblue",
                            fill: false,
                            data: @Html(Json.stringify(Json.toJson(stats.map(_.reviews))))
                        }, {
                            label: "Uploads",
                            backgroundColor: "lightseagreen",
                            borderColor: "darkseagreen",
                            fill: false,
                            data: @Html(Json.stringify(Json.toJson(stats.map(_.uploads))))
                        }]
                    },
                    options: {
                        title: {
                            text: "Reviews"
                        }
                    }
                });

                var domChartDownload = document.getElementById("chart-downloads");
                var chartDownloads = new Chart(domChartDownload, {
                    responsive: true,
                    type: 'line',
                    data: {
                        labels: @Html(Json.stringify(Json.toJson(stats.map(_.day.toString)))),
                        datasets: [{
                            label: "Total Downloads",
                            backgroundColor: "cornflowerblue",
                            borderColor: "dodgerblue",
                            fill: false,
                            data: @Html(Json.stringify(Json.toJson(stats.map(_.totalDownloads))))
                        }, {
                            label: "Unsafe Downloads",
                            backgroundColor: "lightseagreen",
                            borderColor: "darkseagreen",
                            fill: false,
                            data: @Html(Json.stringify(Json.toJson(stats.map(_.unsafeDownloads))))
                        }]
                    },
                    options: {
                        title: {
                            text: "Downloads"
                        }
                    }
                });

                var domChartFlags = document.getElementById("chart-flags");
                var chartFlags = new Chart(domChartFlags, {
                    responsive: true,
                    type: 'line',
                    data: {
                        labels: @Html(Json.stringify(Json.toJson(stats.map(_.day.toString)))),
                        datasets: [{
                            label: "Open flags",
                            backgroundColor: "cornflowerblue",
                            borderColor: "dodgerblue",
                            fill: false,
                            data: @Html(Json.stringify(Json.toJson(stats.map(_.flagsOpened))))
                        }, {
                            label: "Closed flags",
                            backgroundColor: "lightseagreen",
                            borderColor: "darkseagreen",
                            fill: false,
                            data: @Html(Json.stringify(Json.toJson(stats.map(_.flagsClosed))))
                        }]
                    },
                    options: {
                        title: {
                            text: "Flags"
                        }
                    }
                });
            });
    </script>
}

@bootstrap.layout("Stats", scripts) {
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title pull-left">Plugins</h4>
                    <div class="clearfix"></div>
                </div>
                <canvas id="chart-reviews" height="40vh" width="100%"></canvas>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title pull-left">Downloads</h4>
                    <div class="clearfix"></div>
                </div>
                <canvas id="chart-downloads" height="40vh" width="100%"></canvas>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title pull-left">Flags</h4>
                    <div class="clearfix"></div>
                </div>
                <canvas id="chart-flags" height="40vh" width="100%"></canvas>
            </div>
        </div>
    </div>
}
