@import play.api.libs.json.Json

@import controllers.sugar.Requests.OreRequest
@import ore.OreConfig
@import security.NonceFilter._
@(reviews: Seq[(String, String)], uploads: Seq[(String, String)], totalDownloads: Seq[(String, String)],
        unsafeDownloads: Seq[(String, String)], flagsOpen: Seq[(String, String)], flagsClosed: Seq[(String, String)])(implicit messages: Messages,
        request: OreRequest[_], config: OreConfig)

@bootstrap.layout("Stats") {
    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left">Plugins</h4>
                        <div class="clearfix"></div>
                    </div>
                    <canvas id="chart-reviews" height="40vh" width="100%"></canvas>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left">Downloads</h4>
                        <div class="clearfix"></div>
                    </div>
                    <canvas id="chart-downloads" height="40vh" width="100%"></canvas>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left">Flags</h4>
                        <div class="clearfix"></div>
                    </div>
                    <canvas id="chart-flags" height="40vh" width="100%"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script nonce="@nonce" type="text/javascript" src="@routes.Assets.at("lib/chart.js/dist/Chart.min.js")"></script>
    <script nonce="@nonce">
            $(function(){
                var domChartReview = document.getElementById("chart-reviews");
                var chartReviews = new Chart(domChartReview, {
                    responsive: true,
                    type: 'line',
                    data: {
                        labels: @Html(Json.stringify(Json.toJson(reviews.map(_._2).toList))),
                        datasets: [{
                            label: "Reviews",
                            backgroundColor: "cornflowerblue",
                            borderColor: "dodgerblue",
                            fill: false,
                            data: @Html(Json.stringify(Json.toJson(reviews.map(_._1).toList)))
                        }, {
                            label: "Uploads",
                            backgroundColor: "lightseagreen",
                            borderColor: "darkseagreen",
                            fill: false,
                            data: @Html(Json.stringify(Json.toJson(uploads.map(_._1).toList)))
                        }]
                    },
                    options: {
                        title: {
                            text: "Reviews"
                        }
                    }
                });

                var domChartDownload = document.getElementById("chart-downloads");
                var chartDownloads = new Chart(domChartDownload, {
                    responsive: true,
                    type: 'line',
                    data: {
                        labels: @Html(Json.stringify(Json.toJson(totalDownloads.map(_._2).toList))),
                        datasets: [{
                            label: "Total Downloads",
                            backgroundColor: "cornflowerblue",
                            borderColor: "dodgerblue",
                            fill: false,
                            data: @Html(Json.stringify(Json.toJson(totalDownloads.map(_._1).toList)))
                        }, {
                            label: "Unsafe Downloads",
                            backgroundColor: "lightseagreen",
                            borderColor: "darkseagreen",
                            fill: false,
                            data: @Html(Json.stringify(Json.toJson(unsafeDownloads.map(_._1).toList)))
                        }]
                    },
                    options: {
                        title: {
                            text: "Downloads"
                        }
                    }
                });

                var domChartFlags = document.getElementById("chart-flags");
                var chartFlags = new Chart(domChartFlags, {
                    responsive: true,
                    type: 'line',
                    data: {
                        labels: @Html(Json.stringify(Json.toJson(flagsClosed.map(_._2).toList))),
                        datasets: [{
                            label: "Open flags",
                            backgroundColor: "cornflowerblue",
                            borderColor: "dodgerblue",
                            fill: false,
                            data: @Html(Json.stringify(Json.toJson(flagsOpen.map(_._1).toList)))
                        }, {
                            label: "Closed flags",
                            backgroundColor: "lightseagreen",
                            borderColor: "darkseagreen",
                            fill: false,
                            data: @Html(Json.stringify(Json.toJson(flagsClosed.map(_._1).toList)))
                        }]
                    },
                    options: {
                        title: {
                            text: "Flags"
                        }
                    }
                });
            });
    </script>
}
