@import controllers.sugar.Requests.OreRequest
@import db.ModelService
@import models.project.Project
@import models.user.{Organization, User}
@import models.user.role.{OrganizationRole, ProjectRole, RoleModel}
@import models.viewhelper.{OrganizationData, UserData}
@import ore.OreConfig
@import ore.permission.role.{GlobalRole, RoleType}
@(user: UserData, orga: Option[OrganizationData], userProjectRoles: Seq[(Project, ProjectRole)])(implicit messages: Messages, request: OreRequest[_], config: OreConfig)

@prefix = @{"Edit " + (if(user.isOrga) "Organization" else "User") + ": "}

@orgRoles = @{RoleType.values.filter(r => r.roleClass == classOf[OrganizationRole] && (r.isAssignable || r == RoleType.OrganizationOwner))}
@projectRoles = @{RoleType.values.filter(r => r.roleClass == classOf[ProjectRole] && (r.isAssignable || r == RoleType.ProjectOwner))}
@globalRoles = @{RoleType.values.filter(r => r.roleClass == classOf[GlobalRole] && r.isAssignable)}

@panel(title: String, size: Int = 12)(content: Html) = {
    <div class="col-md-@size">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">@title</h4>
            </div>
            @content
        </div>
    </div>
}

@roleTable[T, M <: RoleModel](keyName: String, tableType: String, withOwner: Boolean, roles: Set[(T, M, String)], roleTypes: IndexedSeq[RoleType])(showKey: (T, M) => Html) = {
    <table class="table role-table">
        <tr><th>@keyName</th>@if(withOwner) {<th>Owner</th>}<th>Role</th><th>Accepted</th></tr>
        @roles.map { case (t, role, owner) =>
        <tr data-role-type="@tableType" data-role-id="@role.id">
            <td>@showKey(t, role)</td>
            @if(withOwner) {
                <td><a href="@routes.Application.userAdmin(owner)">@{owner}</a></td>
            }
            @if(!role.roleType.isAssignable) {
                <td colspan="3">
                @role.roleType.title
                </td>
            } else {
                <td><select class="select-role">
                @for(roleType <- roleTypes) {
                    <option value="@roleType.forumRoleId" @if(role.roleType == roleType) {selected}
                    @if(roleType == RoleType.ProjectOwner || roleType == RoleType.OrganizationOwner) {data-refresh="true"}>@roleType.title</option>
                }
                </select></td>
                <td><input type="checkbox" class="role-accepted" @if(role.isAccepted) {checked}></td>
                <td><a href="#" class="delete-role"><i class="fa fa-trash"></i></a></td>
            }
        </tr>
        }
    </table>
}

@bootstrap.layout(prefix + user.user.username) {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/userAdmin.js")"></script>

    <div class="container" style="margin-top: 90px;">
        <div class="row">
            <div class="col-md-12">
                <h1>@prefix<a href="@routes.Users.showProjects(user.user.username, None)">@user.user.username</a></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">

                <div class="row">
                @if(!user.isOrga) {
                    @panel("Organizations") {
                        @roleTable[Organization, OrganizationRole]("Organization", "orgRole", withOwner = true, user.orgas.map(t => (t._1, t._3, t._4.username)).toSet, orgRoles) { (org, role) =>
                            <a href="@routes.Application.userAdmin(org.username)">
                            @org.username
                            </a>
                        }
                    }
                } else {
                    @panel("Members") {
                        @roleTable[User, OrganizationRole]("User", "memberRole", withOwner = false, orga.get.members.map(t => (t._2, t._1, null)).toSet, orgRoles) { (user, role) =>
                            <a href="@routes.Application.userAdmin(user.username)">
                            @user.username
                            </a>
                        }
                    }
                }
                </div>
                @if(!user.isOrga) {
                    <div class="row">
                    @panel("Projects") {
                        @roleTable[Project, ProjectRole]("Project", "projectRole", withOwner = true, userProjectRoles.map(t => (t._1, t._2, t._1.ownerName)).toSet, projectRoles) { (project, role) =>
                            <a href="@controllers.project.routes.Projects.show(project.ownerName, project.slug)">
                            @project.name
                            </a>
                        }
                    }
                    </div>
                }
            </div>

            @panel("Other Administration", size=3) {
                <div class="list-group">
                    <div class="list-group-item">
                        <a href="@config.security.get[String]("api.url")/admin/accounts/user/@user.user.id/change/">SpongeAuth Profile</a>
                    </div>
                    <div class="list-group-item">
                        <a href="https://forums.spongepowered.org/users/@user.user.username">Forum Profile</a>
                    </div>
                </div>
            }

        </div>
    </div>

}
