@import controllers.sugar.Requests.OreRequest
@import db.ModelService
@import models.admin.ProjectVisibilityChange
@import models.project.Project
@import ore.OreConfig
@* visChange1 is lastChangeRequest users.get(lastChangeRequest.get.createdBy.getOrElse(1)).map(_.username) *@
@* visChange2 is users.get(project.lastVisibilityChange.get.createdBy.getOrElse(1)).map(_.username) *@
@* visChange4 is users.get(lastVisibilityChange.get.createdBy.getOrElse(1)).map(_.username) *@
@import ore.permission.Permission
@(needsApproval: Seq[(Project, Map[Permission, Boolean], Option[ProjectVisibilityChange], String, Option[ProjectVisibilityChange], String)],
 waitingProjects: Seq[(Project, Option[ProjectVisibilityChange], Option[ProjectVisibilityChange], String)])(implicit messages: Messages, request: OreRequest[_], config: OreConfig)

@projectRoutes = @{controllers.project.routes.Projects}

@bootstrap.layout("Project Visibility") {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/hideProject.js")"></script>

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-12 header-flags">
                <h2>Needs Approval</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left">Needs Approval</h4>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="list-group list-flags-admin">
                        @if(needsApproval.isEmpty) {
                            <li class="list-group-item">
                                <p>No projects found.</p>
                            </li>
                        }
                        @needsApproval.map { case (project, projectPerms, lastChangeRequest, lastChangeRequester, lastVisibilityChange, lastVisibilityChanger) =>
                            <li data-flag-id="@project.id.value" class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-12 col-md-8">
                                        @if(lastChangeRequest.isDefined) {
                                            <span class="description">
                                                <strong>@lastChangeRequester</strong>
                                                <span class="minor"> requested changes on </span>
                                                <a href="@projectRoutes.show(project.ownerName, project.slug)">
                                                    @project.ownerName/<strong>@project.slug</strong>
                                                </a>
                                            </span>
                                            <p>
                                                <strong>Requests:</strong>
                                                @lastChangeRequest.get.renderComment()
                                            </p>
                                        } else {
                                            <span class="description">
                                                @if(lastVisibilityChange.isDefined) {
                                                    <strong>@lastVisibilityChanger</strong>
                                                } else {
                                                    <strong>Unknown</strong>
                                                }
                                                <span class="minor"> requested changes on </span>
                                                <a href="@projectRoutes.show(project.ownerName, project.slug)">
                                                    @project.ownerName/<strong>@project.slug</strong>
                                                </a>
                                            </span>
                                            <p>
                                                <strong>No requests specified</strong>
                                            </p>
                                        }
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <span class="pull-right btn-group-sm">
                                        @projects.helper.btnHide(project, projectPerms, request.data.currentUser.get)
                                        </span>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 header-flags">
                <h2>Wating Changes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left">Waiting Changes</h4>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="list-group list-flags-admin">
                        @if(waitingProjects.isEmpty) {
                            <li class="list-group-item">
                                <p>No projects found.</p>
                            </li>
                        }
                        @waitingProjects.map { case (project, lastChangeRequest, lastVisibilityChange, lastVisibilityChanger) =>
                            @lastChangeRequest.map { lastRequest =>
                                <li data-flag-id="@project.id.value" class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span class="description">
                                                <strong>@lastVisibilityChanger</strong>
                                                <span class="minor"> requested changes on </span>
                                                <a href="@projectRoutes.show(project.ownerName, project.slug)">
                                                    @project.ownerName/<strong>@project.slug</strong>
                                                </a>
                                            </span>
                                            <p>
                                                <strong>Requests:</strong>
                                                @lastRequest.renderComment()
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-visibility-comment" tabindex="-1" role="dialog" aria-labelledby="modal-visibility-comment">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" style="color:black;">Comment</h4>
                </div>
                <div class="modal-body">
                    <textarea class="textarea-visibility-comment form-control" rows="3"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default">Close</button>
                    <button class="btn btn-visibility-comment-submit btn-primary"><i class="fa fa-pencil"></i> Submit</button>
                </div>
            </div>
        </div>
    </div>
}
