@import db.ModelService
@import models.project.Project
@import ore.OreConfig
@import db.impl.access.UserBase

@(needsApproval: Seq[Project], waitingProjects: Seq[Project])(implicit messages: Messages, request: Request[_], service: ModelService, config: OreConfig,
        users: UserBase)

@projectRoutes = @{controllers.project.routes.Projects}

@bootstrap.layout("Project Visibility") {

    <script type="text/javascript" src="@routes.Assets.at("javascripts/hideProject.js")"></script>

    <div class="container" style="margin-top: 90px">
        <div class="row">
            <div class="col-md-12 header-flags">
                <h2>Needs Approval</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left">Needs Approval</h4>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="list-group list-flags-admin">
                        @if(needsApproval.isEmpty) {
                            <li class="list-group-item">
                                <p>No projects found.</p>
                            </li>
                        }
                        @needsApproval.map { project =>
                            @if(project.lastChangeRequest.isDefined) {
                                <li data-flag-id="@project.id.get" class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-8">
                                            <span class="description">
                                                <strong>@users.get(project.lastChangeRequest.get.createdBy.getOrElse(1)).map(_.username).getOrElse("Unknown")</strong>
                                                <span class="minor"> requested changes on </span>
                                                <a href="@projectRoutes.show(project.ownerName, project.slug)">
                                                    @project.ownerName/<strong>@project.slug</strong>
                                                </a>
                                            </span>
                                            <p>
                                                <strong>Requests:</strong>
                                                @project.lastChangeRequest.get.renderComment()
                                            </p>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <span class="pull-right btn-group-sm">
                                                @projects.utils.btnHide(project, users.current.get)
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            } else {
                                <li data-flag-id="@project.id.get" class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-8">
                                            <span class="description">
                                                @if(project.lastVisibilityChange.isDefined) {
                                                    <strong>@users.get(project.lastVisibilityChange.get.createdBy.getOrElse(1)).map(_.username).getOrElse("Unknown")</strong>
                                                } else {
                                                    <strong>Unknown</strong>
                                                }
                                                <span class="minor"> requested changes on </span>
                                                <a href="@projectRoutes.show(project.ownerName, project.slug)">
                                                    @project.ownerName/<strong>@project.slug</strong>
                                                </a>
                                            </span>
                                            <p>
                                                <strong>No requests specified</strong>
                                            </p>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <span class="pull-right btn-group-sm">
                                            @projects.utils.btnHide(project, users.current.get)
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 header-flags">
                <h2>Wating Changes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left">Waiting Changes</h4>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="list-group list-flags-admin">
                        @if(waitingProjects.isEmpty) {
                            <li class="list-group-item">
                                <p>No projects found.</p>
                            </li>
                        }
                        @waitingProjects.map { project =>
                            @if(project.lastChangeRequest.isDefined) {
                                <li data-flag-id="@project.id.get" class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span class="description">
                                                <strong>@users.get(project.lastVisibilityChange.get.createdBy.getOrElse(1)).map(_.username).getOrElse("Unknown")</strong>
                                                <span class="minor"> requested changes on </span>
                                                <a href="@projectRoutes.show(project.ownerName, project.slug)">
                                                    @project.ownerName/<strong>@project.slug</strong>
                                                </a>
                                            </span>
                                            <p>
                                                <strong>Requests:</strong>
                                                @project.lastChangeRequest.get.renderComment()
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-visibility-comment" tabindex="-1" role="dialog" aria-labelledby="modal-visibility-comment">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" style="color:black;">Comment</h4>
                </div>
                <div class="modal-body">
                    <textarea class="textarea-visibility-comment form-control" rows="3"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default">Close</button>
                    <button class="btn btn-visibility-comment-submit btn-primary"><i class="fa fa-pencil"></i> Submit</button>
                </div>
            </div>
        </div>
    </div>
}
